<div class="shipping-record">
  <kendo-card class="card-green card-full">
    <kendo-card-body>
      <div class="k-d-flex k-flex-column k-gap-3">
        <div class="k-d-flex k-align-items-end k-gap-3 k-justify-content-between">
          <div class="field-container" style="flex: 1; display: flex; align-items: center;">
            <kendo-label text="Lot Number">
              <b class="required-label"></b>
              <br />
              <kendo-autocomplete placeholder="#Lot Number" rounded="large" [(ngModel)]="lotNumber" [data]="lotNumbers" [filterable]="true" (filterChange)="onFilter($event)" [disabled]="isEditMode" style="width:20rem"></kendo-autocomplete>
            </kendo-label>
          </div>
          <div class="field-container" style="flex: 1; display: flex; align-items: center;">
            <kendo-label text="Customer" class="k-w-full">
              <b class="required-label"></b>
              <br />
              <kendo-combobox [data]="customers" [(ngModel)]="customerSelected" (ngModelChange)="onChangeCustomer()"
                [textField]="'CustomerName'" [valueField]="'CustomerID'" placeholder="Select"
                rounded="large"  [disabled]="isEditMode" style="width:20rem"></kendo-combobox>
            </kendo-label>
          </div>
          <div class="field-container" style="flex: 1; display: flex; align-items: center;">
            <kendo-label text="Device Family" class="k-w-full">
              <b class="required-label"></b>
              <br />
              <kendo-autocomplete [data]="deviceFamily" [(ngModel)]="deviceFamily"  [valueField]="'DeviceFamily'"  placeholder="Select" rounded="large"  [disabled]="isEditMode" style="width:20rem"></kendo-autocomplete>
            </kendo-label>
          </div>
          </div>
        </div>
        <div class="k-d-flex k-flex-column k-gap-3">
          <div class="k-d-flex k-align-items-end k-gap-3 k-justify-content-between">
            <div class="field-container" style="flex: 1; display: flex; align-items: center;">
              <kendo-label text="Device" class="k-w-full">
                <b class="required-label"></b>
                <br />
                <kendo-autocomplete  [data]="device" [(ngModel)]="device" [valueField]="'device'"  placeholder="Select" rounded="large"  [disabled]="isEditMode" style="width:20rem"></kendo-autocomplete>
              </kendo-label>
            </div>
            <div class="field-container" style="flex: 1; display: flex; align-items: center;">
              <kendo-label text="Lot Qty" class="k-w-full">
                <b class="required-label"></b>
                <br />
                <kendo-textbox [(ngModel)]="lotQTY"  rounded="large"  [disabled]="isEditMode" style="width:20rem"></kendo-textbox>
              </kendo-label>
            </div>
            <div class="field-container" style="flex: 1; display: flex; align-items: center;">
              <kendo-label text="ReceivedQty">
                <br />
                <kendo-textbox [(ngModel)]="ReceivedQty" rounded="large" [disabled]="isDisabled.shipBtn" style="width:20rem"></kendo-textbox>
              </kendo-label>
            </div>
          </div>
        </div>
            
            
            
           <!--  <kendo-label text="Receiving Facility" >
              <b class="required-label"></b>
              <kendo-combobox [data]="receiptLocation" [(ngModel)]="receiptLocationSelected"
                [textField]="'receivingFacilityName'" [valueField]="'receivingFacilityID'" [allowCustom]="true"
                placeholder="Select" rounded="large" (valueChange)="onReceivingFacilityChange($event)" [disabled]="isDisabled.shipBtn"></kendo-combobox>
            </kendo-label>
           
            <kendo-label text="New Location">
              <b class="required-label"></b>
              <kendo-combobox 
                [data]="newLocations" 
                [(ngModel)]="newLocationSelected" 
                (ngModelChange)="onChangeNewLocations()"
                [textField]="'area_Name'" 
                [valueField]="'area_FacilityId'" 
                placeholder="Select" 
                rounded="large" [disabled]="isDisabled.shipBtn" >
              </kendo-combobox>
            </kendo-label> -->
        
        <div class="k-d-flex k-gap-3 k-mt-3">
          <!--   <button kendoButton type="button" rounded="large" themeColor="error" class="k-ml-auto" style="width:6rem"
            (click)="cancelRequest()">Cancel</button> -->
            <button kendoButton type="button" rounded="full" themeColor="info" class="k-ml-auto" style="width:6rem" [disabled]="isDisabled.shipBtn"
              (click)="saveInventorymove()">Save</button>
          </div>
    </kendo-card-body>
  </kendo-card>


  
 
</div>