<div class="k-d-flex k-align-items-center k-gap-3 k-py-2 k-px-4 page-header">
  <kendo-label text="Search" class="k-font-size-sm">
    <input kendoTextBox [(ngModel)]="searchTerm" type="search" placeholder="Search" class="search-input"
      rounded="full" (input)="onSearchMaster()" />
  </kendo-label>
  <kendo-label text="From Date" class="k-font-size-sm">
    <kendo-datepicker [format]="format" [(value)]="fromDate" rounded="full"></kendo-datepicker>
  </kendo-label>
  <kendo-label text="To Date" class="k-font-size-sm">
    <kendo-datepicker [format]="format" [(value)]="toDate" rounded="full"></kendo-datepicker>
  </kendo-label>
  <div class="k-ml-auto k-d-flex k-gap-2">
    <button kendoButton rounded="full" themeColor="success" (click)="onSearch()">Search</button>
    <button kendoButton rounded="full" themeColor="info" (click)="onAddButtonClick()">Add Customer Request</button>
  </div>
</div>


<div class="k-m-4" *ngIf="!false">
  <kendo-grid 
      [kendoGridBinding]="gridDataResult.data"  
      [selectable]="selectableSettings" 
      [columnMenu]="columnMenuSettings"
      [filterable]="true" 
      [sortable]="true" 
      [resizable]="true" 
      [pageSize]="pageSize"
      [skip]="skip" 
      [pageable]="true" 
      (pageChange)="pageChange($event)" 
      class="grid-header-sm grid-header-bold" (cellClick)="onCellClick($event)"  [rowClass]="rowCallback" >

     <!--  <kendo-grid-checkbox-column [width]="40"></kendo-grid-checkbox-column> -->

      <!-- Loop through the columns dynamically -->
      <kendo-grid-column field="customerName" title="Customer Name">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.customerName">{{dataItem.customerName}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="companyName" title="Company Name">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.companyName">{{dataItem.companyName}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="contactPerson" title="Contact Person">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.contactPerson">{{dataItem.contactPerson}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="contactPhone" title="Contact Phone">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.contactPhone">{{dataItem.contactPhone}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="orderStatus" title="Order Status">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.orderStatus">{{dataItem.orderStatus}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="active" title="Active">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.active">{{dataItem.active}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="customerOrderType" title="Customer Order Type">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.customerOrderType">{{dataItem.customerOrderType}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="createdOn" title="Created On">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.createdOn | date:'MM/dd/yyyy HH:mm:ss' }}
        </ng-template>
      </kendo-grid-column>
    <ng-template kendoGridCellTemplate let-dataItem>

     </ng-template>

  </kendo-grid>
</div>
<kendo-contextmenu [items]="rowActionMenu" (select)="onSelectRowActionMenu($event)" size="large"
#gridContextMenu></kendo-contextmenu>

<kendo-dialog *ngIf="isDialogOpen" (close)="closeDialog()" [minWidth]="250" [width]="'68%'" class="dialog-round">
  <div class="k-d-flex k-align-items-center k-mb-3">
      <h2 class="k-m-0">Add Customer Request</h2>
      <button kendoButton type="button" rounded="full" class="k-ml-auto" [svgIcon]="ICON.xIcon" size="small"
          (click)="closeDialog()"></button>
  </div>
  <app-add-customer-request [customerOrd]="customerOrd" [deliveryInfo]="deliveryInfo" [formOrdData]="formOrdData" [isEditMode]="isEditMode"  [addCustomerMode]="addCustomerMode" (cancel)="closeDialog()" (customerAdded)="submitForm()"></app-add-customer-request>
</kendo-dialog>