<div class="k-d-flex k-align-items-center k-gap-3 k-py-2 k-px-10 page-header">
    <h2>Customer Order</h2>
    <div class="search-box k-ml-auto">
        <kendo-icon name="search" themeColor="secondary" class="search-icon"></kendo-icon>
        <input kendoTextBox type="search" placeholder="Search" class="search-input" rounded="full" />
        <button kendoButton rounded="full" themeColor="success" class="search-btn">Search</button>
    </div>
    <button rounded="full" themeColor="info" style="padding: 0.3rem 1.2rem" (click)="openDialog()" kendoButton>Add
        Customer Request</button>
</div>

<div class="k-m-10" *ngIf="!false">
    <kendo-grid [kendoGridBinding]="gridData" [selectable]="selectableSettings" [columnMenu]="columnMenuSettings"
        [filterable]="true" [sortable]="true" [resizable]="true">
        <kendo-grid-checkbox-column [width]="40"></kendo-grid-checkbox-column>

        <kendo-grid-column *ngFor="let c of columnData" [field]="c.field" [title]="c.title"></kendo-grid-column>
        <kendo-grid-column [width]="60">
            <ng-template kendoGridCellTemplate let-dataItem>
                <button kendoButton icon="more-vertical" #rowActionMenu></button>
                <kendo-contextmenu showOn="click" [target]="rowActionMenu" [items]="items"></kendo-contextmenu>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
</div>

<kendo-dialog *ngIf="isDialogOpen" (close)="closeDialog()" [minWidth]="250" [width]="'68%'" class="dialog-round">
    <div class="k-d-flex k-align-items-center k-mb-3">
        <h2 class="k-m-0">Add Customer Request</h2>
        <button kendoButton type="button" rounded="full" class="k-ml-auto" icon="close" size="small"
            (click)="closeDialog()"></button>
    </div>
    <app-add-customer-request></app-add-customer-request>
</kendo-dialog>