<div class="k-m-3 k-overflow-y-auto" style="height: 80vh;">
    <div class="k-d-flex k-align-items-end k-gap-3">
        <kendo-label text="Customer">
            <b class="required-label"></b>
            <kendo-combobox [data]="customer" [(ngModel)]="customerSelected" [textField]="'customerName'"
                [valueField]="'customerID'" placeholder="Select" rounded="large"  [disabled]="!addCustomerMode"></kendo-combobox>
        </kendo-label>

        <!-- Device Type ComboBox -->
        <kendo-label text="Device Type">
            <b class="required-label"></b>
            <kendo-combobox [data]="deviceTypes" placeholder="Device" rounded="large" [(ngModel)]="deviceTypeSelected"  [disabled]="!addCustomerMode">
            </kendo-combobox>
        </kendo-label>
        <kendo-label text="Lot Number">
            <!-- <b class="required-label"></b> -->
            <kendo-textbox placeholder="#Lot Number" rounded="large" [(ngModel)]="lotNumber"  [disabled]="!addCustomerMode">
            </kendo-textbox>
        </kendo-label>

        <kendo-button themeColor="success" rounded="large" style="width: 7rem" (click)="onSearch()"  [disabled]="!addCustomerMode" >
            Search
        </kendo-button>
    </div>

    <kendo-grid   #grid  [kendoGridBinding]="gridDataResult.data" class="k-my-3" [height]="300"
        [selectable]="{ checkboxOnly: true, mode: 'multiple' }" (selectionChange)="onSelectionChange($event)" [sortable]="true" [resizable]="true"
        (cellClose)="cellCloseHandler($event)" (cellClick)="editHandler($event)"  [rowSelected]="isRowSelected"   class="grid-header-sm grid-header-bold" >
        <kendo-grid-checkbox-column [width]="40"  ></kendo-grid-checkbox-column>

        <kendo-grid-column *ngFor="let column of columns" [field]="column.field" [title]="column.title"
            [width]="column.width">

            <!-- Default Cell Template -->
            <ng-template kendoGridCellTemplate let-dataItem>
                {{ dataItem[column.field] }}
            </ng-template>

            <!-- Edit Template for shippedQty-->
            <ng-template *ngIf="column.field === 'shippedQty'" kendoGridEditTemplate let-dataItem="dataItem">
                <input kendoTextBox [(ngModel)]="dataItem.shippedQty" type="number" />
            </ng-template>

        </kendo-grid-column>

    </kendo-grid>


    <div class="k-d-flex k-gap-4 k-mb-4" style="padding-top:2%;">
        <input type="checkbox" kendoCheckBox [(ngModel)]="formData.OQA" [disabled]="!isEditMode" >
        <kendo-label text="OQA"></kendo-label>
        <input type="checkbox" kendoCheckBox [(ngModel)]="formData.Bake" [disabled]="!isEditMode">
        <kendo-label text="Bake"></kendo-label>
        <input type="checkbox" kendoCheckBox [(ngModel)]="formData.PandL" [disabled]="!isEditMode">
        <kendo-label text="P&L"></kendo-label>
    </div>
    <kendo-card class="card-full">
        <kendo-card-body>
            <h2 class="k-mt-2">Address:</h2>
            <div class="k-d-flex k-flex-col k-gap-2 k-w-full">
                <div class="k-d-flex k-gap-4">
                    <input type="text" placeholder="Contact Name" class="k-w-full" kendoTextBox
                        [(ngModel)]="formData.ContactPerson" name="ContactPerson" required #ContactPerson="ngModel" [disabled]="!isEditMode ">

                    <input type="text" placeholder="Company Name" class="k-w-full" kendoTextBox
                        [(ngModel)]="formData.CompanyName" name="CompanyName" required #CompanyName="ngModel" [disabled]="!isEditMode">
                    <input type="text" placeholder="Phone Number" class="k-w-full" kendoTextBox
                        [(ngModel)]="formData.ContactPhone" name="ContactPhone" required pattern="[0-9]{10}"
                        #ContactPhone="ngModel" [disabled]="!isEditMode">
                </div>
                <div class="k-d-flex k-gap-4">
                    <input type="text" placeholder="Address Line1" class="k-w-full" kendoTextBox
                        [(ngModel)]="formData.Address1" name="addressLine1" required #addressLine1="ngModel" [disabled]="!isEditMode">
                    <input type="text" placeholder="Address Line2" class="k-w-full" kendoTextBox
                        [(ngModel)]="formData.Address2" [disabled]="!isEditMode">
                    <input type="text" placeholder="Zip" class="k-w-full" kendoTextBox [(ngModel)]="formData.Zip"
                        name="Zip" required #zip="ngModel" [disabled]="!isEditMode">
                </div>
                <div class="k-d-flex k-gap-4">
                    <!--  <kendo-combobox placeholder="City" class="k-w-full" rounded="large" [(ngModel)]="formData.city"></kendo-combobox>
                <kendo-combobox placeholder="State" class="k-w-full" rounded="large" [(ngModel)]="formData.state"></kendo-combobox>
                <kendo-combobox placeholder="Country" class="k-w-full" rounded="large" [(ngModel)]="formData.country"></kendo-combobox>
 -->
                    <input type="text" placeholder="City" class="k-w-full" kendoTextBox [(ngModel)]="formData.City"
                        name="City" required #city="ngModel" [disabled]="!isEditMode">
                    <input type="text" placeholder="State" class="k-w-full" kendoTextBox [(ngModel)]="formData.State"
                        name="State" required #state="ngModel" [disabled]="!isEditMode">
                    <input type="text" placeholder="Country" class="k-w-full" kendoTextBox
                        [(ngModel)]="formData.Country" name="Country" required #country="ngModel" [disabled]="!isEditMode">
                </div>
            </div>
        </kendo-card-body>
    </kendo-card>
    <div class="k-d-flex k-gap-3 k-mt-3">
        <button kendoButton type="button" rounded="large" themeColor="error" class="k-ml-auto" style="width:6rem"
            (click)="cancelRequest()">Cancel</button>
        <button kendoButton type="button" rounded="large" themeColor="success" style="width:6rem"
            (click)="submitForm()"  [disabled]="!isEditMode" >Submit</button>
    </div>
</div>