<div class="k-m-3 k-overflow-y-auto" style="height: 80vh;">
  <div class="k-d-flex k-align-items-end k-gap-3" style="padding-bottom: 20px">
      <kendo-label text="Customer OrderType">
    
          <kendo-combobox [data]="customerOrderTypes" placeholder="Select" rounded="large" [(ngModel)]="customerOrderTypeSelected"  [disabled]="!addCustomerMode">
          </kendo-combobox>
      </kendo-label>

      <kendo-label text="Customer">
         
          <kendo-combobox [data]="customer" [(ngModel)]="customerSelected" [textField]="'CustomerName'"
              [valueField]="'CustomerID'" placeholder="Select" rounded="large"  [disabled]="!addCustomerMode" (valueChange)="onCustomerChange($event)"></kendo-combobox>
      </kendo-label>

      <!-- Device Type ComboBox -->
      <kendo-label text="Device Type" hidden>
         
          <kendo-combobox [data]="deviceTypes" placeholder="Device" rounded="large" [(ngModel)]="deviceTypeSelected"  [disabled]="!addCustomerMode">
          </kendo-combobox>
      </kendo-label>
    <!--   <kendo-label text="Lot Number">
        
          <kendo-textbox placeholder="#Lot Number" rounded="large" [(ngModel)]="lotNumber"  [disabled]="!addCustomerMode">
          </kendo-textbox>
      </kendo-label> -->

      <kendo-label text="Lot Number">
          <kendo-autocomplete
            placeholder="#Lot Number"
            rounded="large"
            [(ngModel)]="lotNumber"
            [data]="lotNumbers"
            [disabled]="!addCustomerMode"
            [filterable]="true"
            (filterChange)="onFilter($event)">
          </kendo-autocomplete>
        </kendo-label>

      <button kendoButton themeColor="success" rounded="large" style="width: 7rem" (click)="onSearch()"  [disabled]="!addCustomerMode" >
          Search
      </button>
  </div>

  <kendo-grid   #grid  [kendoGridBinding]="gridDataResult.data" class="k-my-3" [height]="300" 
      [selectable]="{ checkboxOnly: true, mode: 'multiple' }" (selectionChange)="onSelectionChange($event)" [sortable]="true" [resizable]="true"
      (cellClose)="cellCloseHandler($event)" (cellClick)="editHandler($event)"  [rowSelected]="isRowSelected"   class="grid-header-sm grid-header-bold" >
      <kendo-grid-checkbox-column [width]="40" ></kendo-grid-checkbox-column>

      <kendo-grid-column *ngFor="let column of columns" [field]="column.field" [title]="column.title"
          [width]="column.width">

          <!-- Default Cell Template -->
    <!--       <ng-template kendoGridCellTemplate let-dataItem>
              {{ dataItem[column.field] }}
          </ng-template> -->
          <ng-template kendoGridCellTemplate let-dataItem>
              <a class="minimal-text" [title]="dataItem?.[column.field] || ''">
                  {{ dataItem?.[column.field] || '' }}
              </a>
          </ng-template>

          <!-- Edit Template for shippedQty-->
          <ng-template *ngIf="column.field === 'shippedQty'" kendoGridEditTemplate let-dataItem="dataItem">
              <input kendoTextBox [(ngModel)]="dataItem.shippedQty" type="number" class="black-border-textbox" />
          </ng-template>
  

      </kendo-grid-column>

  </kendo-grid>

 
  <div class="k-d-flex k-gap-4 k-mb-4" style="padding-top:2%;">
      <input type="checkbox" kendoCheckBox [(ngModel)]="formData.OQA" [disabled]="!isEditMode" style=" border: 1px solid black;  border-radius: 4px; " >
      <kendo-label text="OQA"></kendo-label>
      <input type="checkbox" kendoCheckBox [(ngModel)]="formData.Bake" [disabled]="!isEditMode" style="border: 1px solid black;  border-radius: 4px;">
      <kendo-label text="Bake"></kendo-label>
      <input type="checkbox" kendoCheckBox [(ngModel)]="formData.PandL" [disabled]="!isEditMode" style="border: 1px solid black;  border-radius: 4px;">
      <kendo-label text="P&L"></kendo-label>
  </div>
  <app-add-shipping-address [deliveryInfo]="deliveryInfo" [customerSelected]="customerSelected" [isEditMode]="isEditMode"  [addCustomerMode]="addCustomerMode"></app-add-shipping-address>
 
  <kendo-dialog *ngIf="emailError" (close)="onemailErrorClose()">
    <kendo-dialog-titlebar>
      Traveler
    </kendo-dialog-titlebar>
    <p>{{ emailMessage }}</p>
    <kendo-dialog-actions>
      <button kendoButton (click)="onErrorClose()">OK</button>
    </kendo-dialog-actions>
  </kendo-dialog>
  
  <kendo-dialog *ngIf="totalValueError" (close)="onTotalValueErrorClose()">
    <kendo-dialog-titlebar>
      Traveler
    </kendo-dialog-titlebar>
    <p>{{ totalValueMessage }}</p>
    <kendo-dialog-actions>
      <button kendoButton (click)="onTotalValueErrorClose()">OK</button>
    </kendo-dialog-actions>
  </kendo-dialog>
  
  <kendo-dialog *ngIf="shipAlertEmailError" (close)="onShipAlertEmailErrorClose()">
    <kendo-dialog-titlebar>
      Traveler
    </kendo-dialog-titlebar>
    <p>{{ shipAlertEmailMessage }}</p>
    <kendo-dialog-actions>
      <button kendoButton (click)="onShipAlertEmailErrorClose()">OK</button>
    </kendo-dialog-actions>
  </kendo-dialog>
  
  <kendo-dialog *ngIf="unitValueError" (close)="onUnitValueErrorClose()">
    <kendo-dialog-titlebar>
      Shipping
    </kendo-dialog-titlebar>
    <p>{{ unitValueMessage }}</p>
    <kendo-dialog-actions>
      <button kendoButton (click)="onUnitValueErrorClose()">OK</button>
    </kendo-dialog-actions>
  </kendo-dialog>
  <div class="k-d-flex k-gap-3 k-mt-3">
      <button kendoButton type="button" rounded="large" themeColor="error" class="k-ml-auto" style="width:6rem"
          (click)="cancelRequest()">Cancel</button>
      <button kendoButton type="button" rounded="large" themeColor="success" style="width:6rem"
          (click)="submitForm()"  [disabled]="!isEditMode" >Submit</button>
  </div>
</div>