<div class="k-d-flex k-align-items-center k-gap-3 k-py-2 k-px-4 page-header">
  <kendo-label text="Search" class="k-font-size-sm">
    <input kendoTextBox [(ngModel)]="searchTerm" type="search" placeholder="Search" class="search-input"
      rounded="full" (input)="onSearchMaster()" />
  </kendo-label>
  <kendo-label text="Start Date" class="k-font-size-sm">
    <kendo-datepicker [format]="format" [(value)]="fromDate" rounded="full"></kendo-datepicker>
  </kendo-label>
  <kendo-label text="End Date" class="k-font-size-sm">
    <kendo-datepicker [format]="format" [(value)]="toDate" rounded="full"></kendo-datepicker>
  </kendo-label>
  <div class="k-ml-auto k-d-flex k-gap-2">
    <button kendoButton rounded="full" themeColor="success" (click)="onSearch()">Search</button>
    <button kendoButton rounded="full" themeColor="info" (click)="openDialog()">Add</button>
  </div>
</div>
<div class="k-m-4" *ngIf="!false">
  <kendo-grid 
      [kendoGridBinding]="gridDataResult.data"  
      [selectable]="selectableSettings" 
      [filterable]="true" 
      [sortable]="true" 
      [resizable]="true" 
      [pageSize]="pageSize"
      [skip]="skip" 
      [pageable]="true" 
      (pageChange)="pageChange($event)" 
      (cellClick)="onCellClick($event)"
      class="grid-header-sm grid-header-bold" [rowClass]="rowCallback">
      <kendo-grid-column field="customerLotNumber" title="Customer LotNumber">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.customerLotNumber">{{dataItem.customerLotNumber}}</div>
        </ng-template>
      </kendo-grid-column> 
      <kendo-grid-column field="lotNum" title="Lot#/Serial#">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.lotNum">{{dataItem.lotNum}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="customerName" title="Customer Name">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.customerName">{{dataItem.customerName}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="device" title="Device">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.device">{{dataItem.device}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="currentLocation" title="Current Location">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.currentLocation">{{dataItem.currentLocation}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="inventoryStatus" title="Inventory Status">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.inventoryStatus">{{dataItem.inventoryStatus}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="qty" title="Qty" [width]="80">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.qty">{{dataItem.qty}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="wipLocation" title="WIP Location">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.wipLocation">{{dataItem.wipLocation}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="receivedFromCheckOut" title="Received From/CheckOut To">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.receivedFromCheckOut">{{dataItem.receivedFromCheckOut}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="area" title="Area">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.area">{{dataItem.area}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="systemCheckInOutPerson" title="System CheckIn/Out Person">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.systemCheckInOutPerson">{{dataItem.systemCheckInOutPerson}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="checkInOutTime" title="CheckIn/Out Time">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.checkInOutTime">{{dataItem.checkInOutTime}}</div>
        </ng-template>
      </kendo-grid-column>
  </kendo-grid>
</div>
<kendo-contextmenu [items]="rowActionMenu" (select)="onSelectRowActionMenu($event)" size="large"
#gridContextMenu></kendo-contextmenu>

<kendo-dialog *ngIf="isDialogOpen" (close)="closeDialog()" [width]="'auto'" [height]="'auto'" style="width: 100%; height: 100%;" class="dialog-round custom-dialog">
  <div class="k-d-flex k-align-items-center k-mb-3">
      <h2 class="k-m-0">Check In / Check Out</h2>
      <button kendoButton type="button" rounded="full" class="k-ml-auto" [svgIcon]="ICON.xIcon" size="small"
          (click)="closeDialog()"></button>
  </div>
  <app-add-check-inout [isReadOnly]="viewMode"  [selectedRowData]="checkinoutData" (statusUpdated)="onRecordUpdated($event)" (cancel)="closeDialog()"></app-add-check-inout>
</kendo-dialog>
