trigger:
  - main

pool:
  name: 'Default'
  demands:
    - agent.name -equals viroc-agent1

variables:
  buildConfiguration: 'production'
  buildDirectory: '$(Build.ArtifactStagingDirectory)/dist'

steps:
# Step 1: List all files (for debugging)
- script: dir /s
  displayName: 'List all files'

# Step 2: Install Node.js
- task: UseNode@1
  inputs:
    version: '18.x'

# Step 3: Install Angular CLI
- script: npm install -g @angular/cli
  displayName: 'Install Angular CLI'

# Step 4: Install Dependencies (Fix Missing Packages)
- script: |
    npm ci
    npm install --save-dev @angular-devkit/build-angular
    npm i @progress/kendo-licensing
    npx kendo-ui-license activate
  displayName: 'Install Dependencies'
  env:
      TELERIK_LICENSE: $(TELERIK_LICENSE)
# Step 5: Debug Angular CLI Version
- script: ng version
  displayName: 'Debug Angular CLI Version'

# Step 6: Build Angular Application
- script: ng build --configuration=$(buildConfiguration) --output-path=$(buildDirectory)
  displayName: 'Build Angular Application'

# Step 7: Archive Build Output into ZIP
- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(buildDirectory)'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/angular-app.zip'
    replaceExistingArchive: true
  displayName: 'Create ZIP package'

# Step 8: Publish Build Artifacts (ZIP)
- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)/angular-app.zip'
    ArtifactName: 'drop'
    publishLocation: 'Container'
  displayName: 'Publish Angular Build ZIP'
