.disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  fieldset.hold-details .k-label
  {
      color: black;
  }

  fieldset.hold-details .checkbox,
  fieldset.hold-details .combobox,
  fieldset.hold-details .checkbox,
  fieldset.hold-details .textbox,
  fieldset.hold-details .textarea,
  fieldset.hold-details .value-text {
    color: black;
    border-color: rgb(177, 174, 174);
    opacity: 1 !important;
  }
  ::ng-deep .checkbox .k-checkbox {
    border: 2px solid rgb(177, 174, 174) !important;
  }
  

  .field-container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lot-number {
    flex: 0.7; /* Reduce space for Lot Number */
}

.customer {
    flex: 1.5; /* Increase space for Customer */
}

.device {
    flex: 1; /* Keep Device field balanced */
}

.field-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
