<div class="k-m-3 k-overflow-y-auto" style="height: 62vh;">
  <kendo-card-body class="card-flex">
      <legend><b>Lot Info</b></legend>
      <kendo-card-body class="card-flex" style="background-color:#E8F9F1">
        <div class="k-d-flex k-align-items-end k-gap-3 k-justify-content-between">
            <div class="field-container">
              <kendo-label [for]="'lotNumber'" class="label-text">Lot/ Mail/ FGI Pull #:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </kendo-label>
              <span class="value-text">{{ lotNumber }}</span>
            </div>
            <div class="field-container">
              <kendo-label [for]="'location'" class="label-text">Location:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</kendo-label>
              <span class="value-text">{{ location }}</span>
            </div>
            <div class="field-container">
              <kendo-label [for]="'noOfHolds'" class="label-text">No Of Holds:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</kendo-label>
              <span class="value-text">{{ noOfHolds  }}</span>
            </div>
            <div class="field-container">
              <kendo-label [for]="'noOfHolds'" class="label-text">Customer:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </kendo-label>
              <span class="value-text">{{ noOfHolds }}</span>
            </div>
            <div class="field-container">
              <kendo-label [for]="'noOfHolds'" class="label-text">Device:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </kendo-label>
              <span class="value-text">{{ noOfHolds }}</span>
            </div>
          </div>          
    </kendo-card-body> 

    <fieldset class="k-mt-3">
      <legend><b>Hold Details</b></legend>
      <div class="k-d-flex k-flex-column k-gap-3">
        <div class="k-d-flex k-align-items-center k-gap-3">
          <label class="k-label k-mb-0" style="min-width: 150px;">Hold:<b class="required-label"></b></label>
          <kendo-checkbox [(ngModel)]="isHold" label="Hold"></kendo-checkbox>
        </div>

        <div class="k-d-flex k-flex-wrap k-gap-3">
          <label class="k-label" style="min-width: 150px;">Hold Type:<b class="required-label"></b></label>
          <div>
            <kendo-combobox
              [(ngModel)]="selectedHoldType"
              [data]="holdTypes"
              placeholder="Select Hold Type"
              [disabled]="!isHold">
            </kendo-combobox>
          </div>
        </div>

        <div class="k-d-flex k-align-items-center k-gap-3">
          <label class="k-label k-mb-0" style="min-width: 150px;">Hold Code:<b class="required-label"></b></label>
          <div>
            <kendo-treeview
              [nodes]="treeNodes"
              [textField]="['groupName', 'holdCode']"
              kendoTreeViewExpandable
              kendoTreeViewHierarchyBinding
              kendoTreeViewSelectable
              childrenField="holdGroupDetails"
              (selectionChange)="onSelectionChange($event)">
            </kendo-treeview>
          </div>
        </div>

        <div class="k-d-flex k-align-items-center k-gap-3">
          <label class="k-label k-mb-0" style="min-width: 150px;">Reason:<b class="required-label"></b></label>
          <kendo-textarea
            [(ngModel)]="reason"
            style="flex: 1;"
            [disabled]="!isHold">
          </kendo-textarea>
        </div>

        <div class="k-d-flex k-align-items-center k-gap-3">
          <label class="k-label k-mb-0" style="min-width: 150px;">Hold Comments:<b class="required-label"></b></label>
          <kendo-textarea
            [(ngModel)]="holdComments"
            style="flex: 1;"
            [disabled]="!isHold">
          </kendo-textarea>
        </div>

        <div class="k-d-flex k-align-items-center k-gap-3">
          <label class="k-label k-mb-0" style="min-width: 150px;">Off Hold Comments:<b class="required-label"></b></label>
          <kendo-textarea
            [(ngModel)]="offHoldComments"
            [disabled]="isHold"
            style="flex: 1;">
          </kendo-textarea>
        </div>

        <div class="k-d-flex k-align-items-center k-gap-3">
          <kendo-label class="k-mb-0" style="min-width: 150px;">Hold By:</kendo-label>
          <span class="value-text">{{ holdBy || '......' }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <kendo-label class="k-mb-0" style="min-width: 150px;">Hold Time:</kendo-label>
          <span class="value-text">{{ holdTime || '......' }}</span>
        </div>
    
        <div class="k-d-flex k-align-items-center k-gap-3">
          <kendo-label class="k-mb-0" style="min-width: 150px;">Off Hold By:</kendo-label>
          <span class="value-text">{{ holdBy || '......' }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <kendo-label class="k-mb-0" style="min-width: 150px;">Off Hold Time:</kendo-label>
          <span class="value-text">{{ offHoldTime || '......' }}</span>
        </div>
      </div>
    </fieldset>
    <div class="k-d-flex k-gap-3 k-mt-3">
      <button kendoButton type="button" rounded="full" themeColor="info" class="k-ml-auto" style="width:6rem" (click)="save()">Save</button>
      <button kendoButton type="button" rounded="full" themeColor="error" style="width:6rem" (click)="resetForm()">Cancel</button>
    </div>
    