.attachment-container {
    background: #E8F9F1;
    padding: 10px;
    border-radius: 5px;
  }
  
  .info-section {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .file-upload-section {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .small-file-input {
    width: 50%;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .button-container {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  