<div class="shipping-record">
    <kendo-card class="card-green card-full">
      <kendo-card-body>
        <div class="k-d-flex k-gap-3 nested-cards">
          <div class="k-d-flex k-gap-2 k-flex-col k-flex-1">
            <div class="k-d-flex k-gap-3 flex-col-sm">
              <kendo-label text="Customer" class="k-w-full">
                <b class="required-label"></b>
                <kendo-combobox [data]="customers" [(ngModel)]="customerSelected" (ngModelChange)="onChangeCustomer()"
                  [textField]="'CustomerName'" [valueField]="'CustomerID'" placeholder="Select"
                  rounded="large"></kendo-combobox>
              </kendo-label>
              <kendo-label text="Lot Number">
                <kendo-autocomplete
                  placeholder="#Lot Number"
                  rounded="large"
                  [(ngModel)]="lotNumber"
                  [data]="lotNumbers"
                  [filterable]="true"
                  (filterChange)="onFilter($event)">
                </kendo-autocomplete>
              </kendo-label>
    
            <kendo-button themeColor="success"  rounded="full"  style="width: 7rem" (click)="onSearch()"  >
                Search
            </kendo-button>
            </div>
           
          </div>
  
      <!--     <div class="k-d-flex k-gap-2 k-flex-col k-flex-1">
            <div class="k-d-flex k-gap-3 flex-col-sm">
              <kendo-label text="Shipment Category" class="k-w-full">
                <kendo-combobox [data]="shipmentCategories" [(ngModel)]="shipmentCategorySelected"
                  [textField]="'shipmentCategoryName'" [valueField]="'shipmentCategoryID'" placeholder="Select"
                  rounded="large"></kendo-combobox>
              </kendo-label>
              <kendo-label text="Current Location" class="k-w-full">
                <kendo-combobox [data]="receiptLocation" [(ngModel)]="receiptLocationSelected"
                  [textField]="'receivingFacilityName'" [valueField]="'receivingFacilityID'" placeholder="Select"
                  rounded="large"></kendo-combobox>
              </kendo-label>
            </div>
  
            <div class="k-d-flex k-gap-3 flex-col-sm">
              <kendo-label text="Shipment" class="k-w-full">
                <small class="k-ml-1">(Is Shipped?)</small>
                <br>
                <input type="checkbox" kendoCheckBox [(ngModel)]="isShipped"
                  style="border: 1px solid black;  border-radius: 4px;">
              </kendo-label>
              <kendo-label text="Shipment Location" class="k-w-full">
                <kendo-textbox placeholder="Enter" rounded="large" [(ngModel)]="shipmentLocation">
                </kendo-textbox>
              </kendo-label>
            </div>
            <div class="k-d-flex k-gap-3" class="k-w-full">
              <kendo-label text="Customer Information">
                <b class="required-label"></b>
                <kendo-textarea [rows]="4" placeholder="Enter info" rounded="large"
                  [(ngModel)]="customerInformation"></kendo-textarea>
              </kendo-label>
            </div>
            <kendo-button type="button" rounded="large" themeColor="dark"
              (click)="autoFillTestValues()">AutoFillTestValues</kendo-button>
          </div> -->
        </div>
      </kendo-card-body>
    </kendo-card>
    <div class="grid-container k-my-6">
      <kendo-grid [kendoGridBinding]="gridDataResult.data" [selectable]="selectableSettings" [resizable]="true" [pageSize]="pageSize" [skip]="skip" [pageable]="true" (pageChange)="pageChange($event)"
        [kendoGridSelectBy]="'inventoryID'" [(selectedKeys)]="gridSelectedKeys" (selectionChange)="onSelectionChange($event)"
        class="bold-column-header cell-border-none">
        <kendo-grid-checkbox-column [width]="40"></kendo-grid-checkbox-column>
        <kendo-grid-column field="receiptID" title="receiptID#"></kendo-grid-column>
        <kendo-grid-column field="goodsType" title="goodsType"></kendo-grid-column>
        <kendo-grid-column  field="inventoryID"
          title="inventoryID"></kendo-grid-column>
        <kendo-grid-column field="iseLotNum" title="ISE Lot#"></kendo-grid-column>
        <kendo-grid-column field="customerLotNum" title="customerLotNum"></kendo-grid-column>
        <kendo-grid-column field="expectedQty" title="expectedQty"></kendo-grid-column>
        <kendo-grid-column field="expedite" title="expedite"></kendo-grid-column>
        <kendo-grid-column field="partNum" title="partNum"></kendo-grid-column>
    
        <kendo-grid-column field="labelCount" title="labelCount"></kendo-grid-column>
        <kendo-grid-column field="coo" title="coo"></kendo-grid-column>
        <kendo-grid-column field="dateCode" title="dateCode"></kendo-grid-column>
        <kendo-grid-column field="isHold" title="isHold"></kendo-grid-column>
    
        <kendo-grid-column field="active" title="active"></kendo-grid-column>
      </kendo-grid>
    </div>

    <div>
      <kendo-card  class="card-blue card-full">
        <kendo-card-body class="card-flex">
          <div class="k-d-flex k-align-items-center k-gap-4">
            <div>
              <kendo-label text="Select Primary Lot">
              <kendo-combobox
              
                [data]="dropdownData"
                [textField]="'iseLotNum'"
                [valueField]="'inventoryID'"
                [(ngModel)]="selectedDropdownValue"
                [placeholder]="dropdownData.length > 0 ? 'Select Lot' : 'No lots available'"
              >
              </kendo-combobox>
              </kendo-label>
      
            </div>
            <kendo-label text="Combo LotName">
              <b class="required-label"></b>
              
              <kendo-textarea [rows]="2" placeholder="Enter Name" rounded="large"
                [(ngModel)]="comboLotName"></kendo-textarea>
            </kendo-label>
            <kendo-label text="Combo Lot Comments" >
              <kendo-textarea [(ngModel)]="ComboComments" [rows]="2" placeholder="Enter comments"
                rounded="large"></kendo-textarea>
            </kendo-label>
          </div>
        </kendo-card-body>
      </kendo-card>
    </div>
    <div class="k-d-flex k-gap-3 k-mt-3">
      <button kendoButton type="button" rounded="large" themeColor="error" class="k-ml-auto" style="width:6rem"
      (click)="cancelRequest()">Cancel</button>
      <button kendoButton type="button" rounded="full" themeColor="info" class="k-w-25" [disabled]="isDisabled.shipBtn"
        (click)="saveCombineLots()">Save</button>
    </div>
  </div>