<div class="shipping-record">
  <kendo-card class="card-green card-full">
    <kendo-card-body>
      <div class="k-d-flex k-gap-3 nested-cards">
        <div class="k-d-flex k-gap-2 k-flex-col k-flex-1">
          <div class="k-d-flex k-gap-3 flex-col-sm">
            <kendo-label text="Customer" class="k-w-full">
              <b class="required-label"></b>
              <kendo-combobox [data]="customers" [(ngModel)]="customerSelected" (ngModelChange)="onChangeCustomer()"
              [textField]="'CustomerName'" [valueField]="'CustomerID'" placeholder="Select"
              rounded="large"></kendo-combobox>
            </kendo-label>
            <kendo-label text="Lot Number">
              <kendo-autocomplete
              placeholder="#Lot Number"
              rounded="large"
              [(ngModel)]="lotNumber"
              [data]="lotNumbers"
              [filterable]="true"
              (filterChange)="onFilter($event)">
              </kendo-autocomplete>
            </kendo-label>
            <div class="search-box k-ml-auto" style="padding-top: 20px;">
              <kendo-button themeColor="success"  rounded="full" class="k-w-25" (click)="onSearch()"   [disabled]="isDisabled.shipBtn">Search</kendo-button>
            </div>
          </div>
        </div>
      </div>
    </kendo-card-body>
  </kendo-card>
  <div class="grid-container k-my-6">
    <kendo-grid
      [kendoGridBinding]="gridDataResult.data"
      [selectable]="selectableSettings" 
      [resizable]="true" 
      [height]="400" 
      [kendoGridSelectBy]="'inventoryID'" 
      [(selectedKeys)]="gridSelectedKeys" 
      (selectionChange)="onSelectionChange($event)"
      class="bold-column-header cell-border-none">
      <kendo-grid-checkbox-column [width]="5"></kendo-grid-checkbox-column>
      <kendo-grid-column field="receiptID" title="Receipt ID#" [width]="12">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.receiptID">{{dataItem.receiptID}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column  field="inventoryID" title="Inventory ID" [width]="12">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.inventoryID">{{dataItem.inventoryID}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="iseLotNum" title="ISE Lot#" [width]="15">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.iseLotNum">{{dataItem.iseLotNum}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="customerLotNum" title="Customer Lot Num" [width]="25">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.customerLotNum">{{dataItem.customerLotNum}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="expectedQty" title="Expected Qty" [width]="15">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.expectedQty">{{dataItem.expectedQty}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="labelCount" title="Label Count" [width]="15">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.labelCount">{{dataItem.labelCount}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="coo" title="COO" [width]="15">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.coo">{{dataItem.coo}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="runningCount" title="Running Count" [width]="15">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.runningCount">{{dataItem.runningCount}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="address1" title="Address" [width]="30">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.address1">{{dataItem.address1}}</div>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </div>
  <div>
    <kendo-card  class="card-blue card-full">
      <kendo-card-body class="card-flex">
        <div class="k-d-flex k-align-items-center k-gap-4">
          <div>
            <kendo-label text="Select Primary Lot Shipping Address">
              <b class="required-label"></b>
              <kendo-combobox
                [data]="dropdownData"
                [textField]="'iseLotNum'"
                [valueField]="'inventoryID'"
                [(ngModel)]="selectedDropdownValue"
                [placeholder]="dropdownData.length > 0 ? 'Select Lot' : 'No lots available'">
              </kendo-combobox>
            </kendo-label>
          </div>
          <kendo-label text="Combo Lot Name">
            <b class="required-label"></b>
            <kendo-textarea  placeholder="Enter Name" rounded="large" [(ngModel)]="comboLotName"></kendo-textarea>
          </kendo-label>
          <kendo-label text="Combo Lot Comments">
            <kendo-textarea [(ngModel)]="ComboComments" placeholder="Enter comments" rounded="large"></kendo-textarea>
          </kendo-label>
        </div>
      </kendo-card-body>
    </kendo-card>
  </div>
  <div class="k-d-flex k-gap-3 k-mt-3">
    <button kendoButton type="button" rounded="full" themeColor="error" class="k-ml-auto" style="width:6rem" (click)="cancelRequest()">Cancel</button>
    <button kendoButton type="button" rounded="full" themeColor="info" class="k-w-25" [disabled]="isDisabled.shipBtn" (click)="saveCombineLots()">Save</button>
  </div>
</div>