<kendo-appbar position="top" class="header-desktop k-px-4" [themeColor]="'light'">
  <kendo-appbar-section routerLink="/">
    <button kendoButton fillMode="flat" class="app-logo-btn" title="ISE Labs | ASE | 1.0.1">
      <img src="assets/logo.svg" alt="App Logo" class="app-logo" style="width:16rem">
    </button>
  </kendo-appbar-section>

  <kendo-appbar-spacer width="32px"></kendo-appbar-spacer>

  <kendo-appbar-section width="100%">
    <div class="nav-bar k-d-flex k-align-items-center k-justify-content-center k-gap-3">
      <button 
        kendoButton 
        fillMode="flat" 
        [class.active]="selectedTabIndex === 0"
        (click)="onMainMenuSelect(0)"
        class="main-menu-btn">
        Inventory
      </button>
      <button 
        kendoButton 
        fillMode="flat" 
        [class.active]="selectedTabIndex === 1"
        (click)="onMainMenuSelect(1)"
        class="main-menu-btn">
        Ticketing System
      </button>
    </div>
  </kendo-appbar-section>

  <kendo-appbar-spacer width="32px"></kendo-appbar-spacer>

  <kendo-appbar-section style="margin-left: auto;">
    <div class="profile-avatar k-d-flex k-gap-4 k-align-items-center k-justify-content-center">
      <div>
        <b>{{appService.userData.firstName}}</b> <br>
        <small>{{appService.userName}}</small>
      </div>
      <span #profileMenuTarget>
        <kendo-avatar *ngIf="profilePicture" [imageSrc]="profilePicture" class="avatar-size avatar-img"></kendo-avatar>
        <kendo-avatar *ngIf="!profilePicture" [svgIcon]="ICON.userIcon" class="avatar-size avatar-img"></kendo-avatar>
      </span>
      <!-- <kendo-avatar [imageSrc]="img1" class="avatar-size" (click)="authService.logout()" title="Logout"></kendo-avatar> -->
      <!-- <kendo-avatar [svgIcon]="ICON.userIcon" class="avatar-size"></kendo-avatar> -->
    </div>
  </kendo-appbar-section>
</kendo-appbar>

<kendo-appbar class="header-mobile">
  <kendo-appbar-section>
    <button kendoButton fillMode="flat" (click)="appService.openDrawer()">
      <kendo-svgicon [icon]="ICON.menuIcon"></kendo-svgicon>
    </button>
  </kendo-appbar-section>
  <kendo-appbar-section>
    <button kendoButton fillMode="flat">
      <img src="assets/logo.svg" alt="App Logo" style="width:10rem;vertical-align:middle">
    </button>
  </kendo-appbar-section>
  <kendo-appbar-spacer></kendo-appbar-spacer>
  <kendo-appbar-section>
    <span #profileMenuTargetMobile>
      <kendo-avatar *ngIf="profilePicture" [imageSrc]="profilePicture" class="avatar-size"></kendo-avatar>
      <kendo-avatar *ngIf="!profilePicture" [svgIcon]="ICON.userIcon" class="avatar-size"></kendo-avatar>
    </span>
  </kendo-appbar-section>
</kendo-appbar>

<kendo-contextmenu showOn="click" size="large" [target]="profileMenuTarget" [items]="profileActionMenu"
  (select)="onSelectRowActionMenu($event)"></kendo-contextmenu>
<kendo-contextmenu showOn="click" size="large" [target]="profileMenuTargetMobile" [items]="profileActionMenu"
  (select)="onSelectRowActionMenu($event)"></kendo-contextmenu>