.k-appbar {
  background-color: white;
}

.avatar-size {
  width: 38px;
  height: 38px;
  flex-basis: 38px;
}

.active {
  font-weight: bold;
  background-color: #6cc4cb !important;
  background-color: #1E88FF26 !important;
}

.nav-bar {
  button {
    opacity: 0.7;
  }
}