<kendo-appbar position="top" class="header-desktop k-px-4" [themeColor]="'light'">
  <kendo-appbar-section routerLink="/">
    <button kendoButton fillMode="flat" class="app-logo-btn">
      <img src="assets/logo.svg" alt="App Logo" class="app-logo" style="width:16rem">
    </button>
  </kendo-appbar-section>

  <kendo-appbar-spacer width="32px"></kendo-appbar-spacer>

  <kendo-appbar-section width="100%">
    <div class="nav-bar k-d-flex k-align-items-center k-justify-content-center k-gap-3">
      <!--       <button kendoButton fillMode="flat" routerLink="/receiving" routerLinkActive="active"
        [disabled]="!(appService.userPreferences || (appService.userPreferences && appService.activeNavigationUrls.includes('Receiving')))">Receiving</button> -->

      <div class="kendo-dropdown-wrapper">
        <button kendoButton fillMode="flat" class="parent-menu-button" routerLink="/receiving" routerLinkActive="active"
          [disabled]="!(appService.userPreferences || (appService.userPreferences && appService.activeNavigationUrls.includes('Receiving')))">
          Receiving
          <kendo-icon name="arrow-down" class="menu-icon"></kendo-icon>
        </button>
        <div class="submenu">
          <button kendoButton fillMode="flat" routerLink="/int-transfer-receiving" routerLinkActive="active">
            Internal Tranfer Receiving
          </button>
        </div>
      </div>
      <button kendoButton fillMode="flat" routerLink="/inventory-hold" routerLinkActive="active"
        [disabled]="!(appService.userPreferences || (appService.userPreferences && appService.activeNavigationUrls.includes('Hold')))">Hold</button>

      <!-- Submenu for Checkin/Checkout under Inventory Move -->
      <div class="kendo-dropdown-wrapper">
        <button kendoButton fillMode="flat" class="parent-menu-button" routerLink="/inventory-move"
          routerLinkActive="active">
          Inventory Move
          <kendo-icon name="arrow-down" class="menu-icon"></kendo-icon>
        </button>
        <div class="submenu">
          <button kendoButton fillMode="flat" routerLink="/inventory-checkinCheckout" routerLinkActive="active"
            [disabled]="!(appService.userPreferences || (appService.userPreferences && appService.activeNavigationUrls.includes('MoveIn')))">
            Checkin/Checkout
          </button>
        </div>
      </div>

      <div class="kendo-dropdown-wrapper">
        <button kendoButton fillMode="flat" class="parent-menu-button" routerLink="/shipping" routerLinkActive="active">
          Shipping
          <kendo-icon name="arrow-down" class="menu-icon"></kendo-icon>
        </button>
        <div class="submenu">
          <button kendoButton fillMode="flat" routerLink="/another-shipping" routerLinkActive="active">
            Other Inventory Shipment
          </button>
          <button kendoButton fillMode="flat" routerLink="/combined-lot" routerLinkActive="active">
            Combined Lot Shipment
          </button>
        </div>
      </div>

      <button kendoButton fillMode="flat" routerLink="/inventory" routerLinkActive="active">Inventory</button>
      <button kendoButton fillMode="flat" routerLink="/customer-order" routerLinkActive="active">Customer
        Order/Scrap</button>
      <button kendoButton fillMode="flat" routerLink="/reports" routerLinkActive="active">Reports</button>
      <!--    <button kendoButton fillMode="flat" routerLink="/another-shipping" routerLinkActive="active">Other Inventory Shipment</button>
      <button kendoButton fillMode="flat" routerLink="/combined-lot" routerLinkActive="active">Combined Lot Shipment</button> -->
    </div>
  </kendo-appbar-section>

  <kendo-appbar-spacer width="32px"></kendo-appbar-spacer>

  <kendo-appbar-section style="margin-left: auto;">
    <div class="profile-avatar k-d-flex k-gap-4 k-align-items-center k-justify-content-center">
      <div class="k-user-select-none" #profileMenuTarget>
        <b>{{appService.userData.firstName}}</b> <br>
        <small>Admin</small>
      </div>
      <!-- <span #profileMenuTarget>
        <kendo-avatar [imageSrc]="img1" class="avatar-size avatar-img"></kendo-avatar>
      </span> -->
      <!-- <kendo-avatar [imageSrc]="img1" class="avatar-size" (click)="authService.logout()" title="Logout"></kendo-avatar> -->
      <!-- <kendo-avatar [svgIcon]="ICON.userIcon" class="avatar-size"></kendo-avatar> -->
    </div>
  </kendo-appbar-section>
</kendo-appbar>

<kendo-appbar class="header-mobile">
  <kendo-appbar-section>
    <button kendoButton fillMode="flat" (click)="appService.openDrawer()">
      <kendo-svgicon [icon]="ICON.menuIcon"></kendo-svgicon>
    </button>
  </kendo-appbar-section>
  <kendo-appbar-section>
    <button kendoButton fillMode="flat">
      <img src="assets/logo.svg" alt="App Logo" style="width:10rem;vertical-align:middle">
    </button>
  </kendo-appbar-section>
  <kendo-appbar-spacer></kendo-appbar-spacer>
  <kendo-appbar-section>
    <span #profileMenuTarget>
      <kendo-avatar [imageSrc]="img1" class="avatar-size"></kendo-avatar>
    </span>
  </kendo-appbar-section>
</kendo-appbar>

<kendo-contextmenu showOn="click" size="large" [target]="profileMenuTarget" [items]="profileActionMenu"
  (select)="onSelectRowActionMenu($event)"></kendo-contextmenu>