<div class="k-mx-2 minimal-table" id="addReceiptForm" [ngClass]="{ 'k-pointer-events-none': isViewMode }">
  <kendo-pdf-export #pdfExport>
    <div>
      <div class="k-d-flex k-flex-wrap k-align-items-stretch k-gap-4 k-w-full label-fs">
        <kendo-card class="card-green k-flex-1 flex-auto-md">
          <kendo-card-body class="card-flex">
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="AWB / ISE Mailroom Barcode" class="k-w-full"><b class="required-label"></b>
                <kendo-textbox [(ngModel)]="awbMailCode" placeholder="Enter"></kendo-textbox>
              </kendo-label> 
              <kendo-label text="Scan Staging Location" class="k-w-full"><b class="required-label"></b>
                <kendo-textbox [(ngModel)]="scanLocation" placeholder="Enter"></kendo-textbox>
              </kendo-label> 
            </div>
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Customer / Vendor" class="k-w-full"><b class="required-label"></b>
                <kendo-combobox [data]="customerTypes" [(ngModel)]="customerTypeSelected"
                  (ngModelChange)="onChangeCustomerType()" [textField]="'customerTypeName'"
                  [valueField]="'customerTypeID'" [kendoDropDownFilter]="filterSettings" placeholder="Select"
                  rounded="large"></kendo-combobox>
              </kendo-label>
              <kendo-label text="Customer" class="k-w-full"
                *ngIf="customerTypeSelected?.customerTypeName == 'Customer'">
                <b class="required-label"></b>
                <kendo-combobox [data]="customers" [(ngModel)]="customerSelected" [textField]="'CustomerName'"
                  [valueField]="'CustomerID'" placeholder="Select" rounded="large"
                  [kendoDropDownFilter]="filterSettings" (ngModelChange)="onChangeCustomerName()"
                  ></kendo-combobox>
              </kendo-label>
              <kendo-label text="Vendor Name" class="k-w-full"
                *ngIf="customerTypeSelected?.customerTypeName == 'Vendor'">
                <b class="required-label"></b>
                <kendo-combobox [data]="vendors" [(ngModel)]="vendorSelected" [allowCustom]="true"
                  [textField]="'VendorName'" [valueField]="'VendorID'" placeholder="Select" rounded="large"
                  [kendoDropDownFilter]="filterSettings" (ngModelChange)="onChangeCustomerName()"
                  [valueNormalizer]="valueNormalizerVendor"></kendo-combobox>
              </kendo-label>
            </div>
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Behalf of Customer" class="k-w-full"><b class="required-label"></b>
                <kendo-combobox [data]="customers" [(ngModel)]="behalfOfCusotmerSelected" [textField]="'CustomerName'"
                  [valueField]="'CustomerID'" placeholder="Select" rounded="large"
                  (ngModelChange)="onChangeBehalfOfCusotmer()" [kendoDropDownFilter]="filterSettings"
                  [disabled]="isDisabledBehalfOfCusotmer"></kendo-combobox>
              </kendo-label>
              <kendo-label text="ISE destination location" class="k-w-full">
                <b class="required-label"></b>
                <kendo-combobox [data]="receiptLocation" [(ngModel)]="receiptLocationSelected"
                  [textField]="'receivingFacilityName'" [valueField]="'receivingFacilityID'" [allowCustom]="true"
                  [kendoDropDownFilter]="filterSettings" placeholder="Select" rounded="large"></kendo-combobox>
              </kendo-label>
            </div>
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Recipient / Attention To" class="k-w-full">
                <b class="required-label"></b>
                <kendo-combobox [data]="employees" [(ngModel)]="recipientSelected" [textField]="'EmployeeName'"
                [valueField]="'EmployeeID'" placeholder="Select" rounded="large"></kendo-combobox>
              </kendo-label>
              <kendo-label text="Requestor/Sender Name" class="k-w-full">
                <b class="required-label"></b>
                <kendo-combobox [data]="employees" [(ngModel)]="requestorSelected" [textField]="'EmployeeName'"
                [valueField]="'EmployeeID'" placeholder="Select" rounded="large"(valueChange)="onRequestorChange($event)"></kendo-combobox>
              </kendo-label>
            </div>
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label class="k-w-full" text="Partial Delivery">
                <div class="k-d-flex k-align-items-center k-gap-4">
                  <label class="k-font-size-sm k-d-flex k-align-items-center">
                    <input type="radio" kendoRadioButton [value]="true" [(ngModel)]="isPartialDelivery" name="partialDelivery" />
                    <span class="k-ml-2">Yes</span>
                  </label>
                  <label class="k-font-size-sm k-d-flex k-align-items-center">
                    <input type="radio" kendoRadioButton [value]="false" [(ngModel)]="isPartialDelivery" name="partialDelivery" />
                    <span class="k-ml-2">No</span>
                  </label>
                </div>
              </kendo-label>
              <kendo-label class="k-w-full" text="Damages">
                <div class="k-d-flex k-align-items-center k-gap-4">
                  <label class="k-font-size-sm k-d-flex k-align-items-center">
                    <input type="radio" kendoRadioButton [value]="true" [(ngModel)]="isDamaged" name="damages" (change)="onDamageChange()" />
                    <span class="k-ml-2">Yes</span>
                  </label>
                  <label class="k-font-size-sm k-d-flex k-align-items-center">
                    <input type="radio" kendoRadioButton [value]="false" [(ngModel)]="isDamaged" name="damages" (change)="onDamageChange()" />
                    <span class="k-ml-2">No</span>
                  </label>
                  <div *ngIf="isDamaged" class="k-ml-4">
                    <label class="k-font-size-sm k-d-flex k-align-items-center">
                      <input type="checkbox" kendoCheckBox [(ngModel)]="placeLotOnHold" />
                      <span class="k-ml-2">Place Lot on Hold</span>
                    </label>
                  </div>
                </div>
              </kendo-label>
            </div>
            <kendo-label text="Signature">
              <kendo-signature
                #signatureRef
                [(value)]="Signaturebase64Data"
                [smooth]="true"
                [maximizable]="false"
                [hideLine]="true"
                [disabled]="isSignatureDisabled">
              </kendo-signature>
              <div *ngIf="!isViewMode && isSignatureDisabled" class="signature-msg">
                Please click the clear button to edit the signature.
              </div>
              <button
                *ngIf="!isViewMode && isSignatureDisabled"
                class="k-button k-button-md k-rounded-md k-button-solid k-button-solid-primary"
                (click)="onClearSignature()">
                Clear Signature
              </button>
            </kendo-label>
          </kendo-card-body>
        </kendo-card>
        <kendo-card class="card-blue k-flex-1 flex-auto-md">
          <kendo-card-body class="card-flex">
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Delivery Method" class="k-w-full">
                <b class="required-label"></b>
                <kendo-combobox [data]="deliveryMode" [(ngModel)]="deliveryModeSelected"
                  [textField]="'deliveryModeName'" [valueField]="'deliveryModeID'" placeholder="Select" rounded="large"
                  [kendoDropDownFilter]="filterSettings"
                  ></kendo-combobox>
              </kendo-label>
              <kendo-label
                *ngIf="deliveryModeSelected?.deliveryModeName=='Customer Drop-Off' || deliveryModeSelected?.deliveryModeName=='Pickup'"
                text="Phone" class="k-w-full">
                <b *ngIf="deliveryModeSelected?.deliveryModeName=='Pickup'" class="required-label"></b>
                <kendo-textbox [(ngModel)]="contactPhone" placeholder="Enter phone" rounded="large"
                  ></kendo-textbox>
              </kendo-label>
              <kendo-label *ngIf="deliveryModeSelected?.deliveryModeName=='Courier'" text="Tracking/AWB#"
                class="k-w-full">
                <b class="required-label"></b>
                <kendo-textbox [(ngModel)]="tracking" placeholder="Tracking/AWB" rounded="large"
                  ></kendo-textbox>
              </kendo-label>
            </div>
            <div *ngIf="deliveryModeSelected?.deliveryModeName=='Courier'"
              class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Courier Name" class="k-w-full"><b class="required-label"></b>
                <kendo-combobox [data]="couriers" [(ngModel)]="courierSelected" [textField]="'courierName'"
                  [kendoDropDownFilter]="filterSettings" [valueField]="'courierDetailID'" placeholder="Select"
                  rounded="large"></kendo-combobox>
              </kendo-label>
              <kendo-label text="Country From" class="k-w-full">
                <b class="required-label"></b>
                <kendo-combobox [data]="countries" [(ngModel)]="countrySelected" [textField]="'countryName'"
                  [kendoDropDownFilter]="filterSettings" [valueField]="'countryID'" placeholder="Select"
                  rounded="large"></kendo-combobox>
              </kendo-label>
            </div>
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Expected Date & Time" class="k-w-full">
                <b class="required-label"></b>
                <kendo-datetimepicker [format]="format" [(value)]="expectedDateTime"></kendo-datetimepicker>
              </kendo-label>

              <kendo-label
                *ngIf="deliveryModeSelected?.deliveryModeName=='Customer Drop-Off' || deliveryModeSelected?.deliveryModeName=='Pickup'"
                text="Contact Person" class="k-w-full">
                <b class="required-label"></b>
                <kendo-textbox [(ngModel)]="contactPerson" placeholder="Enter Requestor / Sender Name" rounded="large"></kendo-textbox>
              </kendo-label>
            </div>
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label
                *ngIf="deliveryModeSelected?.deliveryModeName=='Customer Drop-Off' || deliveryModeSelected?.deliveryModeName=='Pickup'"
                text="Email" class="k-w-full">
                <kendo-textbox [(ngModel)]="email" placeholder="Enter your email" rounded="large"></kendo-textbox>
              </kendo-label>
            </div>
            <div class="k-d-flex k-align-items-center k-gap-4" kendoTooltip>
              <kendo-label *ngIf="deliveryModeSelected?.deliveryModeName=='Pickup'" text="Address"
                class="k-relative k-w-full">
                <b class="required-label"></b>
                <kendo-combobox [data]="addresses" [(ngModel)]="addressSelected" (ngModelChange)="onChangeAddress()"
                  [textField]="'fullAddress'" [valueField]="'addressId'" placeholder="Select"
                  [kendoDropDownFilter]="filterSettings" rounded="large"
                  [title]="addressSelected?.fullAddress || ''"></kendo-combobox>
              </kendo-label>
            </div>
            
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Notes/Information" class="k-w-full">
                <kendo-textarea [(ngModel)]="deliveryComments" [rows]="3" placeholder="Enter Notes/Information"
                  rounded="large"></kendo-textarea>
              </kendo-label>
            </div>
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Number of Packages" class="k-w-full">
                <b class="required-label"></b>
                <kendo-numerictextbox [(ngModel)]="selectedQty" placeholder="Enter"[decimals]="0"
                [format]="'n0'"
                [step]="1"
                [min]="0"></kendo-numerictextbox>
              </kendo-label>
              <kendo-label text="Package Category" class="k-w-full"><b class="required-label"></b>
                <kendo-multiselect
                  [data]="packageCategoryList"
                  [(ngModel)]="selectedCategory"
                  textField="categoryName"
                  valueField="id"
                  class="k-w-full"
                  [filterable]="true"
                  [autoClose]="false"
                  [checkboxes]="true"
                  placeholder="Select Package Category"
                  [tagMapper]="tagDisplayLimit"
                  (ngModelChange)="onPackageCategoryChange($event)">
                </kendo-multiselect>
              </kendo-label>    
            </div>
            <kendo-label text="ISE PO" class="k-w-full">
              <kendo-combobox [data]="isePOList" [(ngModel)]="isePOListSelected" textField="customerPoNumber"
                valueField="purchaseOrderId" class="k-w-full" [filterable]="true" placeholder="Select">
              </kendo-combobox>
            </kendo-label> 
            
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Package label photos" class="k-w-full">
                <kendo-fileselect #upFiles1 (select)="onSelectPackageLableAttachment($event)" (upload)="onUpload($event)" (remove)="onPackageLabelFileRemove($event)">
                  [multiple]="true"></kendo-fileselect>
              </kendo-label>             
              <kendo-label text="Shipment paperwork" class="k-w-full">
                <kendo-fileselect #upFiles2 (select)="onSelectShipmentPaperAttachment($event)" (upload)="onUpload($event)" (remove)="onShipmentPaperFileRemove($event)">
                  [multiple]="true"></kendo-fileselect>
              </kendo-label>
            </div>
            </kendo-card-body>
          </kendo-card>
      </div>
      
      <kendo-card class="card-green card-full k-mt-4" *ngIf="isOtherCategorySelected()">
        <kendo-card-body class="card-flex">
          <div class="k-d-flex k-align-items-center k-gap-3">
            <h3 class="k-my-2">Others</h3>
            <i class="k-ml-auto"></i>
            <button kendoButton type="button" rounded="large" themeColor="info" (click)="addOthersRow()" 
              [disabled]="isDisabled.addHardware">Add</button>
          </div>
          <kendo-grid #grid [kendoGridBinding]="gridData.data" class="bold-column-header wrap-header-grid">
            
            <!-- Dropdown for Type -->
            <kendo-grid-column field="type">
              <ng-template kendoGridHeaderTemplate>
                Type <b class="required-label"></b>
              </ng-template>
              <ng-template kendoGridCellTemplate let-dataItem>
                <kendo-combobox
                  [data]="typeList" 
                  textField="categoryName"
                  valueField="id"
                  [(ngModel)]="dataItem.typeId"
                  [valuePrimitive]="true"
                  placeholder="Select Type">
                </kendo-combobox>
              </ng-template>
            </kendo-grid-column>
      
            <!-- Textbox for Details -->
            <kendo-grid-column field="details">
              <ng-template kendoGridHeaderTemplate>
                Details <b class="required-label"></b>
              </ng-template>
              <ng-template kendoGridCellTemplate let-dataItem>
                <kendo-textbox [(ngModel)]="dataItem.details" placeholder="Enter Details"></kendo-textbox>
              </ng-template>
            </kendo-grid-column>
      
            <!-- Textbox for Quantity -->
            <kendo-grid-column field="qty">
              <ng-template kendoGridHeaderTemplate>
                Qty <b class="required-label"></b>
              </ng-template>
              <ng-template kendoGridCellTemplate let-dataItem>
                <kendo-numerictextbox [(ngModel)]="dataItem.qty" placeholder="Enter Qty"></kendo-numerictextbox>
              </ng-template>
            </kendo-grid-column>
      
          </kendo-grid>
        </kendo-card-body>
      </kendo-card>
    </div>
  </kendo-pdf-export>

  <div class="k-mt-2">
    <kendo-grid [data]="filteredMailAttachements" class="receipt-attachments" [selectable]="selectableSettings" [resizable]="true">
      <kendo-grid-column title="#" [width]="40">
        <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
          {{ rowIndex + 1 }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="path" title="File Name">
        <ng-template kendoGridCellTemplate let-dataItem>
          <a class="minimal-text link" [href]="downloadFileApi+dataItem.path" target="_blank">{{dataItem.path}}</a>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="section" title="Attachment Type">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{dataItem.section}}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column title="Actions" [width]="100">
        <ng-template kendoGridCellTemplate let-dataItem>
          <button kendoButton [svgIcon]="ICON.trashIcon" themeColor="error" (click)="deleteMailRoomAttachment(dataItem)" ></button>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </div>
  <div class="k-d-flex k-align-items-center k-gap-4 k-mt-3">
    <div style="display: flex; align-items: center; gap: 4px;">
      <h4 style="margin: 0;">NOTE:</h4>
      <span style="font-weight: normal;">Please print out the form and attach to the packages</span>
    </div>
    <span style="margin-left: auto;"></span>
    <button kendoButton type="button" rounded="large" themeColor="success" style="width:6rem" [disabled]="isViewMode" (click)="submitForm()">Submit</button>
    <button kendoButton type="button" rounded="large" themeColor="dark" style="width:6rem" 
      (click)="printSection()">Print</button>
  </div>
</div>