<div class="k-d-flex k-align-items-center  k-gap-1 k-py-0 k-px-4 page-header page-header-desktop">
    <h4>Inventory Move</h4>
    <i class="k-ml-auto"></i>
  

    <!-- <div class="k-d-flex k-gap-4 k-align-items-center k-flex-1"> -->
        <!-- Search Icon and Input -->
        <kendo-label text="Search" class="k-font-size-sm">
          <input kendoTextBox [(ngModel)]="searchTerm" type="search" placeholder="Search" class="search-input k-w-full"
            rounded="full" (input)="onSearchMaster()" />
        </kendo-label>
      

        <kendo-label text="From Date" class="k-font-size-sm">
          <kendo-datepicker [format]="format" [(value)]="fromDate"></kendo-datepicker>
        </kendo-label>
        <kendo-label text="To Date" class="k-font-size-sm">
          <kendo-datepicker [format]="format" [(value)]="toDate"></kendo-datepicker>
        </kendo-label>
     
<!--         <div class="k-d-flex k-align-items-center k-flex-1">
          <label class="k-w-auto k-font-size-sm k-mr-2">From Date</label>
          <kendo-datepicker [format]="format" [(value)]="fromDate" class="k-w-full"></kendo-datepicker>
        </div>
      

        <div class="k-d-flex k-align-items-center k-flex-1">
          <label class="k-w-auto k-font-size-sm k-mr-2">To Date</label>
          <kendo-datepicker [format]="format" [(value)]="toDate" class="k-w-full"></kendo-datepicker>
        </div> -->
      
      
      
 
        
 
    <div>
      <button kendoButton rounded="full" themeColor="success" class="k-w-25" (click)="onSearch()">Search</button>
    </div>

    <!-- <button kendoButton rounded="full" themeColor="success" class="k-w-25" (click)="search()">Search</button>
    <button kendoButton rounded="full" themeColor="info" class="add-btn" (click)="openDialog()"
      [disabled]="!isAddButtonEnabled">Add</button> -->

    
    <div>
      <button kendoButton rounded="full" themeColor="info" class="add-btn" (click)="openDialog()">Add</button>
    </div>
  </div>
  <div class="k-m-4" *ngIf="!false">
    <kendo-grid [kendoGridBinding]="gridDataResult.data" [selectable]="selectableSettings" [resizable]="true"
      [pageSize]="pageSize" [skip]="skip" [pageable]="true" (pageChange)="pageChange($event)"
      class="bold-column-header cell-border-none" [filterable]="true" (cellClick)="onCellClick($event)"
      [rowClass]="rowCallback">
      <!-- <kendo-grid-checkbox-column [width]="40"></kendo-grid-checkbox-column> -->
      
   
<!--       <kendo-grid-column field="receiptID" title="receipt #"></kendo-grid-column>
      <kendo-grid-column field="customerVendorID" title="customerVendorID"  [hidden]="true" ></kendo-grid-column> -->
      <!--<kendo-grid-column field="inventoryID" title="InventoryID"></kendo-grid-column>-->
      <kendo-grid-column field="lotNum" title="ISE Lot #">
        <ng-template kendoGridCellTemplate let-dataItem>
          <a class="minimal-text" [title]="dataItem.lotNum">{{dataItem.lotNum}}</a>
        </ng-template>

      </kendo-grid-column>
      <kendo-grid-column field="customerLotNumber" title="Customer Lot #"></kendo-grid-column>
      <kendo-grid-column field="customerName" title="Customer Name">
        <ng-template kendoGridCellTemplate let-dataItem>
          <a class="minimal-text" [title]="dataItem.customerName">{{dataItem.customerName}}</a>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="facilityArea" title="Facility Area"></kendo-grid-column>
      <kendo-grid-column field="facility" title="Current Facility"></kendo-grid-column>
      <kendo-grid-column field="inventoryStatus" title="Inventory Status"></kendo-grid-column>
      <kendo-grid-column field="qty" title="Qty"></kendo-grid-column>
      <kendo-grid-column field="checkInOutQty" title="CheckInOutQty" [hidden]="true"></kendo-grid-column>
      <!--<kendo-grid-column field="area" title="Area">
        <ng-template kendoGridCellTemplate let-dataItem>
          <a class="minimal-text" [title]="dataItem.area">{{dataItem.area}}</a>
        </ng-template>
      </kendo-grid-column> -->
      <kendo-grid-column field="wipLocation" title="WipLocation" [hidden]="true">
        <ng-template kendoGridCellTemplate let-dataItem>
          <a class="minimal-text" [title]="dataItem.wipLocation">{{dataItem.wipLocation}}</a>
        </ng-template>
      </kendo-grid-column>
     <!-- <kendo-grid-column field="receivedFromOrCheckOut" title="ReceivedFromOrCheckOut"></kendo-grid-column>
      <kendo-grid-column field="checkInOutTime" title="CheckInOutTime">

        <ng-template kendoGridCellTemplate let-dataItem>
          <a class="minimal-text" [title]="dataItem.checkInOutTime">{{dataItem.checkInOutTime}}</a>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="systemCheckInOutPerson" title="SystemCheckInOutPerson"></kendo-grid-column>-->      
     <!-- <kendo-grid-column field="currentLocation" title="CurrentLocation">
        <ng-template kendoGridCellTemplate let-dataItem>
          <a class="minimal-text" [title]="dataItem.currentLocation">{{dataItem.currentLocation}}</a>
        </ng-template>

      </kendo-grid-column>-->
    </kendo-grid>
  </div>
  
  <kendo-contextmenu [items]="rowActionMenu" (select)="onSelectRowActionMenu($event)" size="large"
    #gridContextMenu></kendo-contextmenu>
  
  <kendo-dialog *ngIf="isDialogOpen" (close)="closeDialog()" [minWidth]="250" [width]="'78%'"
    class="dialog-round receipt-dialog">
    <div class="k-d-flex k-align-items-center k-mb-3 k-gap-3">
      <h2 class="k-m-0">Add Inventory Move</h2>
      <small *ngIf="appService.sharedData.Invmove.isViewMode">(View Mode)</small>
      <small *ngIf="appService.sharedData.Invmove.isEditMode">(Edit Mode)</small>
      <button kendoButton type="button" rounded="full" class="k-ml-auto" [svgIcon]="ICON.xIcon" size="small"
        (click)="closeDialog()"></button>
    </div>
    <div class="dialog-body k-overflow-y-auto">
      <app-add-inventory-move (cancel)="closeDialog()" ></app-add-inventory-move>
    </div>
  </kendo-dialog>