<div class="k-d-flex k-align-items-center k-gap-3 k-py-2 k-px-4 page-header page-header-desktop">
  <kendo-label text="Search" class="k-font-size-sm">
    <input kendoTextBox [(ngModel)]="searchTerm" type="search" placeholder="Search" class="search-input"
      rounded="full" (input)="onSearchMaster()" />
  </kendo-label>
  <kendo-label text="From Date" class="k-font-size-sm">
    <kendo-datepicker [format]="format" [(value)]="fromDate" rounded="full"></kendo-datepicker>
  </kendo-label>
  <kendo-label text="To Date" class="k-font-size-sm">
    <kendo-datepicker [format]="format" [(value)]="toDate" rounded="full"></kendo-datepicker>
  </kendo-label>
  <div class="k-ml-auto k-d-flex k-gap-2">
    <button kendoButton rounded="full" themeColor="success" (click)="onSearch()">Search</button>
    <button kendoButton rounded="full" themeColor="info" (click)="openDialog()">Add</button>
  </div>
</div>
  <div class="k-m-4" *ngIf="!false">
    <kendo-grid [kendoGridBinding]="gridDataResult.data" [selectable]="selectableSettings" [resizable]="true"
      [pageSize]="pageSize" [skip]="skip" [pageable]="true" (pageChange)="pageChange($event)"
      class="bold-column-header cell-border-none" [filterable]="true" (cellClick)="onCellClick($event)"
      [rowClass]="rowCallback">
      <kendo-grid-column field="lotNum" title="ISE Lot #">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.lotNum">{{dataItem.lotNum}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="customerLotNumber" title="Customer Lot #">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.customerLotNumber">{{dataItem.customerLotNumber}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="customerName" title="Customer Name">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.customerName">{{dataItem.customerName}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="facilityArea" title="Facility Area">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.facilityArea">{{dataItem.facilityArea}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="facility" title="Current Facility">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.facility">{{dataItem.facility}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="inventoryStatus" title="Inventory Status">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.inventoryStatus">{{dataItem.inventoryStatus}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="qty" title="Qty">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.qty">{{dataItem.qty}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="checkInOutQty" title="CheckInOutQty" [hidden]="true">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.checkInOutQty">{{dataItem.checkInOutQty}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="wipLocation" title="WipLocation" [hidden]="true">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.wipLocation">{{dataItem.wipLocation}}</div>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </div>
  
  <kendo-contextmenu [items]="rowActionMenu" (select)="onSelectRowActionMenu($event)" size="large"
    #gridContextMenu></kendo-contextmenu>
  
  <kendo-dialog *ngIf="isDialogOpen" (close)="closeDialog()" [minWidth]="250" [width]="'78%'"
    class="dialog-round receipt-dialog">
    <div class="k-d-flex k-align-items-center k-mb-3 k-gap-3">
      <h2 class="k-m-0">Add Inventory Move</h2>
      <small *ngIf="appService.sharedData.Invmove.isViewMode">(View Mode)</small>
      <small *ngIf="appService.sharedData.Invmove.isEditMode">(Edit Mode)</small>
      <button kendoButton type="button" rounded="full" class="k-ml-auto" [svgIcon]="ICON.xIcon" size="small"
        (click)="closeDialog()"></button>
    </div>
    <div class="dialog-body k-overflow-y-auto">
      <app-add-inventory-move (cancel)="closeDialog()" ></app-add-inventory-move>
    </div>
  </kendo-dialog>