<div class="k-d-flex k-align-items-center k-gap-3 k-py-2 k-px-10 page-header">
  <div class="k-d-flex k-gap-3 k-ml-auto">
  <kendo-label text="Customer" class="k-w-full k-font-size-sm" [hidden]="true" >
    <kendo-combobox id="customer" [data]="customers" [(ngModel)]="customerSelected"
          [textField]="'CustomerName'" [valueField]="'CustomerID'" placeholder="Select" rounded="large"
          ></kendo-combobox>
</kendo-label>
<kendo-label text="Employee" class="k-w-full k-font-size-sm" [hidden]="true" >
  <kendo-combobox id="employee" [data]="employees" [(ngModel)]="employeeSelected"
        [textField]="'EmployeeName'" [valueField]="'EmployeeID'" placeholder="Select" rounded="large"
        ></kendo-combobox>
</kendo-label>
<kendo-label text="Status" class="k-w-full k-font-size-sm" [hidden]="true" >
<kendo-combobox id="status" [data]="statuses" [(ngModel)]="statusSelected"
      [textField]="'name'" [valueField]="'id'" placeholder="Select" rounded="large"
      ></kendo-combobox>
</kendo-label>
<kendo-label text="From Date" class="k-w-full k-font-size-sm">
<kendo-datepicker [format]="format" [(value)]="fromDate" ></kendo-datepicker>
</kendo-label>
<kendo-label text="To Date" class="k-w-full k-font-size-sm">
<kendo-datepicker [format]="format" [(value)]="toDate" ></kendo-datepicker>
</kendo-label>
  <!-- <div class="k-d-flex k-flex-col k-gap-2 k-ml-auto">
    <div class="k-d-flex k-gap-3">
      <kendo-label text="From Date" class="k-w-full k-font-size-sm">
      <kendo-datepicker [format]="format" [(value)]="fromDate" ></kendo-datepicker>
    </kendo-label>

    <kendo-label text="To Date" class="k-w-full k-font-size-sm">
      <kendo-datepicker [format]="format" [(value)]="toDate" ></kendo-datepicker>
    </kendo-label>
  
      </div>
  </div> -->
  <div>
    <button kendoButton rounded="full" themeColor="success" class="search-btn" (click)="fetchdata()">Search</button>
  </div>
  <div>
    <button kendoButton rounded="full" themeColor="info" class="search-btn" (click)="addAnotherShipment()">Add</button>
  </div>
</div>
</div>
<div class="k-m-10" *ngIf="!false">
  <kendo-grid [kendoGridBinding]="gridDataResult.data" [selectable]="selectableSettings" [resizable]="true"
    [pageSize]="pageSize" [skip]="skip" [pageable]="true" (pageChange)="pageChange($event)"
    class="bold-column-header cell-border-none" [filterable]="true" (cellClick)="onCellClick($event)"
    [rowClass]="rowCallback">
    <kendo-grid-checkbox-column [width]="40"></kendo-grid-checkbox-column>
    <kendo-grid-column field="anotherShipmentID" title="anotherShipmentID" [hidden]="true" ></kendo-grid-column>
    <kendo-grid-column field="requestor" title="Requestor"></kendo-grid-column>
    <kendo-grid-column field="serviceType" title="Service Type"></kendo-grid-column>
    <kendo-grid-column field="customerType" title="Customer Type"></kendo-grid-column>
    <kendo-grid-column field="customerVendor" title="Customer/Vendor"></kendo-grid-column>
    <kendo-grid-column field="shipTo" title="Ship To"></kendo-grid-column>
    <kendo-grid-column field="recordStatus" title="RecordStatus"></kendo-grid-column>
    <kendo-grid-column field="status" title="Status" [hidden]="true"></kendo-grid-column>
  </kendo-grid>
</div>

<kendo-contextmenu [items]="rowActionMenu" (select)="onSelectRowActionMenu($event)" size="large"
  #gridContextMenu></kendo-contextmenu>

<kendo-dialog *ngIf="isDialogOpen" (close)="closeDialog()" [minWidth]="250" [width]="'78%'"
  class="dialog-round receipt-dialog">
  <div class="k-d-flex k-align-items-center k-mb-3 k-gap-3">
    <h2 class="k-m-0">Another Shipping Record</h2>
    <small *ngIf="appService.sharedData.shipping.isViewMode">(View Mode)</small>
    <small *ngIf="appService.sharedData.shipping.isEditMode">(Edit Mode)</small>
    <button kendoButton type="button" rounded="full" class="k-ml-auto" [svgIcon]="ICON.xIcon" size="small"
      (click)="closeDialog()"></button>
  </div>
  <div class="dialog-body k-overflow-y-auto">
    <app-add-another-shipping></app-add-another-shipping>
  </div>
</kendo-dialog>