
<div class="k-d-flex k-align-items-center k-gap-3 k-py-2 k-px-4 page-header page-header-desktop">
  <kendo-label text="Search" class="k-font-size-sm">
    <input kendoTextBox [(ngModel)]="searchTerm" type="search" placeholder="Search" class="search-input"
      rounded="full" (input)="onSearchMaster()" />
  </kendo-label>
  <kendo-label text="From Date" class="k-font-size-sm">
    <kendo-datepicker [format]="format" [(value)]="fromDate" rounded="full"></kendo-datepicker>
  </kendo-label>
  <kendo-label text="To Date" class="k-font-size-sm">
    <kendo-datepicker [format]="format" [(value)]="toDate" rounded="full"></kendo-datepicker>
  </kendo-label>
  <div class="k-ml-auto k-d-flex k-gap-2">
    <button kendoButton rounded="full" themeColor="success" (click)="fetchdata()">Search</button>
    <button kendoButton rounded="full" themeColor="info" (click)="addAnotherShipment()">Add</button>
  </div>
</div>
<div class="page-body k-m-4">
  <kendo-grid [kendoGridBinding]="gridDataResult.data" [selectable]="selectableSettings" [resizable]="true"
    [pageSize]="pageSize" [skip]="skip" [pageable]="true" (pageChange)="pageChange($event)"
    [filterable]="true" (cellClick)="onCellClick($event)" class="grid-header-sm grid-header-bold"
    [rowClass]="rowCallback">
    <kendo-grid-checkbox-column [width]="40"></kendo-grid-checkbox-column>
    <kendo-grid-column field="anotherShipmentID" title="anotherShipmentID" [hidden]="true" >
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.anotherShipmentID">{{dataItem.anotherShipmentID}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="requestor" title="Requestor">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.requestor">{{dataItem.requestor}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="deliveryMethod" title="Delivery Method">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.deliveryMethod">{{dataItem.deliveryMethod}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="customerType" title="Customer Type">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.customerType">{{dataItem.customerType}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="customerVendor" title="Customer/Vendor">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.customerVendor">{{dataItem.customerVendor}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="shipTo" title="Ship To">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.shipTo">{{dataItem.shipTo}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="recordStatus" title="RecordStatus">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.recordStatus">{{dataItem.recordStatus}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="status" title="Status" [hidden]="true">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.status">{{dataItem.status}}</div>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</div>

<kendo-contextmenu [items]="rowActionMenu" (select)="onSelectRowActionMenu($event)" size="large"
  #gridContextMenu></kendo-contextmenu>

<kendo-dialog *ngIf="isDialogOpen" (close)="closeDialog()" [minWidth]="250" [width]="'78%'"
  class="dialog-round receipt-dialog">
  <div class="k-d-flex k-align-items-center k-mb-3 k-gap-3">
    <h2 class="k-m-0">Other Shipment Record</h2>
    <small *ngIf="appService.sharedData.shipping.isViewMode">(View Mode)</small>
    <small *ngIf="appService.sharedData.shipping.isEditMode">(Edit Mode)</small>
    <button kendoButton type="button" rounded="full" class="k-ml-auto" [svgIcon]="ICON.xIcon" size="small"
      (click)="canCloseDialog()"></button>
  </div>
  <div class="dialog-body k-overflow-y-auto">
    <app-add-another-shipping (onClose)="closeDialog()" [deliveryInfo]="deliveryInfo"></app-add-another-shipping>
  </div>
</kendo-dialog>