<div class="k-m-4">
  <div class="k-d-flex k-align-items-center k-gap-4 k-pb-3">
    <!-- <h2>Receipt</h2> -->
    <span style="margin-left: auto;"></span>
    <div class="k-ml-auto">
      <!-- <kendo-radiobutton #Expected value="Expected" [(ngModel)]="expectedOrNot"></kendo-radiobutton> -->
      <input type="radio" kendoRadioButton value="Expected" #Expected [(ngModel)]="expectedOrNot" />
      <kendo-label class="k-radio-label" [for]="Expected" text="Expected"></kendo-label>
    </div>
    <div>
      <input type="radio" kendoRadioButton value="Unexpected" #Unexpected [(ngModel)]="expectedOrNot" />
      <!-- <kendo-radiobutton #Unexpected value="Unexpected" [(ngModel)]="expectedOrNot"></kendo-radiobutton>-->
      <kendo-label class="k-radio-label" [for]="Unexpected" text="Unexpected"></kendo-label>
    </div>
    |
    <div class="k-d-flex k-align-items-center">
      <input type="checkbox" name="FTZ" id="FTZ" [(ngModel)]="FTZ" kendoCheckBox>
      <!-- <kendo-label class="k-radio-label" for="FTZ" text="FTZ"></kendo-label> -->
      <label for="FTZ" kendoLabel> FTZ</label>
    </div>
    <div class="k-d-flex k-align-items-center k-gap-4">
      <input type="checkbox" name="IsInterim" id="IsInterim" [(ngModel)]="IsInterim"
        (click)="isDialogOpen =!isDialogOpen" kendoCheckBox>
      <label for="IsInterim" kendoLabel> Is Interim</label>
    </div>
    <!-- <button kendoButton type="button" size="small" rounded="full" themeColor="primary" icon="close"></button> -->
  </div>

  <div class="k-d-flex k-align-items-stretch k-gap-4 k-w-full k" *ngIf="!false">
    <kendo-card class="card-green k-flex-1">
      <kendo-card-body class="card-flex">
        <div class="k-d-flex k-align-items-center k-gap-4">
          <kendo-label text="Customer / Vendor" class="k-w-full">
            <kendo-combobox [data]="customerTypes" [(ngModel)]="customerTypeSelected" [textField]="'customerTypeName'"
              [valueField]="'customerTypeID'" placeholder="Select" rounded="large"></kendo-combobox>
          </kendo-label>
          <kendo-label text="Customer" class="k-w-full">
            <b class="required-label"></b>
            <kendo-combobox [data]="customer" [(ngModel)]="customerSelected" [textField]="'customerName'"
              [valueField]="'customerID'" placeholder="Select" rounded="large"></kendo-combobox>
          </kendo-label>
        </div>
        <div class="k-d-flex k-align-items-center k-gap-4">
          <kendo-label text="Behalf of Customer" class="k-w-full">
            <kendo-combobox [data]="listItems" [(ngModel)]="selectedValues" placeholder="Select"
              rounded="large"></kendo-combobox>
          </kendo-label>
          <kendo-label text="Receiving Location" class="k-w-full">
            <kendo-combobox [data]="receiptLocation" [(ngModel)]="receiptLocationSelected"
              [textField]="'receiptLocationName'" [valueField]="'receiptLocationID'" placeholder="Select"
              rounded="large"></kendo-combobox>
          </kendo-label>
        </div>
        <div class="k-d-flex k-align-items-center k-gap-4">
          <kendo-label text="Comments" class="k-w-full">
            <kendo-textarea [(ngModel)]="comments" [rows]="5" placeholder="Enter text" rounded="large"></kendo-textarea>
          </kendo-label>
        </div>
      </kendo-card-body>
    </kendo-card>
    <kendo-card class="card-blue k-flex-1">
      <kendo-card-body class="card-flex">
        <div class="k-d-flex k-align-items-center k-gap-4">
          <kendo-label text="Delivery Method" class="k-w-full">
            <b class="required-label"></b>
            <kendo-combobox [data]="deliveryMode" [(ngModel)]="deliveryModeSelected" [textField]="'deliveryModeName'"
              [valueField]="'deliveryModeID'" placeholder="Select" rounded="large"></kendo-combobox>
          </kendo-label>
          <kendo-label text="Phone" class="k-w-full">
            <b class="required-label"></b>
            <kendo-textbox [(ngModel)]="contactPhone" placeholder="Enter phone" rounded="large"></kendo-textbox>
          </kendo-label>
        </div>
        <div class="k-d-flex k-align-items-center k-gap-4">
          <kendo-label text="Expected Date & Time" class="k-w-full">
            <b class="required-label"></b>
            <!-- <kendo-combobox [data]="listItems" [(ngModel)]="selectedValues" placeholder="Select"
                        rounded="large"></kendo-combobox> -->
            <kendo-datetimepicker [format]="format" [(value)]="expectedDateTime"></kendo-datetimepicker>
          </kendo-label>
          <kendo-label text="Contact Person" class="k-w-full">
            <b class="required-label"></b>
            <kendo-textbox [(ngModel)]="contactPerson" placeholder="Enter contact person"
              rounded="large"></kendo-textbox>
          </kendo-label>
        </div>
        <div class="k-d-flex k-align-items-center k-gap-4">
          <kendo-label text="Email" class="k-w-full">
            <kendo-textbox [(ngModel)]="email" placeholder="Enter your email" rounded="large"></kendo-textbox>
          </kendo-label>
          <kendo-label text="Address" class="k-relative k-w-full">
            <b class="required-label"></b>
            <!-- <kendo-combobox [data]="listItems" [(ngModel)]="selectedValues" placeholder="Enter details"
                       rounded="large"></kendo-combobox> -->
            <kendo-autocomplete [data]="areaList" [(ngModel)]="address" placeholder="Enter details"
              style="padding-right: 1.5rem;"></kendo-autocomplete>
            <img src="/assets/location-outline.svg" class="input-icon" width="18" />
          </kendo-label>
        </div>
        <!-- show kedo icon using src image -->
        <div class="k-d-flex k-align-items-center k-gap-4">
          <kendo-label text="Comments" class="k-w-full">
            <kendo-textarea [(ngModel)]="comments" [rows]="3" placeholder="Enter text" rounded="large"></kendo-textarea>
          </kendo-label>
        </div>
      </kendo-card-body>
    </kendo-card>
  </div>

  <kendo-card class="card-green card-full k-mt-4">
    <kendo-card-body class="card-flex">
      <kendo-grid [kendoGridBinding]="gridData" class="bold-column-header cartons">
        <kendo-grid-column field="noOfCartons" title="No of Cartons" [width]="200">
          <ng-template kendoGridCellTemplate let-dataItem>
            <kendo-numerictextbox [(ngModel)]="dataItem.noOfCartons" [format]="'n0'"
              placeholder="Enter cartons"></kendo-numerictextbox>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="isHold" title="Hold" [width]="60" class="center">
          <ng-template kendoGridCellTemplate let-dataItem>
            <input type="checkbox" [(ngModel)]="dataItem.isHold" [disabled]="dataItem.isHoldCheckboxEnabled"
              kendoCheckBox>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="holdComments" title="Hold Comments">
          <ng-template kendoGridCellTemplate let-dataItem>
            <kendo-textbox [(ngModel)]="dataItem.holdComments" placeholder="Enter comments"
              [disabled]="dataItem.isHoldCommentEnabled"></kendo-textbox>
          </ng-template>
        </kendo-grid-column>
      </kendo-grid>
    </kendo-card-body>
  </kendo-card>

  <div class="k-d-flex k-align-items-center k-gap-4 k-mt-3">
    <kendo-label text="Goods Type">
      <kendo-combobox [data]="goodsType" [(ngModel)]="goodsTypeSelected" [textField]="'goodsTypeName'"
        [valueField]="'goodsTypeID'" placeholder="Select type" rounded="large"></kendo-combobox>
    </kendo-label>
    <span style="margin-left: auto;"></span>
    <button kendoButton type="button" rounded="large" themeColor="primary" style="width:6rem">Clear</button>
    <button kendoButton type="button" rounded="large" themeColor="success" style="width:6rem"
      (click)="addReceipt()">Add</button>
  </div>

  <h2>Device</h2>

  <kendo-grid [kendoGridBinding]="gridData2" [selectable]="selectableSettings" [filterable]="true" [sortable]="true"
    [resizable]="true" class="bold-column-header wrap-header-grid" *ngIf="!false">
    <kendo-grid-checkbox-column [width]="40"></kendo-grid-checkbox-column>
    <kendo-grid-column field="ISELOT" title="ISELot#"> </kendo-grid-column>
    <kendo-grid-column field="CustomerLotNumber" title="Customer Lot Number"> </kendo-grid-column>
    <kendo-grid-column field="ExpectedQty" title="Expected Qty"></kendo-grid-column>
    <kendo-grid-column field="Expedite" title="Expedite">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{dataItem.Hold ? 'Yes' : 'No'}}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="PartNum" title="Part Num"></kendo-grid-column>
    <kendo-grid-column field="LabelCount" title="Label Count"></kendo-grid-column>
    <kendo-grid-column field="COO" title="COO"></kendo-grid-column>
    <kendo-grid-column field="DateCode" title="DateCode"></kendo-grid-column>
    <kendo-grid-column field="Hold" title="Hold">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{dataItem.Hold ? 'Yes' : 'No'}}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="HoldComments" title="Hold Comments"></kendo-grid-column>
    <kendo-grid-column [width]="60">
      <ng-template kendoGridCellTemplate let-dataItem>
        <button kendoButton [svgIcon]="ICON.moreVerticalIcon" #rowActionMenu></button>
        <kendo-contextmenu showOn="click" [target]="rowActionMenu" [items]="items"></kendo-contextmenu>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>

  <h2>Hardware</h2>

  <kendo-grid [kendoGridBinding]="gridData3" [selectable]="selectableSettings" [filterable]="true" [sortable]="true"
    [resizable]="true" class="bold-column-header wrap-header-grid" *ngIf="!false">
    <kendo-grid-checkbox-column [width]="40"></kendo-grid-checkbox-column>
    <kendo-grid-column field="serial" title="Serial#"> </kendo-grid-column>
    <kendo-grid-column field="CustomerId" title="Customer ID"> </kendo-grid-column>
    <kendo-grid-column field="ExpectedQty" title="Expected Qty"></kendo-grid-column>
    <kendo-grid-column field="HardwareType" title="Hardware Type"></kendo-grid-column>
  </kendo-grid>

  <div class="k-d-flex k-align-items-center k-gap-4 k-mt-3">
    <kendo-label text="Signature"></kendo-label>
    <kendo-card>
      <div class="k-p-5">
        <img src="" alt="" srcset="">
      </div>
    </kendo-card>
    <kendo-dateinput format="eee dd MMMM yyyy" [value]="expectedDateTime" class="k-center"
      style="width:8rem;"></kendo-dateinput>
    <span style="margin-left: auto;"></span>
    <button kendoButton type="button" rounded="large" themeColor="error" style="width:6rem">Cancel</button>
    <button kendoButton type="button" rounded="large" themeColor="info" style="width:6rem">Submit</button>

  </div>
</div>
<kendo-dialog *ngIf="isDialogOpen" [minWidth]="250" [width]="'50%'" class="dialog-round">
  <div class="k-d-flex">
    <button kendoButton type="button" rounded="full" class="k-ml-auto" themeColor="primary" icon="close" size="small"
      (click)="isDialogOpen = !isDialogOpen"></button>
  </div>
  <app-add-device></app-add-device>
</kendo-dialog>
