<div class="k-mx-2 minimal-table" id="addReceiptForm" [ngClass]="{'k-pointer-events-none':isDisabled.addReceipt}">
  <kendo-pdf-export #pdfExport>
    <div>
      <div class="k-d-flex k-flex-wrap k-align-items-center k-gap-6 k-mb-2">
        <i class="k-ml-auto d-none-sm"></i>
        <!--<div class="k-d-flex k-align-items-center k-gap-2">
          <input type="checkbox" name="isExpected" id="isExpected" [(ngModel)]="isExpected" style="border: 1px solid"
            kendoCheckBox>
          <label for="isExpected" kendoLabel> Expected</label>
        </div>-->
        <!--<div class="k-d-flex k-align-items-center k-gap-2" *ngIf="isVisibleFTZ">
          <input type="checkbox" name="FTZ" id="FTZ" [(ngModel)]="isFTZ" [disabled]="isDisableFTZ"
            style="border: 1px solid" kendoCheckBox>
          <label for="FTZ" kendoLabel> FTZ</label>
        </div>-->
        <div class="k-d-flex k-align-items-center k-gap-2">
          <input type="checkbox" name="IsInterim" id="IsInterim" [(ngModel)]="isInterim"
            (ngModelChange)="onChangeInterim()" [disabled]="isDisableInterim" style="border: 1px solid" kendoCheckBox>
          <label for="IsInterim" kendoLabel> Is Interim</label>
        </div>
      </div>

      <div class="k-d-flex k-flex-wrap k-align-items-stretch k-gap-4 k-w-full label-fs" [ngClass]="{'k-pointer-events-none':isDisableReceipt}">
        <kendo-card class="card-green k-flex-1 flex-auto-md">
          <kendo-card-body class="card-flex">
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Customer / Vendor" class="k-w-full">
                <kendo-combobox [data]="customerTypes" [(ngModel)]="customerTypeSelected"
                  (ngModelChange)="onChangeCustomerType()" [textField]="'customerTypeName'"
                  [valueField]="'customerTypeID'" [kendoDropDownFilter]="filterSettings" placeholder="Select"
                  rounded="large"></kendo-combobox>
              </kendo-label>
              <kendo-label text="Customer" class="k-w-full"
                *ngIf="customerTypeSelected?.customerTypeName == 'Customer'">
                <b class="required-label"></b>
                <kendo-combobox [data]="customers" [(ngModel)]="customerSelected" [textField]="'CustomerName'"
                  [valueField]="'CustomerID'" placeholder="Select" rounded="large"
                  [kendoDropDownFilter]="filterSettings" (ngModelChange)="onChangeCustomerName()"
                  [class.invalid]="!receipt.isValid.customer"></kendo-combobox>
              </kendo-label>
              <kendo-label text="Vendor Name" class="k-w-full"
                *ngIf="customerTypeSelected?.customerTypeName == 'Vendor'">
                <b class="required-label"></b>
                <kendo-combobox [data]="vendors" [(ngModel)]="vendorSelected" [allowCustom]="true"
                  [textField]="'VendorName'" [valueField]="'VendorID'" placeholder="Select" rounded="large"
                  [kendoDropDownFilter]="filterSettings" (ngModelChange)="onChangeCustomerName()"
                  [valueNormalizer]="valueNormalizerVendor"></kendo-combobox>
              </kendo-label>
            </div>
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Behalf of Customer" class="k-w-full">
                <kendo-combobox [data]="customers" [(ngModel)]="behalfOfCusotmerSelected" [textField]="'CustomerName'"
                  [valueField]="'CustomerID'" placeholder="Select" rounded="large"
                  (ngModelChange)="onChangeBehalfOfCusotmer()" [kendoDropDownFilter]="filterSettings"
                  [disabled]="isDisabledBehalfOfCusotmer"></kendo-combobox>
              </kendo-label>
              <!-- <kendo-label text="Behalf of Customer" class="k-w-full"
                *ngIf="customerTypeSelected?.customerTypeName == 'Vendor'">
                <kendo-combobox [data]="vendors" [(ngModel)]="behalfOfVendorSelected" [textField]="'VendorName'"
                  [valueField]="'VendorID'" placeholder="Select" rounded="large" [kendoDropDownFilter]="filterSettings"
                  [disabled]="isDisabledBehalfOfCusotmer"></kendo-combobox>
              </kendo-label> -->
              <kendo-label text="Receiving Facility" class="k-w-full">
                <b class="required-label"></b>
                <kendo-combobox [data]="receiptLocation" [(ngModel)]="receiptLocationSelected"
                  [textField]="'receivingFacilityName'" [valueField]="'receivingFacilityID'" [allowCustom]="true"
                  [kendoDropDownFilter]="filterSettings" placeholder="Select" rounded="large"></kendo-combobox>
              </kendo-label>
            </div>
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="PM/Receiver" class="k-w-full">
                <b class="required-label"></b>
                <kendo-combobox [data]="PMReceivers" [(ngModel)]="PMReceiverSelected" [textField]="'employeeName'"
                  [valueField]="'employeeID'" placeholder="Select" rounded="large"></kendo-combobox>
              </kendo-label>
            </div>
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="PM Comments" class="k-w-full">
                <kendo-textarea [(ngModel)]="comments" [rows]="5" placeholder="Enter text"
                  rounded="large"></kendo-textarea>
              </kendo-label>
            </div>
          </kendo-card-body>
        </kendo-card>
        <kendo-card class="card-blue k-flex-1 flex-auto-md">
          <kendo-card-body class="card-flex">
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Delivery Method" class="k-w-full">
                <b class="required-label"></b>
                <kendo-combobox [data]="deliveryMode" [(ngModel)]="deliveryModeSelected"
                  [textField]="'deliveryModeName'" [valueField]="'deliveryModeID'" placeholder="Select" rounded="large"
                  [kendoDropDownFilter]="filterSettings"
                  [class.invalid]="!receipt.isValid.deliveryMode"></kendo-combobox>
              </kendo-label>
              <kendo-label
                *ngIf="deliveryModeSelected?.deliveryModeName=='Customer Drop-Off' || deliveryModeSelected?.deliveryModeName=='Pickup'"
                text="Phone" class="k-w-full">
                <b *ngIf="deliveryModeSelected?.deliveryModeName=='Pickup'" class="required-label"></b>
                <kendo-textbox [(ngModel)]="contactPhone" placeholder="Enter phone" rounded="large"
                  [class.invalid]="!receipt.isValid.contactPhone"></kendo-textbox>
              </kendo-label>
              <kendo-label *ngIf="deliveryModeSelected?.deliveryModeName=='Courier'" text="Tracking/AWB#"
                class="k-w-full">
                <b class="required-label"></b>
                <kendo-textbox [(ngModel)]="tracking" placeholder="Tracking/AWB" rounded="large"
                  [class.invalid]="!receipt.isValid.tracking"></kendo-textbox>
              </kendo-label>
            </div>
            <div *ngIf="deliveryModeSelected?.deliveryModeName=='Courier'"
              class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Courier Name" class="k-w-full">
                <kendo-combobox [data]="couriers" [(ngModel)]="courierSelected" [textField]="'courierName'"
                  [kendoDropDownFilter]="filterSettings" [valueField]="'courierDetailID'" placeholder="Select"
                  rounded="large"></kendo-combobox>
              </kendo-label>
              <kendo-label text="Country From" class="k-w-full">
                <b class="required-label"></b>
                <kendo-combobox [data]="countries" [(ngModel)]="countrySelected" [textField]="'countryName'"
                  [kendoDropDownFilter]="filterSettings" [valueField]="'countryID'" placeholder="Select"
                  rounded="large"></kendo-combobox>
              </kendo-label>
            </div>
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Expected Date & Time" class="k-w-full">
                <b class="required-label"></b>
                <kendo-datetimepicker [format]="format" [(value)]="expectedDateTime"></kendo-datetimepicker>
              </kendo-label>

              <kendo-label
                *ngIf="deliveryModeSelected?.deliveryModeName=='Customer Drop-Off' || deliveryModeSelected?.deliveryModeName=='Pickup'"
                text="Contact Person" class="k-w-full">
                <b class="required-label"></b>
                <kendo-textbox [(ngModel)]="contactPerson" placeholder="Enter contact person" rounded="large"
                  [class.invalid]="!receipt.isValid.contactPerson"></kendo-textbox>
              </kendo-label>
            </div>
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label
                *ngIf="deliveryModeSelected?.deliveryModeName=='Customer Drop-Off' || deliveryModeSelected?.deliveryModeName=='Pickup'"
                text="Email" class="k-w-full">
                <kendo-textbox [(ngModel)]="email" placeholder="Enter your email" rounded="large"></kendo-textbox>
              </kendo-label>
            </div>
            <div class="k-d-flex k-align-items-center k-gap-4" kendoTooltip>
              <kendo-label *ngIf="deliveryModeSelected?.deliveryModeName=='Pickup'" text="Address"
                class="k-relative k-w-full">
                <b class="required-label"></b>
                <kendo-combobox [data]="addresses" [(ngModel)]="addressSelected" (ngModelChange)="onChangeAddress()"
                  [textField]="'fullAddress'" [valueField]="'addressId'" placeholder="Select"
                  [kendoDropDownFilter]="filterSettings" rounded="large"
                  [title]="addressSelected?.fullAddress || ''"></kendo-combobox>
              </kendo-label>
            </div>
            <!-- show kedo icon using src image -->
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Mail Comments" class="k-w-full">
                <kendo-textarea [(ngModel)]="deliveryComments" [rows]="3" placeholder="Enter comments"
                  rounded="large"></kendo-textarea>
              </kendo-label>
            </div>
          </kendo-card-body>
        </kendo-card>
      </div>

      <kendo-card class="card-green card-full k-mt-4" *ngIf="isVisibleHoldComments"
        [ngClass]="{'k-pointer-events-none':isDisableHoldComments}">
        <kendo-card-body class="card-flex">
          <i #noOfCartons> </i>
          <kendo-grid [kendoGridBinding]="gridData" class="bold-column-header cartons">
            <kendo-grid-column field="noOfCartons" title="No of Cartons" [width]="200">
              <ng-template kendoGridCellTemplate let-dataItem>
                <kendo-numerictextbox [(ngModel)]="dataItem.noOfCartons" [format]="'n0'" placeholder="Enter cartons"  (valueChange)="onCartonsValueChange($event)"
                  required></kendo-numerictextbox>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="isHold" title="Hold" [width]="60" class="center">
              <ng-template kendoGridCellTemplate let-dataItem>
                <input type="checkbox" [(ngModel)]="dataItem.isHold" [disabled]="dataItem.isHoldCheckboxEnabled"
                  kendoCheckBox (ngModelChange)="onChangeIsHold()">
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="holdComments" title="Hold Comments">
              <ng-template kendoGridCellTemplate let-dataItem>
                <kendo-textbox [(ngModel)]="dataItem.holdComments" (ngModelChange)="onChangeHoldComments()"
                  placeholder="Enter comments" [disabled]="dataItem.isHoldCommentEnabled"></kendo-textbox>
              </ng-template>
            </kendo-grid-column>
          </kendo-grid>
        </kendo-card-body>
      </kendo-card>
    </div>
    <!-- <div class="k-d-flex k-align-items-center k-gap-4 k-mt-3">
    <kendo-label text="Goods Type">
      <kendo-combobox [data]="goodsType" [(ngModel)]="goodsTypeSelected" [textField]="'goodsTypeName'"
        [valueField]="'goodsTypeID'" placeholder="Select type" rounded="large"
        [disabled]="isDisabledGoodsType"></kendo-combobox>
    </kendo-label>
  </div> -->

    <div *ngIf="!isDisabledGoodsType && isInterim">
      <div class="k-d-flex k-align-items-center k-gap-3">
        <h3 class="k-my-2">Interim</h3>
        <i class="k-ml-auto"></i>
        <button kendoButton type="button" rounded="large" themeColor="info" (click)="addRowInterim()"
          [disabled]="isDisabled.addInterim">Add</button>
        <button kendoButton type="button" rounded="large" themeColor="info" (click)="saveInterim()"
          [disabled]="isDisabled.addInterim">Save</button>
      </div>
      <div class="page-body">
        <kendo-grid [kendoGridBinding]="gridDataInterim" [selectable]="selectableSettings" [sortable]="true"
          [resizable]="true" [scrollable]="'scrollable'" class="bold-column-header wrap-header-grida">
          <kendo-grid-checkbox-column [width]="40" class="custom-kendo-checkbox"></kendo-grid-checkbox-column>
          <kendo-grid-column field="iseLotNumber" title="ISE Lot#" [width]="160">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
              <kendo-combobox [data]="interimLotsList" [(ngModel)]="dataItem.interimLotSelected"
                [textField]="'iseLotNumber'" [valueField]="'inventoryID'" placeholder="Select"
                [kendoDropDownFilter]="filterSettings" rounded="large"  (valueChange)="onLotValueChange($event, dataItem, rowIndex)"
                [popupSettings]="{ appendTo: 'root', width: 'auto'}" [class.ng-touched]="dataItem.error"
                required></kendo-combobox>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="deviceType" title="Device" [width]="70">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <span>{{dataItem.deviceType}}</span>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="customerCount" title="Lot Qty" [width]="70">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <span>{{dataItem.customerCount}}</span>
            </ng-template>
          </kendo-grid-column>
          
          <!-- <kendo-grid-column field="deviceType" title="Device Type" [width]="200">
            <ng-template kendoGridCellTemplate let-dataItem>
              <kendo-combobox [data]="deviceTypes" [(ngModel)]="dataItem.deviceTypeSelected"
                [textField]="'deviceTypeName'" [valueField]="'deviceTypeID'" placeholder="Select"
                [kendoDropDownFilter]="filterSettings" rounded="large"
                [popupSettings]="{ appendTo: 'root', width: 'auto'}" [class.ng-touched]="dataItem.error"
                required></kendo-combobox>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="lotOwner" title="Lot Owner" [width]="150">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
              <ng-container *ngIf="dataItem.recordStatus == 'I' || dataItem.recordStatus == 'U'; else showValue">
                <kendo-combobox [data]="employees" [(ngModel)]="dataItem.employeeSelected" [textField]="'EmployeeName'"
                  [valueField]="'EmployeeID'" [kendoDropDownFilter]="filterSettings" placeholder="Select"
                  rounded="large"></kendo-combobox>
              </ng-container>
              <ng-template #showValue>
                <a class="minimal-text" [title]="dataItem.lotOwner">{{dataItem.lotOwner}}</a>
              </ng-template>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="lotIdentifier" title="Lot Identifier" [width]="200">
            <ng-template kendoGridCellTemplate let-dataItem>
              <kendo-combobox [data]="lotIdentifiers" [(ngModel)]="dataItem.lotIdentifierSelected" [textField]="'name'"
                (ngModelChange)="onChangeLotIdentifier(dataItem)" [valueField]="'id'" placeholder="Select"
                rounded="large" [popupSettings]="{ appendTo: 'root', width: 'auto' }"></kendo-combobox>
            </ng-template>
          </kendo-grid-column>-->
          <kendo-grid-column field="labelCount" title="Step Qty" [width]="80">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <span>{{dataItem.labelCount}}</span>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="receivedQTY" title="Received Qty" [width]="80">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
              <ng-container *ngIf="dataItem.isReceived; else showValue">
                <kendo-textbox [(ngModel)]="dataItem.receivedQTY" placeholder="Received Qty"
                  [class.ng-touched]="dataItem.error" required></kendo-textbox>
              </ng-container>
              <ng-template #showValue>
                <span>{{dataItem.receivedQTY}}</span>
              </ng-template>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="goodQty" title="Good Qty" [width]="70">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
              <ng-container *ngIf="dataItem.isReceived; else showValue">
                <kendo-textbox [(ngModel)]="dataItem.goodQty" placeholder="Good Qty" [class.ng-touched]="dataItem.error"
                  required></kendo-textbox>
              </ng-container>
              <ng-template #showValue>
                <span>{{dataItem.goodQty}}</span>
              </ng-template>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="rejectedQty" title="Reject Qty" [width]="200">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
              <ng-container *ngIf="dataItem.isReceived; else showValue">
                <kendo-textbox [(ngModel)]="dataItem.rejectedQty" placeholder="Reject Qty"
                  [class.ng-touched]="dataItem.error" required></kendo-textbox>
              </ng-container>
              <ng-template #showValue>
                <span>{{dataItem.rejectedQty}}</span>
              </ng-template>
            </ng-template>
          </kendo-grid-column>
          <!--<kendo-grid-column field="isHold" title="Hold" [width]="60">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
              <input type="checkbox" name="isHold" [(ngModel)]="dataItem.isHold"
                (ngModelChange)="onHoldChange(dataItem)" kendoCheckBox [disabled]="!dataItem.isReceived">
            </ng-template>
          </kendo-grid-column> -->
          <kendo-grid-column title="" [width]="50">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
              <button kendoButton [svgIcon]="ICON.moreVerticalIcon" class="k-ml-auto"
                (click)="onOpenRowActionMenu(dataItem, TableType.Interim)" #rowActionMenuTarget></button>
              <kendo-contextmenu showOn="click" [target]="rowActionMenuTarget" [items]="dataItem.rowActionMenu"
                (select)="onSelectRowActionMenu($event, dataItem, rowIndex, 'Interim')"></kendo-contextmenu>
            </ng-template>
          </kendo-grid-column>
        </kendo-grid>
      </div>
    </div>
    <div *ngIf="!isDisabledGoodsType && !isInterim && isPMRole">
      <div class="k-d-flex k-align-items-center k-gap-3">
        <h3 class="k-my-2">Device</h3>
        <kendo-label text="Lot Category: "></kendo-label>
        <kendo-combobox [data]="lotCategories" [(ngModel)]="lotCategorySelected" [textField]="'lotCategoryName'"
          [valueField]="'lotCategoryID'" [kendoDropDownFilter]="filterSettings" placeholder="Select" rounded="large"
          style="min-width: 300px; width: auto; max-width: 100%;" required></kendo-combobox>
        <i class="k-ml-auto"></i>
        <button kendoButton type="button" rounded="large" themeColor="info" (click)="addRowDevice()"
          [disabled]="isDisabled.addDevice">Add</button>
        <button kendoButton type="button" rounded="large" themeColor="info" (click)="saveDevices()"
          [disabled]="isDisabled.addDevice">Save</button>
      </div>
      <div class="page-body">
        <kendo-grid [kendoGridBinding]="gridDataDevice" [selectable]="selectableSettings" [sortable]="true"
          [resizable]="true" [scrollable]="'scrollable'" class="bold-column-header wrap-header-grida">
          <kendo-grid-checkbox-column [width]="40" class="custom-kendo-checkbox"></kendo-grid-checkbox-column>
          <kendo-grid-column field="iseLotNumber" title="ISE Lot#" [width]="100">

            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
              <span [title]="dataItem.iseLotNumber">{{ dataItem.iseLotNumber }}</span>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="customerLotNumber" title="Cust lot#" [width]="70">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
              <ng-container *ngIf="dataItem.recordStatus == 'I' || dataItem.recordStatus == 'U'; else showValue">
                <kendo-textbox [(ngModel)]="dataItem.customerLotNumber" placeholder="Lot Number"
                  [class.ng-touched]="dataItem.error" required></kendo-textbox>
              </ng-container>
              <ng-template #showValue>
                <span>{{dataItem.customerLotNumber}}</span>
              </ng-template>
            </ng-template></kendo-grid-column>
          <kendo-grid-column field="customerCount" title="Cust Cnt" [width]="70">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
              <ng-container *ngIf="dataItem.recordStatus == 'I' || dataItem.recordStatus == 'U'; else showValue">
                <kendo-textbox [(ngModel)]="dataItem.customerCount" (ngModelChange)="onCountUIChange($event)"
                  placeholder="Customer Count" [class.ng-touched]="dataItem.error" required></kendo-textbox>
              </ng-container>
              <ng-template #showValue>
                <span>{{dataItem.customerCount}}</span>
              </ng-template>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="expedite" title="Expedite" [width]="70">
            <ng-template kendoGridCellTemplate let-dataItem>
              <input type="checkbox" name="expedite" [(ngModel)]="dataItem.expedite" kendoCheckBox>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="iqa" title="IQA Optional" [width]="70">
            <ng-template kendoGridCellTemplate let-dataItem>
              <input type="checkbox" name="iqa" [(ngModel)]="dataItem.iqa" kendoCheckBox>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="expedite" title="Device" [width]="200">
            <ng-template kendoGridCellTemplate let-dataItem>
              <kendo-combobox [data]="deviceTypes" [(ngModel)]="dataItem.deviceTypeSelected"
                [textField]="'deviceTypeName'" [valueField]="'deviceTypeID'" placeholder="Select"
                [kendoDropDownFilter]="filterSettings" rounded="large"
                [popupSettings]="{ appendTo: 'root', width: 'auto'}" [class.ng-touched]="dataItem.error"
                required></kendo-combobox>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="lotOwner" title="Lot Owner" [width]="150">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
              <ng-container *ngIf="dataItem.recordStatus == 'I' || dataItem.recordStatus == 'U'; else showValue">
                <kendo-combobox [data]="employees" [(ngModel)]="dataItem.employeeSelected" [textField]="'EmployeeName'"
                  [valueField]="'EmployeeID'" [kendoDropDownFilter]="filterSettings" placeholder="Select"
                  rounded="large"></kendo-combobox>
              </ng-container>
              <ng-template #showValue>
                <a class="minimal-text" [title]="dataItem.lotOwner">{{dataItem.lotOwner}}</a>
              </ng-template>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="lotIdentifier" title="Lot Identifier" [width]="200">
            <ng-template kendoGridCellTemplate let-dataItem>
              <kendo-combobox [data]="lotIdentifiers" [(ngModel)]="dataItem.lotIdentifierSelected" [textField]="'name'"
                (ngModelChange)="onChangeLotIdentifier(dataItem)" [valueField]="'id'" placeholder="Select"
                rounded="large" [popupSettings]="{ appendTo: 'root', width: 'auto' }"></kendo-combobox>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="labelCount" title="Label Count" [width]="80">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
              <ng-container *ngIf="dataItem.isReceived && dataItem.recordStatus == 'U'; else showValue">
                <kendo-textbox [(ngModel)]="dataItem.labelCount" placeholder="Label Count"
                  [class.ng-touched]="dataItem.error" required></kendo-textbox>
              </ng-container>
              <ng-template #showValue>
                <span>{{dataItem.labelCount}}</span>
              </ng-template>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="dateCode" title="Date Code" [width]="80">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
              <ng-container *ngIf="dataItem.isReceived && dataItem.recordStatus == 'U'; else showValue">
                <kendo-textbox [(ngModel)]="dataItem.dateCode" placeholder="Date Code"
                  [class.ng-touched]="dataItem.error" required></kendo-textbox>
                <!-- <kendo-numerictextbox [min]="0" [(ngModel)]="dataItem.dateCode"
                  placeholder="Date Code"></kendo-numerictextbox> -->
              </ng-container>
              <ng-template #showValue>
                <span>{{dataItem.dateCode}}</span>
              </ng-template>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="coo" title="COO" [width]="200">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
              <ng-container *ngIf="dataItem.isReceived && dataItem.recordStatus == 'U'; else showValue">
                <!-- <kendo-textbox [(ngModel)]="dataItem.coo" placeholder="COO"></kendo-textbox> -->
                <kendo-combobox [data]="countries" [(ngModel)]="dataItem.countrySelected" [textField]="'countryName'"
                  [valueField]="'countryID'" [kendoDropDownFilter]="filterSettings" placeholder="Select" rounded="large"
                  [class.ng-touched]="dataItem.error" required></kendo-combobox>
              </ng-container>
              <ng-template #showValue>
                <a class="minimal-text" [title]="dataItem.coo">{{ dataItem.coo }}</a>
              </ng-template>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="isHold" title="Hold" [width]="60">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
              <input type="checkbox" name="isHold" [(ngModel)]="dataItem.isHold"
                (ngModelChange)="onHoldChange(dataItem)" kendoCheckBox [disabled]="!dataItem.isReceived">
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column title="" [width]="50">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
              <button kendoButton [svgIcon]="ICON.moreVerticalIcon" class="k-ml-auto"
                (click)="onOpenRowActionMenu(dataItem, TableType.Device)" #rowActionMenuTarget></button>
              <kendo-contextmenu showOn="click" [target]="rowActionMenuTarget" [items]="dataItem.rowActionMenu"
                (select)="onSelectRowActionMenu($event, dataItem, rowIndex, 'Device')"></kendo-contextmenu>
            </ng-template>
          </kendo-grid-column>
        </kendo-grid>
      </div>
    </div>
    <!-- <div class="k-d-flex">
    <i class="k-ml-auto"></i>
    <button kendoButton (click)="doTestEditMode()">Test Edit Mode</button>
  </div> -->
    <div *ngIf="!isDisabledGoodsType && !isInterim && (isPMRole || isReceiverOrMail)">
      <div class="k-d-flex k-align-items-center k-gap-3">
        <h3 class="k-my-2">Hardware</h3>
        <i class="k-ml-auto"></i>
        <button kendoButton type="button" rounded="large" themeColor="info" (click)="addHardwareRow()"
          [disabled]="isDisabled.addHardware">Add</button>
        <button kendoButton type="button" rounded="large" themeColor="info" (click)="saveHardwares()"
          [disabled]="isDisabled.addHardware">Save</button>
      </div>
      <div class="page-body w-120-sm">
        <kendo-grid [kendoGridBinding]="gridDataHardware" [selectable]="selectableSettings" [sortable]="true"
          [resizable]="true" class="bold-column-header wrap-header-grid">
          <kendo-grid-checkbox-column [width]="40"></kendo-grid-checkbox-column>
          <kendo-grid-column field="hardwareID" title="Serial#"></kendo-grid-column>
          <kendo-grid-column field="customerHardwareID" title="Customer Hardware ID">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
              <ng-container *ngIf="dataItem.recordStatus == 'I' || dataItem.recordStatus == 'U'; else showValue">
                <!-- <kendo-combobox [data]="customers" [(ngModel)]="dataItem.customerSelected" [textField]="'CustomerName'"
                  [valueField]="'CustomerID'" [kendoDropDownFilter]="filterSettings" placeholder="Select"
                  rounded="large"></kendo-combobox> -->
                <kendo-textbox [(ngModel)]="dataItem.customerHardwareID" placeholder="Customer ID"
                  [class.ng-touched]="dataItem.error" required></kendo-textbox>
              </ng-container>
              <ng-template #showValue>
                <span>{{dataItem.customerHardwareID}}</span>
              </ng-template>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="expectedQty" title="Expected Qty" [width]="200">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
              <ng-container *ngIf="dataItem.recordStatus == 'I' || dataItem.recordStatus == 'U'; else showValue">
                <kendo-numerictextbox [(ngModel)]="dataItem.expectedQty" [format]="'n0'" placeholder="Expected Qty"
                  [class.ng-touched]="dataItem.error" required></kendo-numerictextbox>
              </ng-container>
              <ng-template #showValue>
                <span>{{dataItem.expectedQty}}</span>
              </ng-template>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column field="hardwareType" title="Hardware Type">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
              <ng-container *ngIf="dataItem.recordStatus == 'I' || dataItem.recordStatus == 'U'; else showValue">
                <kendo-combobox [data]="hardwareTypes" [(ngModel)]="dataItem.hardwareTypeSelected"
                  [textField]="'hardwareType'" [valueField]="'hardwareTypeID'" placeholder="Select"
                  [kendoDropDownFilter]="filterSettings" rounded="large" [class.ng-touched]="dataItem.error"
                  required></kendo-combobox>
              </ng-container>
              <ng-template #showValue><span>{{dataItem.hardwareType}}</span></ng-template>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column title="" [width]="50">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <button kendoButton [svgIcon]="ICON.moreVerticalIcon" class="k-ml-auto"
                  (click)="onOpenRowActionMenu(dataItem, TableType.Hardware)" #rowActionMenuTarget></button>
                <kendo-contextmenu showOn="click" [target]="rowActionMenuTarget" [items]="dataItem.rowActionMenu"
                  (select)="onSelectRowActionMenu($event, dataItem, rowIndex, 'Hardware')"></kendo-contextmenu>
            </ng-template>
          </kendo-grid-column>
          <!--<kendo-grid-column title="" [width]="50">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
              <button kendoButton [svgIcon]="ICON.moreVerticalIcon" class="k-ml-auto"
                (click)="onOpenRowActionMenu(dataItem, TableType.Interim)" #rowActionMenuTarget></button>
              <kendo-contextmenu showOn="click" [target]="rowActionMenuTarget" [items]="dataItem.rowActionMenu"
                (select)="onSelectRowActionMenu($event, dataItem, rowIndex, 'Interim')"></kendo-contextmenu>
            </ng-template>
          </kendo-grid-column> -->
        </kendo-grid>
      </div>
    </div>
    <div *ngIf="!isDisabledGoodsType && !isInterim && (isPMRole || isReceiverOrMail)">
      <div class="k-d-flex k-align-items-center k-gap-3">
        <h3 class="k-my-2">Miscellaneous Goods</h3>
        <i class="k-ml-auto"></i>
        <button kendoButton type="button" rounded="large" themeColor="info" (click)="addMiscellaneousRow()"
          [disabled]="isDisabled.addMisc">Add</button>
        <button kendoButton type="button" rounded="large" themeColor="info" (click)="saveMiscellaneous()"
          [disabled]="isDisabled.addMisc">Save</button>
      </div>
      <div class="page-body w-120-sm">
        <kendo-grid [kendoGridBinding]="gridDataMiscellaneous" [selectable]="selectableSettings" [sortable]="true"
          [resizable]="true" class="bold-column-header wrap-header-grid">
          <kendo-grid-checkbox-column [width]="40"></kendo-grid-checkbox-column>
          <kendo-grid-column field="serialNumber" title="Serial#">
          </kendo-grid-column>
          <kendo-grid-column field="additionalInfo" title="Additional Info">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
              <ng-container *ngIf="dataItem.recordStatus == 'I' || dataItem.recordStatus == 'U'; else showValue">
                <kendo-textbox [(ngModel)]="dataItem.additionalInfo" placeholder="Additional Info"
                  [class.ng-touched]="dataItem.error" required></kendo-textbox>
              </ng-container>
              <ng-template #showValue>
                <span>{{dataItem.additionalInfo}}</span>
              </ng-template>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column title="" [width]="50">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <button kendoButton [svgIcon]="ICON.moreVerticalIcon" class="k-ml-auto"
                  (click)="onOpenRowActionMenu(dataItem, TableType.Misc)" #rowActionMenuTarget></button>
                <kendo-contextmenu showOn="click" [target]="rowActionMenuTarget" [items]="dataItem.rowActionMenu"
                  (select)="onSelectRowActionMenu($event, dataItem, rowIndex, 'Misc')"></kendo-contextmenu>
            </ng-template>
          </kendo-grid-column>
          <!-- <kendo-grid-column field="modifiedOn" title="Modified On">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
              <div class="k-d-flex">
                <span>{{dataItem.modifiedOn}}</span>
                <button kendoButton [svgIcon]="ICON.moreVerticalIcon" class="k-ml-auto"
                  (click)="onOpenRowActionMenu(dataItem, TableType.Misc)" #rowActionMenuTarget></button>
                <kendo-contextmenu showOn="click" [target]="rowActionMenuTarget" [items]="rowActionMenu"
                  (select)="onSelectRowActionMenu($event, dataItem, rowIndex, 'Misc')"></kendo-contextmenu>
              </div>
            </ng-template>
          </kendo-grid-column> -->
        </kendo-grid>
      </div>
    </div>

    <div *ngIf="!isDisabledGoodsType" class="k-d-flex k-align-items-center k-gap-4 k-mt-3">
      <div>
        <h3 class="k-my-2">Receipt Attachments</h3>
      </div>
      <kendo-fileselect #upFiles (select)="onSelect($event)" (upload)="onUpload($event)"
        [multiple]="false"></kendo-fileselect>
      <button kendoButton type="button" rounded="large" themeColor="secondary" style="width:6rem"
        (click)="uploadFiles(upFiles)">Upload</button>
    </div>
    <div *ngIf="!isDisabledGoodsType" class="k-mt-2">
      <kendo-grid [data]="receiptAttachments" class="receipt-attachments">
        <kendo-grid-column title="#" [width]="40">
          <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
            {{ rowIndex + 1 }}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="attachmentName" title="File Name">
          <ng-template kendoGridCellTemplate let-dataItem>
            <a class="minimal-text link" [href]="downloadFileApi+dataItem.path" target="_blank">{{dataItem.path}}</a>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column title="Actions" [width]="100">
          <ng-template kendoGridCellTemplate let-dataItem>
            <button kendoButton [svgIcon]="ICON.trashIcon" themeColor="error" (click)="deleteFile(dataItem)"></button>
          </ng-template>
        </kendo-grid-column>
      </kendo-grid>
    </div>
    <!-- signature -->
    <kendo-card class="card-blue card-full k-mt-4"
      *ngIf="gridDataHardware.length > 0 || gridDataMiscellaneous.length > 0 || gridDataDevice.length > 0 || gridDataInterim.length > 0">
      <kendo-card-body class="card-flex">
        <div class="k-d-flex k-flex-wrap k-align-items-center k-gap-4 k-mt-3">
          <kendo-label text="Customer / Employee">
            <kendo-combobox [data]="signatureTypes" [(ngModel)]="signatureTypeSelected" [textField]="'customerTypeName'"
              [valueField]="'customerTypeID'" (ngModelChange)="onChangeCustomerType()" placeholder="Select"
              [kendoDropDownFilter]="filterSettings" rounded="large"></kendo-combobox>
          </kendo-label>
          <kendo-label text="Employee" *ngIf="signatureTypeSelected?.customerTypeName == 'Employee'">
            <kendo-combobox [data]="employees" [(ngModel)]="signatureEmployeeSelected" [textField]="'EmployeeName'"
              [valueField]="'EmployeeID'" [kendoDropDownFilter]="filterSettings" placeholder="Select"
              rounded="large"></kendo-combobox>
          </kendo-label>
          <kendo-label text="Customer" *ngIf="signatureTypeSelected?.customerTypeName == 'Customer'">
            <kendo-textbox name = "customer" placeholder="Enter customer name" [(ngModel)]="signaturePerson"></kendo-textbox>
          </kendo-label>
          <kendo-label text="Date & Time" *ngIf="Signaturebase64Data">
            <kendo-dateinput format="eee dd MMMM yyyy, h:mm a" [value]="signatureDate"
              class="k-center"></kendo-dateinput>
          </kendo-label>

          <kendo-label text="Signature">
            <!-- <kendo-textarea [(ngModel)]="signatureName" [rows]="3" placeholder="Name" name="signatureName" required
          rounded="large"></kendo-textarea> -->
            <kendo-signature #signature [(value)]="Signaturebase64Data" [smooth]="true" [maximizable]="false"
              [hideLine]="true"></kendo-signature>
            <!-- <input type="text" placeholder="Name" class="k-w-full" kendoTextBox [(ngModel)]="signatureName"
          name="signatureName" required> -->
          </kendo-label>
          <span style="margin-left: auto;"></span>
        </div>
      </kendo-card-body>
    </kendo-card>

  </kendo-pdf-export>
  <!-- bottom button -->
  <div class="k-d-flex k-align-items-center k-gap-4 k-mt-3">

    <span style="margin-left: auto;"></span>
    <!-- <button kendoButton type="button" rounded="large" themeColor="secondary" style="width:6rem"
    (click)="testAddReceipt()">Test</button> -->
    <!-- <button kendoButton type="button" rounded="large" themeColor="primary" style="width:6rem"
    [disabled]="isDisabled.clearReceipt" (click)="onClearForm()">Clear</button> -->
    <button kendoButton type="button" rounded="large" themeColor="success" style="width:6rem" (click)="addReceipt()"
      [disabled]="isDisabled.addReceipt">Submit</button>
    <button kendoButton type="button" rounded="large" themeColor="dark" style="width:6rem"
      (click)="printSection()">Print</button>
  </div>
</div>
<kendo-dialog *ngIf="isDialogOpen" [minWidth]="250" [width]="'50%'" class="dialog-round">
  <div class="k-d-flex">
    <button kendoButton type="button" rounded="full" class="k-ml-auto" themeColor="primary" [svgIcon]="ICON.xIcon"
      size="small" (click)="isDialogOpen = !isDialogOpen"></button>
  </div>
  <app-add-device></app-add-device>
</kendo-dialog>
<!--  For Hold popup   -->
<kendo-dialog *ngIf="isDialogOpen" [width]="'68%'" class="dialog-round">
  <div class="k-d-flex k-align-items-center k-mb-3">
    <h3 class="k-m-0">On / Off Hold</h3>
    <i class="k-ml-auto"></i>
    <!-- receiptID -->
    <small *ngIf="appService.sharedData.receiving.dataItem?.receiptID">Receipt ID:
      {{appService.sharedData.receiving.dataItem.receiptID}}</small>
    <button kendoButton type="button" rounded="full" [svgIcon]="ICON.xIcon" (click)="closeDialog()"></button>
  </div>
  <app-edit-inventory-hold [selectedRowData]="holdData" (cancel)="closeDialog()"></app-edit-inventory-hold>
</kendo-dialog>