<div class="k-mx-2 minimal-table" id="addReceiptForm" [ngClass]="{'k-pointer-events-none':isDisabled.addReceipt}">
      <div>
      <div class="k-d-flex k-flex-wrap k-align-items-stretch k-gap-4 k-w-full label-fs" [ngClass]="{'k-pointer-events-none': isDisableReceipt}">
        <kendo-card class="card-blue k-flex-1 flex-auto-md">
          <kendo-card-body class="card-flex">
            <div class="k-d-flex k-flex-column k-align-items-left k-justify-content-center k-gap-1" style="width: 200px;">
              <div class="k-w-75">
                <kendo-label text="Scan Mailroom Number" class="k-w-full">
                  <b class="required-label"></b>
                  <kendo-textbox [(ngModel)]="mailroomNumber" placeholder="Scan Mailroom Number" rounded="large"
                    [class.invalid]="!mailroomNumber && !stagingLocation">
                  </kendo-textbox>
                </kendo-label>
              </div>
              <div class="k-w-75">
                <kendo-label text="Scan Staging Location" class="k-w-full">
                  <b class="required-label"></b>
                  <kendo-textbox [(ngModel)]="stagingLocation" placeholder="Scan Staging Location" rounded="large"
                    [class.invalid]="!stagingLocation && !mailroomNumber ">
                  </kendo-textbox>
                </kendo-label>
              </div>
            </div>
          </kendo-card-body>
        </kendo-card>
      </div>
      <div>
        <h3 class="k-my-2">Device</h3>
        <!-- <div class="k-d-flex k-justify-content-end">
          <button kendoButton type="button" rounded="large" themeColor="info" (click)="addRowDevice()"
            [disabled]="isDisabled.addDevice" >Add</button>
        </div> -->
      </div>
        <div class="page-body">
          <kendo-grid [kendoGridBinding]="gridDataDevice" [selectable]="selectableSettings" [sortable]="true"
            [resizable]="true" [scrollable]="'scrollable'" class="bold-column-header wrap-header-grida">
            <kendo-grid-checkbox-column [width]="40" class="custom-kendo-checkbox"></kendo-grid-checkbox-column>
            <kendo-grid-column field="iseLotNumber" title="ISE Lot#" [width]="100">
  
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <span [title]="dataItem.iseLotNumber">{{ dataItem.iseLotNumber }}</span>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="customerLotNumber" title="Cust lot#" [width]="70">
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <ng-container *ngIf="dataItem.recordStatus == 'I' || dataItem.recordStatus == 'U'; else showValue">
                  <kendo-textbox [(ngModel)]="dataItem.customerLotNumber" placeholder="Lot Number"
                    [class.ng-touched]="dataItem.error" required></kendo-textbox>
                </ng-container>
                <ng-template #showValue>
                  <span>{{dataItem.customerLotNumber}}</span>
                </ng-template>
              </ng-template></kendo-grid-column>
            <kendo-grid-column field="customerCount" title="Cust Cnt" [width]="70">
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <ng-container *ngIf="dataItem.recordStatus == 'I' || dataItem.recordStatus == 'U'; else showValue">
                  <kendo-textbox [(ngModel)]="dataItem.customerCount" (ngModelChange)="onCountUIChange($event)"
                    placeholder="Customer Count" [class.ng-touched]="dataItem.error" required></kendo-textbox>
                </ng-container>
                <ng-template #showValue>
                  <span>{{dataItem.customerCount}}</span>
                </ng-template>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="expedite" title="Expedite" [width]="70">
              <ng-template kendoGridCellTemplate let-dataItem>
                <input type="checkbox" name="expedite" [(ngModel)]="dataItem.expedite" kendoCheckBox>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="iqa" title="IQA Optional" [width]="70">
              <ng-template kendoGridCellTemplate let-dataItem>
                <input type="checkbox" name="iqa" [(ngModel)]="dataItem.iqa" kendoCheckBox>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="expedite" title="Device" [width]="200">
              <ng-template kendoGridCellTemplate let-dataItem>
                <kendo-combobox [data]="deviceTypes" [(ngModel)]="dataItem.deviceTypeSelected"
                  [textField]="'deviceTypeName'" [valueField]="'deviceTypeID'" placeholder="Select"
                  [kendoDropDownFilter]="filterSettings" rounded="large"
                  [popupSettings]="{ appendTo: 'root', width: 'auto'}" [class.ng-touched]="dataItem.error"
                  required></kendo-combobox>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="lotOwner" title="Lot Owner" [width]="150">
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <ng-container *ngIf="dataItem.recordStatus == 'I' || dataItem.recordStatus == 'U'; else showValue">
                  <kendo-combobox [data]="employees" [(ngModel)]="dataItem.employeeSelected" [textField]="'EmployeeName'"
                    [valueField]="'EmployeeID'" [kendoDropDownFilter]="filterSettings" placeholder="Select"
                    rounded="large"></kendo-combobox>
                </ng-container>
                <ng-template #showValue>
                  <a class="minimal-text" [title]="dataItem.lotOwner">{{dataItem.lotOwner}}</a>
                </ng-template>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="lotIdentifier" title="Lot Identifier" [width]="200">
              <ng-template kendoGridCellTemplate let-dataItem>
                <kendo-combobox [data]="lotIdentifiers" [(ngModel)]="dataItem.lotIdentifierSelected" [textField]="'name'"
                  (ngModelChange)="onChangeLotIdentifier(dataItem)" [valueField]="'id'" placeholder="Select"
                  rounded="large" [popupSettings]="{ appendTo: 'root', width: 'auto' }"></kendo-combobox>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="labelCount" title="Label Count" [width]="80">
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <ng-container *ngIf="dataItem.isReceived && dataItem.recordStatus == 'U'; else showValue">
                  <kendo-textbox [(ngModel)]="dataItem.labelCount" placeholder="Label Count"
                    [class.ng-touched]="dataItem.error" required></kendo-textbox>
                </ng-container>
                <ng-template #showValue>
                  <span>{{dataItem.labelCount}}</span>
                </ng-template>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="dateCode" title="Date Code" [width]="80">
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <ng-container *ngIf="dataItem.isReceived && dataItem.recordStatus == 'U'; else showValue">
                  <kendo-textbox [(ngModel)]="dataItem.dateCode" placeholder="Date Code"
                    [class.ng-touched]="dataItem.error" required></kendo-textbox>
                  <!-- <kendo-numerictextbox [min]="0" [(ngModel)]="dataItem.dateCode"
                    placeholder="Date Code"></kendo-numerictextbox> -->
                </ng-container>
                <ng-template #showValue>
                  <span>{{dataItem.dateCode}}</span>
                </ng-template>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="coo" title="COO" [width]="200">
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <ng-container *ngIf="dataItem.isReceived && dataItem.recordStatus == 'U'; else showValue">
                  <!-- <kendo-textbox [(ngModel)]="dataItem.coo" placeholder="COO"></kendo-textbox> -->
                  <kendo-combobox [data]="countries" [(ngModel)]="dataItem.countrySelected" [textField]="'countryName'"
                    [valueField]="'countryID'" [kendoDropDownFilter]="filterSettings" placeholder="Select" rounded="large"
                    [class.ng-touched]="dataItem.error" required></kendo-combobox>
                </ng-container>
                <ng-template #showValue>
                  <a class="minimal-text" [title]="dataItem.coo">{{ dataItem.coo }}</a>
                </ng-template>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="isHold" title="Hold" [width]="60">
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <input type="checkbox" name="isHold" [(ngModel)]="dataItem.isHold"
                  (ngModelChange)="onHoldChange(dataItem)" kendoCheckBox [disabled]="!dataItem.isReceived">
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column title="" [width]="50">
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <button kendoButton [svgIcon]="ICON.moreVerticalIcon" class="k-ml-auto"
                  (click)="onOpenRowActionMenu(dataItem)" #rowActionMenuTarget></button>
                <kendo-contextmenu showOn="click" [target]="rowActionMenuTarget" [items]="dataItem.rowActionMenu"
                  (select)="onSelectRowActionMenu($event, dataItem, rowIndex)"></kendo-contextmenu>
              </ng-template>
            </kendo-grid-column>
          </kendo-grid>
        </div>
      </div>
    <div class="k-d-flex k-align-items-center k-gap-4 k-mt-3">
      <span style="margin-left: auto;"></span>
      <button kendoButton type="button" rounded="large" themeColor="success" style="width:6rem" (click)="saveReceiving()"
        [disabled]="isDisabled.addReceipt">Submit</button>
      <button kendoButton type="button" rounded="large" themeColor="dark" style="width:6rem"
        (click)="printSection()">Print</button>
    </div>
  </div>
  