<div class="k-m-2 k-overflow-y-auto" style="height: auto;">
  <kendo-card-body class="card-flex" style="background-color:#E8F9F1">
    <div class="k-d-flex k-flex-column k-gap-3">
      <div class="k-d-flex k-align-items-end k-gap-3 k-justify-content-between">
        <div class="field-container" style="flex: 1; display: flex; align-items: center;">
          <kendo-label [for]="'lotNumber'" class="label-text">
            <strong>Lot/ Mail/ FGI Pull #:</strong>
          </kendo-label>
          <span class="value-text" style="margin-left: 0.5rem;">{{ selectedLotNumber }}</span>
        </div>
        <div class="field-container" style="flex: 2; display: flex; align-items: center;">
          <kendo-label [for]="'customerName'" class="label-text">
            <strong>Customer:</strong>
          </kendo-label>
          <span class="value-text" style="margin-left: 0.5rem;">{{ customerName }}</span>
        </div>
      </div>
    </div>
    <div class="k-d-flex k-flex-column k-gap-3">
      <div class="k-d-flex k-align-items-end k-gap-3 k-justify-content-between">
        <div class="field-container" style="flex: 1; display: flex; align-items: center;">
          <kendo-label [for]="'device'" class="label-text">
            <strong>Device:</strong>
          </kendo-label>
          <span class="value-text" style="margin-left: 0.5rem;">{{ device }}</span>
        </div>
        <div class="field-container" style="flex: 1; display: flex; align-items: center;">
          <kendo-label [for]="'noOfHolds'" class="label-text">
            <strong>No Of Holds:</strong>
          </kendo-label>
          <span class="value-text" style="margin-left: 0.5rem;">{{ numberOfHolds }}</span>
        </div>
        <div class="field-container" style="flex: 1; display: flex; justify-content: flex-end;">
          <button
            kendoButton
            rounded="full"
            themeColor="info"
            style="padding: 0.3rem 1.2rem"
            (click)="onAddClick()">
            Add
          </button>
        </div>
      </div>
    </div>
  </kendo-card-body>
  <div class="k-my-2">
    <kendo-grid 
      [kendoGridBinding]="gridDataResult.data"  
      [selectable]="selectableSettings" 
      [columnMenu]="columnMenuSettings"
      [filterable]="true" 
      [sortable]="true"
      [resizable]="true" 
      [pageSize]="pageSize"
      [skip]="skip" 
      [pageable]="true" 
      (pageChange)="pageChange($event)" 
      class="grid-header-sm grid-header-bold" 
      [rowClass]="rowCallback"
      style="height: 40vh;">
      <kendo-grid-column [width]="80">
        <ng-template kendoGridCellTemplate let-dataItem>
          <button kendoButton *ngIf="!dataItem.offHoldComments; else viewButtonTemplate" (click)="openEditDialog(dataItem)" themeColor="info">Edit</button>
          <ng-template #viewButtonTemplate>
            <button kendoButton (click)="openViewDialog(dataItem)" themeColor="primary">View</button>
          </ng-template>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column *ngFor="let c of columnData" [field]="c.field" [title]="c.title"></kendo-grid-column>
    </kendo-grid>
  </div>
  <div class="k-d-flex k-gap-3 k-mt-2">
    <button kendoButton type="button" rounded="full" themeColor="error" class="k-ml-auto" style="width:6rem" (click)="clearRequest()">Cancel</button>
  </div>
  <kendo-dialog *ngIf="isDialogOpen" (close)="closeDialog()" [minWidth]="250" [width]="'58%'">
    <div class="k-d-flex k-align-items-center k-mb-6">
      <h2 class="k-m-0">Hold Details</h2>
      <button kendoButton type="button" rounded="full" class="k-ml-auto" [svgIcon]="ICON.xIcon" size="small" (click)="closeDialog()"></button>
  </div>
  <app-add-hold
    (cancel)="closeDialog()"
    [mode]="viewOrEdit"
    [lotNumber]="selectedRowData?.iseLotNumber || ''"
    [noOfHolds]="gridDataResult.total.toString()"
    [customerName]="customerName"
    [device]="device"
    [inventoryId]="selectedRowData?.inventoryID || 0"
    [selectedGridData]="selectedRowDat"
    (dataUpdated)="onDataUpdated()">
  </app-add-hold>
</kendo-dialog>