<div class="k-d-flex k-align-items-center k-gap-3 k-py-2 k-px-10 page-header">
    <h2>Combined Lot</h2>

    <div class="k-d-flex k-flex-col k-gap-2 k-ml-auto">
      <div class="k-d-flex k-gap-3">
        <kendo-label text="From Date" class="k-w-full k-font-size-sm">
        <kendo-datepicker [format]="format" [(value)]="fromDate" ></kendo-datepicker>
      </kendo-label>

      <kendo-label text="To Date" class="k-w-full k-font-size-sm">
        <kendo-datepicker [format]="format" [(value)]="toDate" ></kendo-datepicker>
      </kendo-label>
    
        </div>
    </div>
        
 
    <div>
      <button kendoButton rounded="full" themeColor="success" class="k-w-25" (click)="onSearch()">Search</button>
    </div>

    <!-- <button kendoButton rounded="full" themeColor="success" class="k-w-25" (click)="search()">Search</button>
    <button kendoButton rounded="full" themeColor="info" class="add-btn" (click)="openDialog()"
      [disabled]="!isAddButtonEnabled">Add</button> -->

    
    <div>
      <button kendoButton rounded="full" themeColor="info" class="add-btn" (click)="openDialog()">Add</button>
    </div>
  </div>
  <div class="k-m-10" *ngIf="!false">
    <kendo-grid [kendoGridBinding]="gridDataResult.data" [selectable]="selectableSettings" [resizable]="true"
      [pageSize]="pageSize" [skip]="skip" [pageable]="true" (pageChange)="pageChange($event)"
      class="bold-column-header cell-border-none" [filterable]="true" (cellClick)="onCellClick($event)"
      [rowClass]="rowCallback">
      <!-- <kendo-grid-checkbox-column [width]="40"></kendo-grid-checkbox-column> -->
      
   
<!--       <kendo-grid-column field="receiptID" title="receipt #"></kendo-grid-column>
      <kendo-grid-column field="customerVendorID" title="customerVendorID"  [hidden]="true" ></kendo-grid-column> -->
      <kendo-grid-column field="comboLotID" title="Combo Lot#"></kendo-grid-column>
      <kendo-grid-column field="comboName" title="Combo Name"> 
         <ng-template kendoGridCellTemplate let-dataItem>
        <a class="minimal-text" [title]="dataItem.comboName">{{dataItem.comboName}}</a>
      </ng-template></kendo-grid-column>
      <kendo-grid-column field="customer" title="Customer">
        <ng-template kendoGridCellTemplate let-dataItem>
          <a class="minimal-text" [title]="dataItem.customer">{{dataItem.customer}}</a>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="status" title="Status"></kendo-grid-column>
      <kendo-grid-column field="iseLotNumber" title="Ise Lot#">
        <ng-template kendoGridCellTemplate let-dataItem>
          <a class="minimal-text" [title]="dataItem.iseLotNumber">{{dataItem.iseLotNumber}}</a>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="customerLotNumber" title="Cus Lot#">
        <ng-template kendoGridCellTemplate let-dataItem>
          <a class="minimal-text" [title]="dataItem.customerLotNumber">{{dataItem.customerLotNumber}}</a>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="deviceType" title="DeviceType">
        <ng-template kendoGridCellTemplate let-dataItem>
          <a class="minimal-text" [title]="dataItem.deviceType">{{dataItem.deviceType}}</a>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="isPrimaryAddress" title="IsPrimaryAddress"></kendo-grid-column>
    </kendo-grid>
  </div>
  
  <kendo-contextmenu [items]="rowActionMenu" (select)="onSelectRowActionMenu($event)" size="large"
    #gridContextMenu></kendo-contextmenu>
  
  <kendo-dialog *ngIf="isDialogOpen" (close)="closeDialog()" [minWidth]="250" [width]="'78%'"
    class="dialog-round receipt-dialog">
    <div class="k-d-flex k-align-items-center k-mb-3 k-gap-3">
      <h2 class="k-m-0">Combined Lot</h2>
      <small *ngIf="appService.sharedData.combolot.isViewMode">(View Mode)</small>
      <small *ngIf="appService.sharedData.combolot.isEditMode">(Edit Mode)</small>
      <button kendoButton type="button" rounded="full" class="k-ml-auto" [svgIcon]="ICON.xIcon" size="small"
        (click)="closeDialog()"></button>
    </div>
    <div class="dialog-body k-overflow-y-auto">
      <app-add-combined-lot (cancel)="closeDialog()" ></app-add-combined-lot>
    </div>
  </kendo-dialog>