<div class="k-d-flex k-align-items-center k-gap-3 k-py-2 k-px-4 page-header">
  <kendo-label text="Search" class="k-font-size-sm">
    <input kendoTextBox [(ngModel)]="searchTerm" type="search" placeholder="Search" class="search-input"
      rounded="full" (input)="onSearchMaster()" />
  </kendo-label>
  <kendo-label text="From Date" class="k-font-size-sm">
    <kendo-datepicker [format]="format" [(value)]="fromDate" rounded="full"></kendo-datepicker>
  </kendo-label>
  <kendo-label text="To Date" class="k-font-size-sm">
    <kendo-datepicker [format]="format" [(value)]="toDate" rounded="full"></kendo-datepicker>
  </kendo-label>
  <div class="k-ml-auto k-d-flex k-gap-2">
    <button kendoButton rounded="full" themeColor="success" (click)="onSearch()">Search</button>
    <button kendoButton rounded="full" themeColor="info" (click)="openDialog()">Add</button>
  </div>
</div>
  <div class="page-body k-m-4" *ngIf="!false">
    <kendo-grid 
    [kendoGridBinding]="gridDataResult.data" 
    [selectable]="selectableSettings" 
    [columnMenu]="columnMenuSettings"
    [filterable]="true"
    [sortable]="true" 
    [resizable]="true"
    [pageSize]="pageSize" 
    [skip]="skip" 
    [pageable]="true" 
    (pageChange)="pageChange($event)"
    class="grid-header-sm grid-header-bold" 
    (cellClick)="onCellClick($event)"
    [rowClass]="rowCallback">
      <!-- <kendo-grid-checkbox-column [width]="40"></kendo-grid-checkbox-column> -->
      
   
<!--       <kendo-grid-column field="receiptID" title="receipt #"></kendo-grid-column>
      <kendo-grid-column field="customerVendorID" title="customerVendorID"  [hidden]="true" ></kendo-grid-column> -->
      <kendo-grid-column field="comboLotID" title="Combo Lot#" [width]="130">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.comboLotID">{{dataItem.comboLotID}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="comboName" title="Combo Name"> 
         <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.comboName">{{dataItem.comboName}}</div>
      </ng-template></kendo-grid-column>
      <kendo-grid-column field="customer" title="Customer">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.customer">{{dataItem.customer}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="iseLotNumber" title="Ise Lot#">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.iseLotNumber">{{dataItem.iseLotNumber}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="customerLotNumber" title="Cus Lot#">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.customerLotNumber">{{dataItem.customerLotNumber}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="deviceType" title="Device Type">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.deviceType">{{dataItem.deviceType}}</div>
        </ng-template>
      </kendo-grid-column>
     <!-- <kendo-grid-column field="isPrimaryAddress" title="Is Primary Address"></kendo-grid-column>-->
      <kendo-grid-column field="status" title="Status" [width]="150">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="truncate-text" [title]="dataItem.status">{{dataItem.status}}</div>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </div>
  
  <kendo-contextmenu [items]="rowActionMenu" (select)="onSelectRowActionMenu($event)" size="large"
    #gridContextMenu></kendo-contextmenu>
  
  <kendo-dialog *ngIf="isDialogOpen" (close)="closeDialog()" [minWidth]="250" [width]="'78%'"
    class="dialog-round receipt-dialog">
    <div class="k-d-flex k-align-items-center k-mb-3 k-gap-3">
      <h2 class="k-m-0">Combined Lot</h2>
      <small *ngIf="appService.sharedData.combolot.isViewMode">(View Mode)</small>
      <small *ngIf="appService.sharedData.combolot.isEditMode">(Edit Mode)</small>
      <button kendoButton type="button" rounded="full" class="k-ml-auto" [svgIcon]="ICON.xIcon" size="small"
        (click)="closeDialog()"></button>
    </div>
    <div class="dialog-body k-overflow-y-auto">
      <app-add-combined-lot (cancel)="closeDialog()" ></app-add-combined-lot>
    </div>
  </kendo-dialog>