<div class="k-d-flex k-align-items-center  k-gap-1 k-py-0 k-px-4 page-header">
  <h4>Shipping</h4>
  <i class="k-ml-auto"></i>
  <!-- <div class="search-box">
    <kendo-icon name="search" themeColor="secondary" class="search-icon"></kendo-icon>
    <input kendoTextBox type="search" placeholder="Search" class="search-input" rounded="full" />
    <button kendoButton rounded="full" themeColor="success" class="search-btn">Search</button>
  </div> -->
  <kendo-label text="Search" class="k-font-size-sm">
    <input kendoTextBox [(ngModel)]="searchTerm" type="search" placeholder="Search" class="search-input k-w-full"
      rounded="full" (input)="onSearchMaster()" />
  </kendo-label>
  <kendo-label text="Shipping Date" class="k-font-size-sm">
    <kendo-datepicker [format]="format" [(value)]="fromDate"></kendo-datepicker>
  </kendo-label>
  <kendo-label text="Shipping End Date" class="k-font-size-sm">
    <kendo-datepicker [format]="format" [(value)]="toDate"></kendo-datepicker>
  </kendo-label>
  <button kendoButton rounded="full" themeColor="success" class="k-w-25" (click)="search()">Search</button>
  <button kendoButton rounded="full" themeColor="info" class="add-btn" (click)="onAddShipping()"
    [disabled]="!isAddButtonEnabled">Add</button>
</div>
<div class="k-m-4">
  <kendo-grid [kendoGridBinding]="gridDataResult.data" [selectable]="selectableSettings" [resizable]="true"
    [pageSize]="pageSize" [skip]="skip" [pageable]="true" (pageChange)="pageChange($event)"
    class="bold-column-header cell-border-none" [filterable]="true" (cellClick)="onCellClick($event)"
    [rowClass]="rowCallback">
    <kendo-grid-checkbox-column [width]="40"></kendo-grid-checkbox-column>
    <kendo-grid-column field="shipmentId" title="Shipment#" [hidden]="true" ></kendo-grid-column>
    <!-- <kendo-grid-column field="customerVendor" title="Customer/Vendor">
      <ng-template kendoGridCellTemplate let-dataItem>
        <kendo-combobox [data]="customerTypes" [(ngModel)]="dataItem.customerTypeSelected"
          [textField]="'customerTypeName'" [valueField]="'customerTypeID'" placeholder="Select"
          rounded="large"></kendo-combobox>
      </ng-template>
    </kendo-grid-column> -->
    <kendo-grid-column field="shipmentNum" title="Shipment No.">
      <ng-template kendoGridCellTemplate let-dataItem>
        <a class="minimal-text" [title]="dataItem.shipmentNum">{{dataItem.shipmentNum}}</a>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="customerInfo" title="Customer">
      <ng-template kendoGridCellTemplate let-dataItem>
        <a class="minimal-text" [title]="dataItem.customerInfo">{{dataItem.customerInfo}}</a>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="senderInfo" title="Sender Info">
      <ng-template kendoGridCellTemplate let-dataItem>
        <a class="minimal-text" [title]="dataItem.senderInfo">{{dataItem.senderInfo}}</a>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="shipmentCategory" title="Shipment Category">
      <ng-template kendoGridCellTemplate let-dataItem>
        <a class="minimal-text" [title]="dataItem.shipmentCategory">{{dataItem.shipmentCategory}}</a>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="shippmentInfo" title="Shipment Info">
      <ng-template kendoGridCellTemplate let-dataItem>
        <a class="minimal-text" [title]="dataItem.shippmentInfo">{{dataItem.shippmentInfo}}</a>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="currentLocation" title="Current Location">
      <ng-template kendoGridCellTemplate let-dataItem>
        <a class="minimal-text" [title]="dataItem.currentLocation">{{dataItem.currentLocation}}</a>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="shipped" title="Shipped">
      <ng-template kendoGridCellTemplate let-dataItem>
        <a class="minimal-text" [title]="dataItem.shipped">{{dataItem.shipped}}</a>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="trackingnum" title="Tracking #">
      <ng-template kendoGridCellTemplate let-dataItem>
        <a class="minimal-text" [title]="dataItem.trackingnum">{{dataItem.trackingnum}}</a>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="trackingurl" title="Tracking URL">
      <ng-template kendoGridCellTemplate let-dataItem>
        <a class="minimal-text link" [title]="dataItem.trackingurl" [href]="dataItem.trackingurl"
          target="_blank">{{"Shipment Label"}}</a>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</div>

<kendo-contextmenu [items]="rowActionMenu" (select)="onSelectRowActionMenu($event)" size="large"
  #gridContextMenu></kendo-contextmenu>

<!-- View/Edit Shipping Dialog -->
<!-- Grid -->
<!-- <kendo-grid
  [kendoGridBinding]="gridDataResult.data"
  [pageSize]="pageSize"
  [skip]="skip"
  [pageable]="true"
  [selectable]="{ checkboxOnly: true, mode: 'multiple' }"
  (cellClick)="onCellClick($event)">
</kendo-grid> -->

<!-- Action Buttons -->

<!-- View/Edit Shipping Dialog -->
<kendo-dialog  *ngIf="isDialogOpen && dialogType === 'viewEdit'" (close)="closeDialog()" [minWidth]="250" [width]="'80%'"
  class="dialog-round receipt-dialog">
  <div class="k-d-flex k-align-items-center k-mb-3 k-gap-3">
    <h2 class="k-m-0">Shipping Record</h2>
    <small *ngIf="appService.sharedData.shipping.isViewMode">(View Mode)</small>
    <small *ngIf="appService.sharedData.shipping.isEditMode">(Edit Mode)</small>
    <button kendoButton type="button" rounded="full" class="k-ml-auto" [svgIcon]="ICON.xIcon" size="small"
      (click)="closeDialog()"></button>
  </div>
  <div class="dialog-body k-overflow-y-auto">
    <app-shipping-record (onClose)="closeDialog()"></app-shipping-record>
  </div>

</kendo-dialog>

 <kendo-dialog *ngIf="isDialogAddOpen && dialogType === 'add'" (close)="closeDialgadd()" [minWidth]="250" [width]="'80%'" class="dialog-round">
  <div class="k-d-flex k-align-items-center k-mb-3">
    <h2 class="k-m-0">Shipping</h2>
    <button kendoButton type="button" rounded="full" class="k-ml-auto" [svgIcon]="ICON.xIcon" size="small"
      (click)="closeDialgadd()"></button>
  </div>
  <app-add-shipping (cancel)="closeDialgadd()"></app-add-shipping>
</kendo-dialog> 

