.dialog-body {
    height: 85vh;
}

a.minimal-text {
    pointer-events: none;
  }
  a.minimal-text.link {
    pointer-events: auto;
  }


  .truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .tracking-container {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .minimal-text {
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .tracking-url-container {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }
  
  .tracking-url-text {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }