<div class="k-d-flex k-flex-col k-gap-2 page-header page-header-desktop k-px-4 k-py-2">
  <!-- Title Row -->
  <div class="k-d-flex k-align-items-center k-justify-content-between">
    <h4 class="k-m-0">Mail Room</h4>
    <kendo-label text="Search" class="k-font-size-sm">
      <input kendoTextBox [(ngModel)]="searchTerm" type="search" placeholder="Search"
      class="search-input" (input)="onSearchMaster()" style="width: 250px;" />
    </kendo-label>
  </div>  
 
 <!-- Form Fields Grid Layout -->
 <div class="k-d-grid k-grid-cols-7 k-gap-4">
  <kendo-label text="Mail #" class="k-font-size-sm">
    <kendo-textbox [(ngModel)]="mailSearch" class="k-w-full" placeholder="Enter Mail #"></kendo-textbox>
  </kendo-label>

  <kendo-label text="Customer" class="k-font-size-sm">
    <kendo-combobox [data]="customer" [(ngModel)]="customerSelected" [textField]="'CustomerName'"
        [valueField]="'CustomerID'" placeholder="Select" placeholder="Select Customer"  class="k-w-full" (valueChange)="onCustomerChange($event)"></kendo-combobox>
  </kendo-label>

  <kendo-label text="Device Family" class="k-font-size-sm">
    <kendo-combobox [data]="devicefamilyList" [(ngModel)]="devicefamilySelected" [textField]="'deviceFamilyName'"
        [valueField]="'deviceFamilyId'" placeholder="Select Device Family" class="k-w-full" (valueChange)="onDeviceFamilyChange($event)"></kendo-combobox>
  </kendo-label>

  <kendo-label text="Device" class="k-font-size-sm">
    <kendo-combobox [data]="deviceList" [(ngModel)]="deviceSelected" [textField]="'deviceName'"
        [valueField]="'deviceId'" placeholder="Enter Device"></kendo-combobox>
  </kendo-label>
  <kendo-label text="Delivery Method" class="k-font-size-sm">
    <kendo-combobox [data]="deliveryMode" [(ngModel)]="deliveryModeSelected" 
    [textField]="'deliveryModeName'" [valueField]="'deliveryModeID'" placeholder="Select Delivery Method"></kendo-combobox>
  </kendo-label>
  <kendo-label text="Status" class="k-font-size-sm">
    <kendo-combobox [data]="statusList" [(ngModel)]="statusSelected" [textField]="'itemText'"
        [valueField]="'masterListItemId'" placeholder="Select Status"></kendo-combobox>
  </kendo-label>

  <kendo-label text="Tracking No" class="k-font-size-sm">
    <input kendoTextBox [(ngModel)]="trackingNo" class="search-input k-w-full" rounded="full"/>
  </kendo-label>
 </div>
 <!-- Second Row -->
 <div class="k-d-grid k-grid-cols-7 k-gap-4">
   <kendo-label text="Customer Lot #" class="k-font-size-sm">
    <input kendoTextBox [(ngModel)]="customerLot" class="search-input k-w-full" rounded="full"/>
  </kendo-label>

  <kendo-label text="Receiving #" class="k-font-size-sm">
    <input kendoTextBox [(ngModel)]="receivingNumber"class="search-input k-w-full" rounded="full"/>
  </kendo-label>

  <kendo-label text="Lot #" class="k-font-size-sm">
    <input kendoTextBox [(ngModel)]="lotNumber" class="search-input k-w-full" rounded="full"/>
  </kendo-label>

  <kendo-label text="Location" class="k-font-size-sm">
    <kendo-combobox [data]="location" [(ngModel)]="locationSelected"
       [textField]="'receivingFacilityName'" [valueField]="'receivingFacilityID'"
       placeholder="Select" rounded="large"></kendo-combobox>
  </kendo-label>

  <kendo-label text="Receipt Start Date" class="k-font-size-sm">
    <kendo-datepicker [format]="format" [(value)]="fromDate"></kendo-datepicker>
  </kendo-label>

  <kendo-label text="Receipt End Date" class="k-font-size-sm">
    <kendo-datepicker [format]="format" [(value)]="toDate"></kendo-datepicker>
  </kendo-label>

  <div class="k-d-flex k-gap-4 k-w-64">
    <button kendoButton rounded="full" themeColor="success" class="k-w-full k-h-8" (click)="search()">Search</button>
    <button kendoButton rounded="full" themeColor="info" class="k-w-full k-h-8" (click)="openDialog()" [disabled]="!isAddButtonEnabled">Add</button>
  </div>  
 </div> 
</div>


<div
  class="k-d-flex k-align-items-center k-gap-2 k-py-2 k-px-2 k-flex-wrap k-justify-content-between page-header page-header-mobile">
  <h2 class="k-m-0">Receiving</h2>
  <button kendoButton rounded="full" themeColor="info" class="add-btn" (click)="openDialog()">Add</button>
  <div class="search-box k-w-full k-ml-auto">
    <kendo-icon name="search" themeColor="secondary" class="search-icon"></kendo-icon>
    <input kendoTextBox type="search" placeholder="Search" class="search-input k-w-full" rounded="full" />
    <button kendoButton rounded="full" themeColor="success" class="search-btn">Search</button>
  </div>
</div>
<div class="page-body k-m-4">
  <kendo-grid [kendoGridBinding]="gridDataResult.data" [selectable]="selectableSettings"
    [columnMenu]="columnMenuSettings" [filterable]="true" [sortable]="true" [resizable]="true" [pageSize]="pageSize"
    [skip]="skip" [pageable]="true" (pageChange)="pageChange($event)" 
    class="grid-header-sm grid-header-bold" (cellClick)="onCellClick($event)" [rowClass]="rowCallback">
     <kendo-grid-column field="receivingInfo" title="Receiving Info #"></kendo-grid-column>
    <kendo-grid-column field="customerVendor" title="Customer">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="minimal-text" [title]="dataItem.customerVendor">{{dataItem.customerVendor}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="mail" title="Mail #"></kendo-grid-column>
    <kendo-grid-column field="createdDate" title="Created Date">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="minimal-text">
          {{ dataItem.createdDate ? (dataItem.createdDate | date: 'MMM dd, yyyy hh:mm a') : 'N/A' }}        </div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="recipient" title="Recipient"></kendo-grid-column>
    <kendo-grid-column field="deliveryMode" title="Delivery Method">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="minimal-text" [title]="dataItem.deliveryMode">{{dataItem.deliveryMode}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="expectedDateTime" title="Expected Date">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="minimal-text">
          {{ dataItem.expectedDateTime ? (dataItem.expectedDateTime | date: 'MMM dd, yyyy hh:mm a') : 'N/A' }}        </div>
      </ng-template>
    </kendo-grid-column> 
    <kendo-grid-column field="noOfCartons" title="No.Of Cartons"></kendo-grid-column>
    <kendo-grid-column field="status" title="Status"></kendo-grid-column>
    <kendo-grid-column field="received" title="Received"></kendo-grid-column>
    <kendo-grid-column field="contactPerson" title="Contact Person"></kendo-grid-column> 
    <kendo-grid-column field="trackingNumber" title="Tracking No"></kendo-grid-column>
    <kendo-grid-column field="iseLots" title="Lot #"></kendo-grid-column>
    <kendo-grid-column field="customerLots" title="Customer Lot #"></kendo-grid-column>  
    <kendo-grid-column field="location" title="Location"></kendo-grid-column>
  </kendo-grid>
</div>

<kendo-contextmenu [items]="rowActionMenu" (select)="onSelectRowActionMenu($event)" size="large"
  #gridContextMenu></kendo-contextmenu>

<kendo-dialog *ngIf="isDialogOpen" (close)="closeDialog()" [minWidth]="250" [width]="'95%'"
  class="dialog-round receipt-dialog">
  <div class="k-d-flex k-align-items-center k-mb-3 k-gap-3">
    <h3 class="k-m-0" style="color: maroon;">Mail Info</h3>
    <small *ngIf="appService.sharedData.receiving.isViewMode">(View Mode)</small>
    <small *ngIf="appService.sharedData.receiving.isEditMode">(Edit Mode)</small>
    <small *ngIf="appService.sharedData.receiving.dataItem?.receiptID">Receipt ID:
      {{appService.sharedData.receiving.dataItem.receiptID}}</small>
      
    <i class="k-ml-auto"></i>
    <button kendoButton type="button" rounded="full" [svgIcon]="ICON.xIcon" size="small"
      (click)="canCloseDialog()"></button>
  </div>
  <div class="dialog-body k-overflow-y-auto">
    <!-- <app-receipt (onClose)="closeDialog()" (onRestart)="onClearForm()"></app-receipt> -->
     <app-add-mail-info (onClose)="closeDialog()" (onRestart)="onClearForm()"></app-add-mail-info> 
  </div>
</kendo-dialog>