<div class="k-d-flex k-align-items-center  k-gap-1 k-py-0 k-px-4 page-header page-header-desktop">
  <h4>Mail Room</h4>
  <i class="k-ml-auto"></i>
  <kendo-label text="Search" class="k-font-size-sm">
    <input kendoTextBox [(ngModel)]="searchTerm" type="search" placeholder="Search"
    class="search-input" (input)="onSearchMaster()" />
  </kendo-label>
  <!-- <kendo-label text="Status" class="k-font-size-sm">
    <kendo-multiselect
      [data]="statusList"
      [(ngModel)]="selectedStatus"
      [textField]="'itemText'"
      [valueField]="'masterListItemId'"
      placeholder="Select Status"
      [tagMapper]="statusTagDisplayLimit">
      <ng-template kendoMultiSelectItemTemplate let-dataItem>
        <input
          type="checkbox"
          [checked]="isStatusSelected(dataItem.masterListItemId)"
          (change)="toggleStatusSelection(dataItem)"
          style="margin-right: 8px;"/>
        {{ dataItem.itemText }}
      </ng-template>
    </kendo-multiselect>
  </kendo-label> -->
  
  <kendo-label text="Start Date" class="k-font-size-sm">
    <kendo-datepicker [format]="format" [(value)]="fromDate"></kendo-datepicker>
  </kendo-label>

  <kendo-label text="End Date" class="k-font-size-sm">
    <kendo-datepicker [format]="format" [(value)]="toDate"></kendo-datepicker>
  </kendo-label>
  <div>
    <button kendoButton rounded="full" themeColor="success" class="k-w-25" (click)="search()">Search</button>
  </div>
  <div>
    <button kendoButton rounded="full" themeColor="info" class="add-btn" (click)="openDialog()" [disabled]="!isAddButtonEnabled">Add</button>
  </div>
</div>
<div
  class="k-d-flex k-align-items-center k-gap-2 k-py-2 k-px-2 k-flex-wrap k-justify-content-between page-header page-header-mobile">
  <h2 class="k-m-0">Receiving</h2>
  <button kendoButton rounded="full" themeColor="info" class="add-btn" (click)="openDialog()">Add</button>
  <div class="search-box k-w-full k-ml-auto">
    <kendo-icon name="search" themeColor="secondary" class="search-icon"></kendo-icon>
    <input kendoTextBox type="search" placeholder="Search" class="search-input k-w-full" rounded="full" />
    <button kendoButton rounded="full" themeColor="success" class="search-btn">Search</button>
  </div>
</div>
<div class="page-body k-m-4">
  <kendo-grid [kendoGridBinding]="gridDataResult.data" [selectable]="selectableSettings"
    [columnMenu]="columnMenuSettings" [filterable]="true" [sortable]="true" [resizable]="true" [pageSize]="pageSize"
    [skip]="skip" [pageable]="true" (pageChange)="pageChange($event)" 
    class="grid-header-sm grid-header-bold" (cellClick)="onCellClick($event)" [rowClass]="rowCallback">
    <kendo-grid-column field="customer" title="Customer" [width]="110">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="minimal-text" [title]="dataItem.customer">{{dataItem.customer}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="mailNo" title="MailNo" [width]="100"></kendo-grid-column>
    <kendo-grid-column field="receivingNo" title="ReceivingNo" [width]="130"></kendo-grid-column>
    <kendo-grid-column field="createDateTime" title="CreateDateTime" [width]="150">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="minimal-text">
          {{ dataItem.createDateTime ? (dataItem.createDateTime | date: 'MMM dd, yyyy hh:mm a') : 'N/A' }}        </div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="recipient" title="Recipient" [width]="120"></kendo-grid-column>
    <kendo-grid-column field="deliveryMethod" title="Delivery Method" [width]="140">
     
    </kendo-grid-column>
    <kendo-grid-column field="expectedDate" title="Expected Date" [width]="150">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="minimal-text">
          {{ dataItem.expectedDate ? (dataItem.expectedDate | date: 'MMM dd, yyyy hh:mm a') : 'N/A' }}        </div>
      </ng-template>
    </kendo-grid-column> 
    <kendo-grid-column field="noOfPackages" title="No.Of Packages" [width]="150"></kendo-grid-column>
    <kendo-grid-column field="status" title="Status" [width]="100"></kendo-grid-column>
    <kendo-grid-column field="received" title="Received" [width]="120"></kendo-grid-column>
    <kendo-grid-column field="damage" title="Damage" [width]="120"></kendo-grid-column>
    <kendo-grid-column field="partialDelivery" title="PartialDelivery" [width]="150"></kendo-grid-column>
    <kendo-grid-column field="sendor" title="Sendor" [width]="100"></kendo-grid-column> 
    <kendo-grid-column field="awb" title="AWB" [width]="100"></kendo-grid-column> 
    <kendo-grid-column field="trackingNumber" title="Tracking No" [width]="130"></kendo-grid-column>
    <kendo-grid-column field="location" title="Location" [width]="120"></kendo-grid-column>
    <kendo-grid-column field="createdBy" title="CreatedBy" [width]="120"></kendo-grid-column>
    <kendo-grid-column field="lot" title="Lot" [width]="100"></kendo-grid-column>
    <kendo-grid-column field="customerLot" title="Customer Lot" [width]="140"></kendo-grid-column>  
  </kendo-grid>
</div>

<kendo-contextmenu [items]="rowActionMenu" (select)="onSelectRowActionMenu($event)" size="large"
  #gridContextMenu></kendo-contextmenu>

<kendo-dialog *ngIf="isDialogOpen" (close)="closeDialog()" [minWidth]="250" [width]="'95%'"
  class="dialog-round receipt-dialog">
  <div class="k-d-flex k-align-items-center k-mb-3 k-gap-3">
    <h3 class="k-m-0" style="color: maroon;">Mail Info</h3>
    <small *ngIf="appService.sharedData.receiving.isViewMode">(View Mode)</small>
    <small *ngIf="appService.sharedData.receiving.isEditMode">(Edit Mode)</small>
    <small *ngIf="appService.sharedData.receiving.dataItem?.receiptID">Receipt ID:
      {{appService.sharedData.receiving.dataItem.receiptID}}</small>
      
    <i class="k-ml-auto"></i>
    <button kendoButton type="button" rounded="full" [svgIcon]="ICON.xIcon" size="small"
      (click)="canCloseDialog()"></button>
  </div>
  <div class="dialog-body k-overflow-y-auto">
    <!-- <app-receipt (onClose)="closeDialog()" (onRestart)="onClearForm()"></app-receipt> -->
     <app-add-mail-info (onClose)="closeDialog()" (onRestart)="onClearForm()"></app-add-mail-info> 
  </div>
</kendo-dialog>