<ng-container *ngIf="authService.isLoggedIn" class="loader-area">
  <app-header></app-header>

  <div class="k-loading-panel" *ngIf="appService.isLoading">
    <div class="k-loading-panel-mask"></div>
    <div class="k-loading-panel-wrapper">
      <kendo-loader type="infinite-spinner" themeColor="primary" size="large">
      </kendo-loader>
      <div class="k-loading-panel-text">Processing please wait...</div>
    </div>
  </div>

  <!-- Main Content with Drawer -->
  <div class="main-content-container">
    <kendo-drawer-container>
      <kendo-drawer 
        #drawer 
        [items]="currentDrawerItems" 
        [isItemExpanded]="isItemExpanded"
        mode="push" 
        [(expanded)]="appService.isDrawerExpanded"
        [autoCollapse]="false"
        [mini]="false"
        [position]="'start'"
        (select)="onSelect($event)"
        class="main-drawer">
      </kendo-drawer>
      <kendo-drawer-content>
        <div class="content-panel">
          <router-outlet></router-outlet>
        </div>
      </kendo-drawer-content>
    </kendo-drawer-container>
  </div>
</ng-container>

<!-- Login Component (no tabs) -->
<router-outlet *ngIf="!authService.isLoggedIn"></router-outlet>