<div class="k-mx-2 minimal-table" id="addReceiptForm" [ngClass]="{'k-pointer-events-none':isDisabled.addReceipt}">
  <kendo-pdf-export #pdfExport>
    <div>
      <div class="k-d-flex k-flex-wrap k-align-items-center k-gap-6 k-mb-2">
        <i class="k-ml-auto d-none-sm"></i>
        <div class="k-d-flex k-align-items-center k-gap-2">
          <input type="checkbox" name="IsInterim" id="IsInterim" [(ngModel)]="isInterim"
            (ngModelChange)="onChangeInterim()" [disabled]="isDisableInterim" style="border: 1px solid" kendoCheckBox>
          <label for="IsInterim" kendoLabel> Is Interim</label>
        </div>
      </div>
      <div class="k-d-flex k-flex-wrap k-align-items-stretch k-gap-4 k-w-full label-fs">
        <kendo-card class="card-green k-flex-1 flex-auto-md">
          <kendo-card-body class="card-flex">
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Customer / Vendor" class="k-w-full">
                <kendo-combobox [data]="customerTypes" [(ngModel)]="customerTypeSelected"
                  (ngModelChange)="onChangeCustomerType()" [textField]="'customerTypeName'"
                  [valueField]="'customerTypeID'" [kendoDropDownFilter]="filterSettings" placeholder="Select"
                  rounded="large"></kendo-combobox>
              </kendo-label>
              <kendo-label text="Customer" class="k-w-full"
                *ngIf="customerTypeSelected?.customerTypeName == 'Customer'">
                <b class="required-label"></b>
                <kendo-combobox [data]="customers" [(ngModel)]="customerSelected" [textField]="'CustomerName'"
                  [valueField]="'CustomerID'" placeholder="Select" rounded="large"
                  [kendoDropDownFilter]="filterSettings" (ngModelChange)="onChangeCustomerName()"
                  [class.invalid]="!receipt.isValid.customer"></kendo-combobox>
              </kendo-label>
              <kendo-label text="Vendor Name" class="k-w-full"
                *ngIf="customerTypeSelected?.customerTypeName == 'Vendor'">
                <b class="required-label"></b>
                <kendo-combobox [data]="vendors" [(ngModel)]="vendorSelected" [allowCustom]="true"
                  [textField]="'VendorName'" [valueField]="'VendorID'" placeholder="Select" rounded="large"
                  [kendoDropDownFilter]="filterSettings" (ngModelChange)="onChangeCustomerName()"
                  [valueNormalizer]="valueNormalizerVendor"></kendo-combobox>
              </kendo-label>
            </div>
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Behalf of Customer" class="k-w-full">
                <kendo-combobox [data]="customers" [(ngModel)]="behalfOfCusotmerSelected" [textField]="'CustomerName'"
                  [valueField]="'CustomerID'" placeholder="Select" rounded="large"
                  (ngModelChange)="onChangeBehalfOfCusotmer()" [kendoDropDownFilter]="filterSettings"
                  [disabled]="isDisabledBehalfOfCusotmer"></kendo-combobox>
              </kendo-label>
              <kendo-label text="ISE destination location" class="k-w-full">
                <b class="required-label"></b>
                <kendo-combobox [data]="receiptLocation" [(ngModel)]="receiptLocationSelected"
                  [textField]="'receivingFacilityName'" [valueField]="'receivingFacilityID'" [allowCustom]="true"
                  [kendoDropDownFilter]="filterSettings" placeholder="Select" rounded="large"></kendo-combobox>
              </kendo-label>
            </div>
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Recipient / Attention To" class="k-w-full">
                <b class="required-label"></b>
                <kendo-combobox [data]="employee" [(ngModel)]="recipientSelected" [textField]="'EmployeeName'"
                  [valueField]="'EmployeeID'" placeholder="Select" rounded="large"></kendo-combobox>
              </kendo-label>
              <kendo-label text="Requestor / Sender Name" class="k-w-full">
                <b class="required-label"></b>
                <kendo-combobox [data]="employee" [(ngModel)]="requestorSelected" [textField]="'EmployeeName'"
                  [valueField]="'EmployeeID'" placeholder="Select" rounded="large"></kendo-combobox>
              </kendo-label>
            </div>
          
              <div class="k-d-flex k-align-items-center k-gap-4">
                <kendo-label text="Notes/Information" class="k-w-full">
                  <kendo-textarea [(ngModel)]="notesInformation" [rows]="3" placeholder="Enter Notes/Information"
                    rounded="large"></kendo-textarea>
                </kendo-label>
              </div>
           
          </kendo-card-body>
        </kendo-card>
        <kendo-card class="card-blue k-flex-1 flex-auto-md">
          <kendo-card-body class="card-flex">
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Delivery Method" class="k-w-full">
                <b class="required-label"></b>
                <kendo-combobox [data]="deliveryMode" [(ngModel)]="deliveryModeSelected"
                  [textField]="'deliveryModeName'" [valueField]="'deliveryModeID'" placeholder="Select" rounded="large"
                  [kendoDropDownFilter]="filterSettings"
                  [class.invalid]="!receipt.isValid.deliveryMode"></kendo-combobox>
              </kendo-label>
              <kendo-label
                *ngIf="deliveryModeSelected?.deliveryModeName=='Customer Drop-Off' || deliveryModeSelected?.deliveryModeName=='Pickup'"
                text="Phone" class="k-w-full">
                <b *ngIf="deliveryModeSelected?.deliveryModeName=='Pickup'" class="required-label"></b>
                <kendo-textbox [(ngModel)]="contactPhone" placeholder="Enter phone" rounded="large"
                  [class.invalid]="!receipt.isValid.contactPhone"></kendo-textbox>
              </kendo-label>
              <kendo-label *ngIf="deliveryModeSelected?.deliveryModeName=='Courier'" text="Tracking/AWB#"
                class="k-w-full">
                <b class="required-label"></b>
                <kendo-textbox [(ngModel)]="tracking" placeholder="Tracking/AWB" rounded="large"
                  [class.invalid]="!receipt.isValid.tracking"></kendo-textbox>
              </kendo-label>
            </div>
            <div *ngIf="deliveryModeSelected?.deliveryModeName=='Courier'"
              class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Courier Name" class="k-w-full">
                <kendo-combobox [data]="couriers" [(ngModel)]="courierSelected" [textField]="'courierName'"
                  [kendoDropDownFilter]="filterSettings" [valueField]="'courierDetailID'" placeholder="Select"
                  rounded="large"></kendo-combobox>
              </kendo-label>
              <kendo-label text="Country From" class="k-w-full">
                <b class="required-label"></b>
                <kendo-combobox [data]="countries" [(ngModel)]="countrySelected" [textField]="'countryName'"
                  [kendoDropDownFilter]="filterSettings" [valueField]="'countryID'" placeholder="Select"
                  rounded="large"></kendo-combobox>
              </kendo-label>
            </div>
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Expected Date & Time" class="k-w-full">
                <b class="required-label"></b>
                <kendo-datetimepicker [format]="format" [(value)]="expectedDateTime"></kendo-datetimepicker>
              </kendo-label>

              <kendo-label
                *ngIf="deliveryModeSelected?.deliveryModeName=='Customer Drop-Off' || deliveryModeSelected?.deliveryModeName=='Pickup'"
                text="Contact Name" class="k-w-full">
                <b class="required-label"></b>
                <kendo-textbox [(ngModel)]="contactPerson" placeholder="Enter Contact Name" rounded="large"></kendo-textbox>
              </kendo-label>
            </div>
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label
                *ngIf="deliveryModeSelected?.deliveryModeName=='Customer Drop-Off' || deliveryModeSelected?.deliveryModeName=='Pickup'"
                text="Email" class="k-w-full">
                <kendo-textbox [(ngModel)]="email" placeholder="Enter your email" rounded="large"></kendo-textbox>
              </kendo-label>
            </div>
            <div class="k-d-flex k-align-items-center k-gap-4" kendoTooltip>
              <kendo-label *ngIf="deliveryModeSelected?.deliveryModeName=='Pickup'" text="Address"
                class="k-relative k-w-full">
                <b class="required-label"></b>
                <kendo-combobox [data]="addresses" [(ngModel)]="addressSelected" (ngModelChange)="onChangeAddress()"
                  [textField]="'fullAddress'" [valueField]="'addressId'" placeholder="Select"
                  [kendoDropDownFilter]="filterSettings" rounded="large"
                  [title]="addressSelected?.fullAddress || ''"></kendo-combobox>
              </kendo-label>
            </div>
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Pick Up/DropOff Instructions for Receiving" class="k-w-full">
                <kendo-textarea [(ngModel)]="PickupDropoffComments" [rows]="3" placeholder="Enter Pick Up/DropOff Instructions for Receiving"
                  rounded="large"></kendo-textarea>
              </kendo-label>
            </div>
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Number of Packages" class="k-font-size-sm">
                <b class="required-label"></b>
                <kendo-numerictextbox [(ngModel)]="selectedQty" placeholder="Enter"></kendo-numerictextbox>
              </kendo-label>             
                         
            </div>
          </kendo-card-body>
        </kendo-card>
      </div>
    </div>
      <kendo-card class="card-green card-full k-mt-4"[ngClass]="{'k-pointer-events-none': isDisableHoldComments}">
        <kendo-card-body class="card-flex">
          <kendo-label text="Package Category" class="k-font-size-sm">
            <b class="required-label"></b>
            <kendo-multiselect 
              [data]="category" 
              [(ngModel)]="selectedCategories" 
              textField="name" 
              valueField="id" 
              [filterable]="true" 
              (valueChange)="onPackageCategoryChange($event)"
              placeholder="Select Package Category"
              style="width: 330px;">
            </kendo-multiselect>
          </kendo-label> 
          <!-- Lot Grid -->
           <ng-container *ngIf="isCategorySelected(1)">
            <div class="k-mt-6">
            <h2 class="k-m-0">Lot</h2>
            <div class="k-d-flex k-align-items-end k-gap-4">
              <div class="k-flex k-flex-col k-flex-grow">
                <kendo-label text="ISE Quote #" class="k-font-size-sm">
                  <b class="required-label"></b>
                </kendo-label>
                <kendo-combobox
                  [data]="quotesList"
                  [(ngModel)]="selectedQuotesList"
                  textField="quote"
                  valueField="quoteId"
                  class="k-w-full"
                  [filterable]="true"
                  placeholder="Select ISE Quotes">
                </kendo-combobox>
              </div>
            
              <div class="k-flex k-flex-col k-flex-grow">
                <kendo-label text="Customer Purchase Order #" class="k-font-size-sm">
                  <b class="required-label"></b>
                </kendo-label>
                <kendo-combobox
                  [data]="custometPurchase"
                  [(ngModel)]="selectedCustometPurchase"
                  textField="customerPoNumber"
                  valueField="purchaseOrderId"
                  class="k-w-full"
                  [filterable]="true"
                  placeholder="Select Customer Purchase Order">
                </kendo-combobox>
              </div>
            
              <div class="k-flex k-flex-col k-flex-grow">
                <kendo-label text="Lot Category" class="k-font-size-sm">
                  <b class="required-label"></b>
                </kendo-label>
                <kendo-combobox
                  [data]="lotCategory"
                  [(ngModel)]="selectedLotCategory"
                  textField="serviceCategoryName"
                  valueField="serviceCategoryId"
                  class="k-w-full"
                  [filterable]="true"
                  placeholder="Select Lot Category">
                </kendo-combobox>
              </div>
            
              <button
                kendoButton
                (click)="getGeneratedLotNumber()"
                themeColor="primary"
                icon="plus"
                style="width: 70px;">
                Add
              </button>
            </div>            
            <kendo-grid [kendoGridBinding]="lotData" class="bold-column-header cartons">
              <kendo-grid-column field="iseLot" title="ISE LOT#">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <kendo-textbox [(ngModel)]="dataItem.iseLot" placeholder="Enter ISE LOT" ></kendo-textbox>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="customerLot" title="Customer LOT#">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <kendo-textbox [(ngModel)]="customerLot" placeholder="Enter Customer LOT" ></kendo-textbox>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="expectedQty" title="Expected Qty">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <kendo-numerictextbox [(ngModel)]="expectedQty" placeholder="Enter Expected Qty" ></kendo-numerictextbox>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="deviceFamily" title="Device Name">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                  <kendo-combobox
                    class="combobox"
                    [(ngModel)]="selectedDeviceFamily"
                    [data]="deviceFamily"  
                    [textField]="'deviceFamilyName'" 
                    [valueField]="'deviceFamilyId'"
                    placeholder="Select Device Family"></kendo-combobox>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="dateCode" title="Date Code">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <kendo-textbox [(ngModel)]="dateCode" placeholder="Enter Date Code" ></kendo-textbox>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="coo" title="COO">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                  <kendo-combobox
                  class="combobox"
                  [(ngModel)]="selectedCoo"
                  [data]="coo" 
                  [textField]="'serviceCategoryName'"
                  [valueField]="'serviceCategoryId'" 
                  placeholder="Select COO"></kendo-combobox>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="expedite" title="Expedite">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <input type="checkbox" [(ngModel)]="dataItem.expedite"/>
                </ng-template>
              </kendo-grid-column>        
              <kendo-grid-column field="iqaOptional" title="IQA Optional">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <input type="checkbox" [(ngModel)]="dataItem.iqaOptional"/>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="lotOwner" title="Lot Owner">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                  <kendo-combobox
                  class="combobox" 
                  [(ngModel)]="selectedLotOwner"
                  [data]="lotOwner"  
                  [textField]="'employeeName'"
                  [valueField]="'employeeID'" 
                  placeholder="Select Lot Owner"></kendo-combobox> 
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="hold" title="Hold">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <input type="checkbox" [(ngModel)]="dataItem.isHold"/>
                </ng-template>
              </kendo-grid-column>
            </kendo-grid>
            </div>
          </ng-container>
          <!-- Tray Grid -->
          <ng-container *ngIf="isCategorySelected(2)">
            <div class="k-mt-6">
            <div class="tray-header">
              <h2 class="k-m-0">Tray</h2>
              <button kendoButton (click)="addTrayRow()" themeColor="primary" style="width: 70px;" icon="plus">Add</button>
            </div>
            <kendo-grid [kendoGridBinding]="trayData" class="bold-column-header cartons">
              <kendo-grid-column field="trayVendor" title="Tray Vendor">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <kendo-combobox [data]="trayVendor" [(ngModel)]="selectedTrayVendor" textField="vendorName"valueField="trayVendorId" class="combobox" [filterable]="true" placeholder="Select Tray Vendor"></kendo-combobox>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="trayPart" title="Tray Part#">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <kendo-combobox [data]="trayPart" [(ngModel)]="selectedTrayPart" textField="trayNumber"valueField="trayPartId" class="k-w-full" [filterable]="true" placeholder="Select Tray Part"></kendo-combobox>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="trayQty" title="Qty">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <kendo-numerictextbox [(ngModel)]="trayQty" placeholder="Enter Tray Qty" ></kendo-numerictextbox>
                </ng-template>
              </kendo-grid-column>
            </kendo-grid>
            </div>
          </ng-container>
          <!-- Hardware Grid -->
          <ng-container *ngIf="isCategorySelected(3)">
            <div class="k-mt-6">
            <div class="tray-header">
              <h2 class="k-m-0">Hardware</h2>
              <button kendoButton (click)="addHardwareRow()" themeColor="primary" style="width: 70px;" icon="plus">Add</button>
            </div>
            <kendo-grid [kendoGridBinding]="hardwareData" class="bold-column-header cartons">
              <kendo-grid-column field="hardwareType" title="Hardware Type">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <kendo-combobox [data]="hardwareList" [(ngModel)]="selectedHardwareList" textField="categoryName"valueField="id" class="combobox" [filterable]="true" placeholder="Select Tray Vendor"></kendo-combobox>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="projectDevice" title="Project/Device Name">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <kendo-textbox [(ngModel)]="projectDevice" placeholder="Enter Project/Device Name" ></kendo-textbox>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="hardwareQty" title="Qty">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <kendo-numerictextbox [(ngModel)]="hardwareQty" placeholder="Enter Qty" ></kendo-numerictextbox>
                </ng-template>
              </kendo-grid-column>
            </kendo-grid>
            </div>
          </ng-container>
          <!-- Other Grid -->
          <ng-container *ngIf="isCategorySelected(4)">
            <div class="k-mt-6">
            <div class="tray-header">
              <h2 class="k-m-0">Other</h2>
              <button kendoButton (click)="addOtherRow()" themeColor="primary" style="width: 70px;" icon="plus">Add</button>
            </div>
            <kendo-grid [kendoGridBinding]="otherData" class="bold-column-header cartons">
              <kendo-grid-column field="type" title="Type">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <kendo-combobox [data]="otherList" [(ngModel)]="selectedOtherList" textField="categoryName"valueField="Id" class="combobox" [filterable]="true" placeholder="Select Other"></kendo-combobox>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="otherDetails" title="Details">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <kendo-textbox [(ngModel)]="otherDetails"placeholder="Enter Details" ></kendo-textbox>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="otherQty" title="Qty">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <kendo-numerictextbox [(ngModel)]="otherQty" placeholder="Enter Qty" ></kendo-numerictextbox>
                </ng-template>
              </kendo-grid-column>
            </kendo-grid>
            </div>
          </ng-container>
        </kendo-card-body>
      </kendo-card>
  </kendo-pdf-export>
  <div class="k-d-flex k-align-items-center k-gap-4 k-mt-3">
    <span style="margin-left: auto;"></span>
    <button kendoButton type="button" rounded="large" themeColor="success" style="width:6rem" (click)="onSubmit()"
      [disabled]="isDisabled.addReceipt">Submit</button>
    <button kendoButton type="button" rounded="large" themeColor="dark" style="width:6rem"
      (click)="printSection()">Print</button>
  </div>
</div>