<div class="k-mx-2 minimal-table" id="addReceiptForm" [ngClass]="{'k-pointer-events-none':isDisabled.addReceipt}">
  <kendo-pdf-export #pdfExport>
    <div>
      <div class="k-d-flex k-flex-wrap k-align-items-stretch k-gap-4 k-w-full label-fs">
        <kendo-card class="card-green k-flex-1 flex-auto-md">
          <kendo-card-body class="card-flex">
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Customer / Vendor" class="k-w-full">
                <kendo-combobox [data]="customerTypes" [(ngModel)]="customerTypeSelected"
                  (ngModelChange)="onChangeCustomerType()" [textField]="'customerTypeName'"
                  [valueField]="'customerTypeID'" [kendoDropDownFilter]="filterSettings" placeholder="Select"
                  rounded="large"></kendo-combobox>
              </kendo-label>
              <kendo-label text="Customer" class="k-w-full"
                *ngIf="customerTypeSelected?.customerTypeName == 'Customer'">
                <b class="required-label"></b>
                <kendo-combobox [data]="customers" [(ngModel)]="customerSelected" [textField]="'CustomerName'"
                  [valueField]="'CustomerID'" placeholder="Select" rounded="large"
                  [kendoDropDownFilter]="filterSettings" (ngModelChange)="onChangeCustomerName()"
                  [class.invalid]="!receipt.isValid.customer"></kendo-combobox>
              </kendo-label>
              <kendo-label text="Vendor Name" class="k-w-full"
                *ngIf="customerTypeSelected?.customerTypeName == 'Vendor'">
                <b class="required-label"></b>
                <kendo-combobox [data]="vendors" [(ngModel)]="vendorSelected" [allowCustom]="true"
                  [textField]="'VendorName'" [valueField]="'VendorID'" placeholder="Select" rounded="large"
                  [kendoDropDownFilter]="filterSettings" (ngModelChange)="onChangeCustomerName()"
                  [valueNormalizer]="valueNormalizerVendor"></kendo-combobox>
              </kendo-label>
            </div>
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Behalf of Customer" class="k-w-full">
                <kendo-combobox [data]="customers" [(ngModel)]="behalfOfCusotmerSelected" [textField]="'CustomerName'"
                  [valueField]="'CustomerID'" placeholder="Select" rounded="large"
                  (ngModelChange)="onChangeBehalfOfCusotmer()" [kendoDropDownFilter]="filterSettings"
                  [disabled]="isDisabledBehalfOfCusotmer"></kendo-combobox>
              </kendo-label>
              <kendo-label text="ISE destination location" class="k-w-full">
                <b class="required-label"></b>
                <kendo-combobox [data]="receiptLocation" [(ngModel)]="receiptLocationSelected"
                  [textField]="'receivingFacilityName'" [valueField]="'receivingFacilityID'" [allowCustom]="true"
                  [kendoDropDownFilter]="filterSettings" placeholder="Select" rounded="large"></kendo-combobox>
              </kendo-label>
            </div>
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Recipient / Attention To" class="k-w-full">
                <b class="required-label"></b>
                <kendo-combobox [data]="PMReceivers" [(ngModel)]="PMReceiverSelected" [textField]="'employeeName'"
                  [valueField]="'employeeID'" placeholder="Select" rounded="large"></kendo-combobox>
              </kendo-label>
              <kendo-label text="Requestor / Sender Name" class="k-w-full">
                <b class="required-label"></b>
                <kendo-combobox [data]="PMReceivers" [(ngModel)]="PMReceiverSelected" [textField]="'employeeName'"
                  [valueField]="'employeeID'" placeholder="Select" rounded="large"></kendo-combobox>
              </kendo-label>
            </div>
          </kendo-card-body>
        </kendo-card>
        <kendo-card class="card-blue k-flex-1 flex-auto-md">
          <kendo-card-body class="card-flex">
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Delivery Method" class="k-w-full">
                <b class="required-label"></b>
                <kendo-combobox [data]="deliveryMode" [(ngModel)]="deliveryModeSelected"
                  [textField]="'deliveryModeName'" [valueField]="'deliveryModeID'" placeholder="Select" rounded="large"
                  [kendoDropDownFilter]="filterSettings"
                  [class.invalid]="!receipt.isValid.deliveryMode"></kendo-combobox>
              </kendo-label>
              <kendo-label
                *ngIf="deliveryModeSelected?.deliveryModeName=='Customer Drop-Off' || deliveryModeSelected?.deliveryModeName=='Pickup'"
                text="Phone" class="k-w-full">
                <b *ngIf="deliveryModeSelected?.deliveryModeName=='Pickup'" class="required-label"></b>
                <kendo-textbox [(ngModel)]="contactPhone" placeholder="Enter phone" rounded="large"
                  [class.invalid]="!receipt.isValid.contactPhone"></kendo-textbox>
              </kendo-label>
              <kendo-label *ngIf="deliveryModeSelected?.deliveryModeName=='Courier'" text="Tracking/AWB#"
                class="k-w-full">
                <b class="required-label"></b>
                <kendo-textbox [(ngModel)]="tracking" placeholder="Tracking/AWB" rounded="large"
                  [class.invalid]="!receipt.isValid.tracking"></kendo-textbox>
              </kendo-label>
            </div>
            <div *ngIf="deliveryModeSelected?.deliveryModeName=='Courier'"
              class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Courier Name" class="k-w-full">
                <kendo-combobox [data]="couriers" [(ngModel)]="courierSelected" [textField]="'courierName'"
                  [kendoDropDownFilter]="filterSettings" [valueField]="'courierDetailID'" placeholder="Select"
                  rounded="large"></kendo-combobox>
              </kendo-label>
              <kendo-label text="Country From" class="k-w-full">
                <b class="required-label"></b>
                <kendo-combobox [data]="countries" [(ngModel)]="countrySelected" [textField]="'countryName'"
                  [kendoDropDownFilter]="filterSettings" [valueField]="'countryID'" placeholder="Select"
                  rounded="large"></kendo-combobox>
              </kendo-label>
            </div>
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Expected Date & Time" class="k-w-full">
                <b class="required-label"></b>
                <kendo-datetimepicker [format]="format" [(value)]="expectedDateTime"></kendo-datetimepicker>
              </kendo-label>

              <kendo-label
                *ngIf="deliveryModeSelected?.deliveryModeName=='Customer Drop-Off' || deliveryModeSelected?.deliveryModeName=='Pickup'"
                text="Requestor / Sender Name " class="k-w-full">
                <b class="required-label"></b>
                <kendo-textbox [(ngModel)]="contactPerson" placeholder="Enter Requestor / Sender Name" rounded="large"
                  [class.invalid]="!receipt.isValid.contactPerson"></kendo-textbox>
              </kendo-label>
            </div>
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label
                *ngIf="deliveryModeSelected?.deliveryModeName=='Customer Drop-Off' || deliveryModeSelected?.deliveryModeName=='Pickup'"
                text="Email" class="k-w-full">
                <kendo-textbox [(ngModel)]="email" placeholder="Enter your email" rounded="large"></kendo-textbox>
              </kendo-label>
            </div>
            <div class="k-d-flex k-align-items-center k-gap-4" kendoTooltip>
              <kendo-label *ngIf="deliveryModeSelected?.deliveryModeName=='Pickup'" text="Address"
                class="k-relative k-w-full">
                <b class="required-label"></b>
                <kendo-combobox [data]="addresses" [(ngModel)]="addressSelected" (ngModelChange)="onChangeAddress()"
                  [textField]="'fullAddress'" [valueField]="'addressId'" placeholder="Select"
                  [kendoDropDownFilter]="filterSettings" rounded="large"
                  [title]="addressSelected?.fullAddress || ''"></kendo-combobox>
              </kendo-label>
            </div>
            <!-- show kedo icon using src image -->
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Pick Up/DropOff Instructions for Receiving" class="k-w-full">
                <kendo-textarea [(ngModel)]="deliveryComments" [rows]="3" placeholder="Enter Pick Up/DropOff Instructions for Receiving"
                  rounded="large"></kendo-textarea>
              </kendo-label>
            </div>
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Notes/Information" class="k-w-full">
                <kendo-textarea [(ngModel)]="deliveryComments" [rows]="3" placeholder="Enter Notes/Information"
                  rounded="large"></kendo-textarea>
              </kendo-label>
            </div>
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Number of Packages" class="k-w-full">
                <b class="required-label"></b>
                <kendo-numerictextbox [(ngModel)]="selectedQty" placeholder="Enter"></kendo-numerictextbox>
              </kendo-label>             
              <kendo-label text="Package Category" class="k-w-full">
                <b class="required-label"></b>
                <kendo-combobox [data]="category" [(ngModel)]="selectedCategory" textField="name"
                  valueField="id" class="k-w-full" [filterable]="true" placeholder="Select Package Category">
                </kendo-combobox>
              </kendo-label>
            </div>
            </kendo-card-body>
          </kendo-card>
      </div>
      <kendo-card class="card-green card-full k-mt-4" *ngIf="isVisibleHoldComments"
        [ngClass]="{'k-pointer-events-none':isDisableHoldComments}">
        <kendo-card-body class="card-flex">
      <!-- Lot Grid -->
      <kendo-grid [kendoGridBinding]="gridData" class="bold-column-header cartons" *ngIf="selectedCategory?.id === 1 || selectedCategory?.id == null"  [data]="lotData">
        <kendo-grid-column field="iseLot" title="ISE LOT#">
          <ng-template kendoGridCellTemplate let-dataItem>
                <kendo-textbox [(ngModel)]="dataItem.holdComments" (ngModelChange)="onChangeHoldComments()"
                  placeholder="Enter ISE LOT" ></kendo-textbox>
              </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="customerLot" title="Customer LOT#">
          <ng-template kendoGridCellTemplate let-dataItem>
                <kendo-textbox [(ngModel)]="dataItem.holdComments" (ngModelChange)="onChangeHoldComments()"
                  placeholder="Enter Customer LOT" ></kendo-textbox>
              </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="expectedQty" title="Expected Qty">
          <ng-template kendoGridCellTemplate let-dataItem>
                <kendo-textbox [(ngModel)]="dataItem.holdComments" (ngModelChange)="onChangeHoldComments()"
                  placeholder="Enter Expected Qty" ></kendo-textbox>
              </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="deviceName" title="Device Name">
          <ng-template kendoGridCellTemplate let-dataItem>
                <kendo-textbox [(ngModel)]="dataItem.holdComments" (ngModelChange)="onChangeHoldComments()"
                  placeholder="Enter Device Name" ></kendo-textbox>
              </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="dateCode" title="Date Code">
          <ng-template kendoGridCellTemplate let-dataItem>
                <kendo-textbox [(ngModel)]="dataItem.holdComments" (ngModelChange)="onChangeHoldComments()"
                  placeholder="Enter Date Code" ></kendo-textbox>
              </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="coo" title="COO">
          <ng-template kendoGridCellTemplate let-dataItem>
                <kendo-textbox [(ngModel)]="dataItem.holdComments" (ngModelChange)="onChangeHoldComments()"
                  placeholder="Enter COO" ></kendo-textbox>
              </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="expedite" title="Expedite">
          <ng-template kendoGridCellTemplate let-dataItem>
                <kendo-textbox [(ngModel)]="dataItem.holdComments" (ngModelChange)="onChangeHoldComments()"
                  placeholder="Enter Expedite" ></kendo-textbox>
              </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="iqaOptional" title="IQA Optional">
          <ng-template kendoGridCellTemplate let-dataItem>
                <kendo-textbox [(ngModel)]="dataItem.holdComments" (ngModelChange)="onChangeHoldComments()"
                  placeholder="Enter IQA Optional" ></kendo-textbox>
              </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="lotOwner" title="Lot Owner">
          <ng-template kendoGridCellTemplate let-dataItem>
                <kendo-textbox [(ngModel)]="dataItem.holdComments" (ngModelChange)="onChangeHoldComments()"
                  placeholder="Enter Lot Owner" ></kendo-textbox>
              </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="hold" title="Hold">
          <ng-template kendoGridCellTemplate let-dataItem>
                <kendo-textbox [(ngModel)]="dataItem.holdComments" (ngModelChange)="onChangeHoldComments()"
                  placeholder="Enter Hold" ></kendo-textbox>
              </ng-template>
        </kendo-grid-column>
      </kendo-grid>
    
      <!-- Tray Grid -->
      <kendo-grid [kendoGridBinding]="gridData" class="bold-column-header cartons" *ngIf="selectedCategory?.id === 3" [data]="trayData">
        <kendo-grid-column field="trayVendor" title="Tray Vendor">
          <ng-template kendoGridCellTemplate let-dataItem>
                <kendo-textbox [(ngModel)]="dataItem.holdComments" (ngModelChange)="onChangeHoldComments()"
                  placeholder="Enter Tray Vendor" ></kendo-textbox>
              </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="trayPart" title="Tray Part#">
          <ng-template kendoGridCellTemplate let-dataItem>
                <kendo-textbox [(ngModel)]="dataItem.holdComments" (ngModelChange)="onChangeHoldComments()"
                  placeholder="Enter Tray Part" ></kendo-textbox>
              </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="qty" title="Qty">
          <ng-template kendoGridCellTemplate let-dataItem>
                <kendo-textbox [(ngModel)]="dataItem.holdComments" (ngModelChange)="onChangeHoldComments()"
                  placeholder="Enter Qty" ></kendo-textbox>
              </ng-template>
        </kendo-grid-column>
      </kendo-grid>
    
      <!-- Hardware Grid -->
      <kendo-grid [kendoGridBinding]="gridData" class="bold-column-header cartons" *ngIf="selectedCategory?.id === 2" [data]="hardwareData">
        <kendo-grid-column field="hardwareType" title="Hardware Type">
          <ng-template kendoGridCellTemplate let-dataItem>
                <kendo-textbox [(ngModel)]="dataItem.holdComments" (ngModelChange)="onChangeHoldComments()"
                  placeholder="Enter Hardware Type" ></kendo-textbox>
              </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="projectDevice" title="Project/Device Name">
          <ng-template kendoGridCellTemplate let-dataItem>
                <kendo-textbox [(ngModel)]="dataItem.holdComments" (ngModelChange)="onChangeHoldComments()"
                  placeholder="Enter Project/Device Name" ></kendo-textbox>
              </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="qty" title="Qty">
          <ng-template kendoGridCellTemplate let-dataItem>
                <kendo-textbox [(ngModel)]="dataItem.holdComments" (ngModelChange)="onChangeHoldComments()"
                  placeholder="Enter Qty" ></kendo-textbox>
              </ng-template>
        </kendo-grid-column>
      </kendo-grid>
    
      <!-- Other Grid -->
      <kendo-grid [kendoGridBinding]="gridData" class="bold-column-header cartons" *ngIf="selectedCategory?.id === 4" [data]="otherData">
        <kendo-grid-column field="type" title="Type">
          <ng-template kendoGridCellTemplate let-dataItem>
                <kendo-textbox [(ngModel)]="dataItem.holdComments" (ngModelChange)="onChangeHoldComments()"
                  placeholder="Enter Type" ></kendo-textbox>
              </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="details" title="Details">
          <ng-template kendoGridCellTemplate let-dataItem>
                <kendo-textbox [(ngModel)]="dataItem.holdComments" (ngModelChange)="onChangeHoldComments()"
                  placeholder="Enter Details" ></kendo-textbox>
              </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="qty" title="Qty">
          <ng-template kendoGridCellTemplate let-dataItem>
                <kendo-textbox [(ngModel)]="dataItem.holdComments" (ngModelChange)="onChangeHoldComments()"
                  placeholder="Enter Qty" ></kendo-textbox>
              </ng-template>
        </kendo-grid-column>
      </kendo-grid>
    </kendo-card-body>
      </kendo-card>
    </div>
  </kendo-pdf-export>
  <div class="k-d-flex k-align-items-center k-gap-4 k-mt-3">

    <span style="margin-left: auto;"></span>
    <!-- <button kendoButton type="button" rounded="large" themeColor="secondary" style="width:6rem"
    (click)="testAddReceipt()">Test</button> -->
    <!-- <button kendoButton type="button" rounded="large" themeColor="primary" style="width:6rem"
    [disabled]="isDisabled.clearReceipt" (click)="onClearForm()">Clear</button> -->
    <button kendoButton type="button" rounded="large" themeColor="success" style="width:6rem" (click)="addReceipt()"
      [disabled]="isDisabled.addReceipt">Submit</button>
    <button kendoButton type="button" rounded="large" themeColor="dark" style="width:6rem"
      (click)="printSection()">Print</button>
  </div>
</div>