<div class="k-mx-2 minimal-table" id="addReceiptForm" [ngClass]="{'k-pointer-events-none':isDisabled.addReceipt}">
  <kendo-pdf-export #pdfExport>
    <div>
      <div class="k-d-flex k-flex-wrap k-align-items-center k-gap-6 k-mb-2">
        <i class="k-ml-auto d-none-sm"></i>
        <div class="k-d-flex k-align-items-center k-gap-2">
          <input 
            type="checkbox" 
            name="IsInterim" 
            id="IsInterim" 
            [(ngModel)]="isInterim" 
            [disabled]="!canEditHeader && this.appService.sharedData.internalReceiverForm.isEditMode"
            (ngModelChange)="onChangeInterim()"
            [disabled]="isDisableInterim" 
            style="border: 1px solid" kendoCheckBox>
          <label for="IsInterim" kendoLabel> Is Interim</label>
        </div>
      </div>
      <div class="k-d-flex k-flex-wrap k-align-items-stretch k-gap-4 k-w-full label-fs">
        <kendo-card class="card-green k-flex-1 flex-auto-md">
          <kendo-card-body class="card-flex">
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Customer / Vendor" class="k-w-full">
                <b class="required-label"></b>
                <kendo-combobox [disabled]="!canEditHeader && this.appService.sharedData.internalReceiverForm.isEditMode" [data]="customerTypes" [(ngModel)]="customerTypeSelected"
                  (ngModelChange)="onChangeCustomerType()" [textField]="'customerTypeName'"
                  [valueField]="'customerTypeID'" [kendoDropDownFilter]="filterSettings" placeholder="Select"
                  rounded="large"></kendo-combobox>
              </kendo-label>
              <kendo-label text="Customer" class="k-w-full"
                *ngIf="customerTypeSelected?.customerTypeName == 'Customer'">
                <b class="required-label"></b>
                <kendo-combobox [disabled]="!canEditHeader && this.appService.sharedData.internalReceiverForm.isEditMode" [data]="customers" [(ngModel)]="customerSelected" [textField]="'CustomerName'"
                  [valueField]="'CustomerID'" placeholder="Select" rounded="large"
                  [kendoDropDownFilter]="filterSettings" (ngModelChange)="onChangeCustomerName()"
                  [class.invalid]="!receipt.isValid.customer"></kendo-combobox>
              </kendo-label>
              <kendo-label text="Vendor Name" class="k-w-full"
                *ngIf="customerTypeSelected?.customerTypeName == 'Vendor'">
                <b class="required-label"></b>
                <kendo-combobox [disabled]="!canEditHeader && this.appService.sharedData.internalReceiverForm.isEditMode" [data]="vendors" [(ngModel)]="vendorSelected" [allowCustom]="true"
                  [textField]="'VendorName'" [valueField]="'VendorID'" placeholder="Select" rounded="large"
                  [kendoDropDownFilter]="filterSettings" (valueChange)="onChangeVendorName()">
                </kendo-combobox>
              </kendo-label>
            </div>
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Behalf of Customer" class="k-w-full">
                <b class="required-label"></b>
                <kendo-combobox [data]="customers" [(ngModel)]="behalfOfCusotmerSelected" [textField]="'CustomerName'"
                  [valueField]="'CustomerID'" placeholder="Select" rounded="large"
                  (ngModelChange)="onChangeBehalfOfCusotmer()" [kendoDropDownFilter]="filterSettings"
                  [disabled]="(!canEditHeader && this.appService.sharedData.internalReceiverForm.isEditMode) || isDisabledBehalfOfCusotmer"></kendo-combobox>
              </kendo-label>
              <kendo-label text="ISE destination location" class="k-w-full">
                <b class="required-label"></b>
                <kendo-combobox [disabled]="!canEditHeader && this.appService.sharedData.internalReceiverForm.isEditMode" [data]="receiptLocation" [(ngModel)]="receiptLocationSelected"
                  [textField]="'receivingFacilityName'" [valueField]="'receivingFacilityID'" [allowCustom]="true"
                  [kendoDropDownFilter]="filterSettings" placeholder="Select" rounded="large"></kendo-combobox>
              </kendo-label>
            </div>
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Recipient / Attention To" class="k-w-full">
                <b class="required-label"></b>
                <kendo-combobox [disabled]="!canEditHeader && this.appService.sharedData.internalReceiverForm.isEditMode" [data]="employee" [(ngModel)]="recipientSelected" [textField]="'EmployeeName'"
                  [valueField]="'EmployeeID'" placeholder="Select" rounded="large"></kendo-combobox>
              </kendo-label>
              <kendo-label text="Requestor / Sender Name" class="k-w-full">
                <b class="required-label"></b>
                <kendo-textbox [disabled]="!canEditHeader && this.appService.sharedData.internalReceiverForm.isEditMode" [(ngModel)]="requestorSelected" placeholder="Select" rounded="large"></kendo-textbox>
              </kendo-label>
            </div>
          
              <div class="k-d-flex k-align-items-center k-gap-4">
                <kendo-label text="Notes/Information" class="k-w-full">
                  <kendo-textarea [disabled]="!canEditHeader && this.appService.sharedData.internalReceiverForm.isEditMode" [(ngModel)]="notesInformation" [rows]="3" placeholder="Enter Notes/Information"
                    rounded="large"></kendo-textarea>
                </kendo-label>
              </div>
           
          </kendo-card-body>
        </kendo-card>
        <kendo-card class="card-blue k-flex-1 flex-auto-md">
          <kendo-card-body class="card-flex">
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Delivery Method" class="k-w-full">
                <b class="required-label"></b>
                <kendo-combobox [disabled]="!canEditHeader && this.appService.sharedData.internalReceiverForm.isEditMode" [data]="deliveryMode" [(ngModel)]="deliveryModeSelected"
                  [textField]="'deliveryModeName'" [valueField]="'deliveryModeID'" placeholder="Select" rounded="large"
                  [kendoDropDownFilter]="filterSettings"
                  [class.invalid]="!receipt.isValid.deliveryMode"></kendo-combobox>
              </kendo-label>
              <kendo-label
                *ngIf="deliveryModeSelected?.deliveryModeName=='Customer Drop-Off' || deliveryModeSelected?.deliveryModeName=='Pickup'"
                text="Phone" class="k-w-full">
                <b *ngIf="deliveryModeSelected?.deliveryModeName=='Pickup'" class="required-label"></b>
                <kendo-textbox [disabled]="!canEditHeader && this.appService.sharedData.internalReceiverForm.isEditMode" [(ngModel)]="contactPhone" placeholder="Enter phone" rounded="large"
                  [class.invalid]="!receipt.isValid.contactPhone" [attr.type]="'tel'" pattern="[0-9]*" (input)="validatePhone($event)"></kendo-textbox>
              </kendo-label>
              <kendo-label *ngIf="deliveryModeSelected?.deliveryModeName=='Courier'" text="Tracking/AWB#"
                class="k-w-full">
                <b class="required-label"></b>
                <kendo-textbox [disabled]="!canEditHeader && this.appService.sharedData.internalReceiverForm.isEditMode" [(ngModel)]="tracking" placeholder="Tracking/AWB" rounded="large"
                  [class.invalid]="!receipt.isValid.tracking"></kendo-textbox>
              </kendo-label>
            </div>
            <div *ngIf="deliveryModeSelected?.deliveryModeName=='Courier'"
              class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Courier Name" class="k-w-full">
                <kendo-combobox [disabled]="!canEditHeader && this.appService.sharedData.internalReceiverForm.isEditMode" [data]="couriers" [(ngModel)]="courierSelected" [textField]="'courierName'"
                  [kendoDropDownFilter]="filterSettings" [valueField]="'courierDetailID'" placeholder="Select"
                  rounded="large"></kendo-combobox>
              </kendo-label>
              <kendo-label text="Country From" class="k-w-full">
                <b class="required-label"></b>
                <kendo-combobox [disabled]="!canEditHeader && this.appService.sharedData.internalReceiverForm.isEditMode" [data]="countries" [(ngModel)]="countrySelected" [textField]="'countryName'"
                  [kendoDropDownFilter]="filterSettings" [valueField]="'countryID'" placeholder="Select"
                  rounded="large"></kendo-combobox>
              </kendo-label>
            </div>
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Expected Date & Time" class="k-w-full">
                <b class="required-label"></b>
                <kendo-datetimepicker [disabled]="!canEditHeader && this.appService.sharedData.internalReceiverForm.isEditMode" [format]="format" [(value)]="expectedDateTime"></kendo-datetimepicker>
              </kendo-label>
              <kendo-label
                *ngIf="deliveryModeSelected?.deliveryModeName=='Customer Drop-Off' || deliveryModeSelected?.deliveryModeName=='Pickup'"
                text="Contact Name" class="k-w-full">
                <b class="required-label"></b>
                <kendo-textbox [disabled]="!canEditHeader && this.appService.sharedData.internalReceiverForm.isEditMode" [(ngModel)]="contactPerson" placeholder="Enter Contact Name" rounded="large"></kendo-textbox>
              </kendo-label>
            </div>
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label
                *ngIf="deliveryModeSelected?.deliveryModeName=='Customer Drop-Off' || deliveryModeSelected?.deliveryModeName=='Pickup'"
                text="Email" class="k-w-full">
                <kendo-textbox [disabled]="!canEditHeader && this.appService.sharedData.internalReceiverForm.isEditMode" [(ngModel)]="email" placeholder="Enter your email" rounded="large"></kendo-textbox>
              </kendo-label>
            </div>
            <div class="k-d-flex k-align-items-center k-gap-4" kendoTooltip>
              <kendo-label *ngIf="deliveryModeSelected?.deliveryModeName=='Pickup'" text="Address"
                class="k-relative k-w-full">
                <b class="required-label"></b>
                <kendo-combobox [disabled]="!canEditHeader && this.appService.sharedData.internalReceiverForm.isEditMode" [data]="addresses" [(ngModel)]="addressSelected" (ngModelChange)="onChangeAddress()"
                  [textField]="'fullAddress'" [valueField]="'addressId'" placeholder="Select"
                  [kendoDropDownFilter]="filterSettings" rounded="large"
                  [title]="addressSelected?.fullAddress || ''"></kendo-combobox>
              </kendo-label>
            </div>
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Pick Up/DropOff Instructions for Receiving" class="k-w-full">
                <kendo-textarea [disabled]="!canEditHeader && this.appService.sharedData.internalReceiverForm.isEditMode" [(ngModel)]="PickupDropoffComments" [rows]="3" placeholder="Enter Pick Up/DropOff Instructions for Receiving"
                  rounded="large"></kendo-textarea>
              </kendo-label>
            </div>
            <div class="k-d-flex k-align-items-center k-gap-4">
              <kendo-label text="Number of Packages" class="k-font-size-sm">
                <b class="required-label"></b>
                <kendo-numerictextbox [disabled]="!canEditHeader && this.appService.sharedData.internalReceiverForm.isEditMode" [(ngModel)]="selectedQty" [min]="0" 
                [format]="'n0'"  [spinners]="true" (valueChange)="onQtyChange($event)"
                [step]="1"placeholder="Enter"></kendo-numerictextbox>
              </kendo-label>
            </div>
          </kendo-card-body>
        </kendo-card>
      </div>
    </div>
      <kendo-card class="card-green card-full k-mt-4">
        <kendo-card-body class="card-flex">
          <kendo-grid
            [kendoGridBinding]="interimData"
            *ngIf="isInterim"
            [selectable]="{ checkboxOnly: true, mode: 'multiple' }"
            [selectedKeys]="selectedInterimIds"
            [sortable]="true"
            [resizable]="true"
            [kendoGridSelectBy]="'interimShippingId'"
            class="bold-column-header wrap-header-grid"
            (selectedKeysChange)="onSelectedInterimKeysChange($event)">
            <kendo-grid-checkbox-column [width]="40"></kendo-grid-checkbox-column>
            <kendo-grid-column field="customerName" title="Customer"></kendo-grid-column>
            <kendo-grid-column field="lotNumber" title="ISE Lot#"></kendo-grid-column>
            <kendo-grid-column field="customerLotNumber" title="Customer Lot#"></kendo-grid-column>
            <kendo-grid-column field="createdOn" title="Created On"></kendo-grid-column>
          </kendo-grid>
          <kendo-label *ngIf="!isInterim" class="k-display-block" [for]="multiselect" text="Package Category">
            <b class="required-label"></b>
            <kendo-multiselect 
              #multiselect
              [checkboxes]="{ checkOnClick: false }"
              [autoClose]="false"
              [data]="category" 
              [(ngModel)]="selectedCategories" 
              textField="categoryName" 
              valueField="id" 
              (valueChange)="onPackageCategoryChange($event)"
              placeholder="Select Package Category"
              style="width: 330px;">
            </kendo-multiselect>
          </kendo-label> 
          <!-- Lot Grid -->
           <ng-container *ngIf="isCategorySelected('Lot') && !isInterim">
            <div class="k-mt-6">
            <h2 class="k-m-0">Lot</h2>
            <div class="k-d-flex k-align-items-end k-gap-4">
              <div class="k-flex k-flex-col k-flex-grow">
                <kendo-label text="ISE Quote #" class="k-font-size-sm">
                </kendo-label>
                <kendo-combobox
                  [data]="quotesList"
                  [(ngModel)]="selectedQuotesList"
                  textField="quote"
                  valueField="quoteId"
                  class="k-w-full"
                  [filterable]="true"
                  placeholder="Select ISE Quotes">
                </kendo-combobox>
              </div>
            
              <div class="k-flex k-flex-col k-flex-grow">
                <kendo-label text="Customer Purchase Order #" class="k-font-size-sm">
                </kendo-label>
                <kendo-combobox
                  [data]="appService.masterData.PurchaseOrder || []"
                  [(ngModel)]="selectedCustometPurchase"
                  [allowCustom]="true"
                  textField="customerPoNumber"
                  valueField="purchaseOrderId"
                  (valueChange)="onCustomerPOValueChange($event)"
                  class="k-w-full"
                  [filterable]="true"
                  placeholder="Select Customer Purchase Order">
                </kendo-combobox>
              </div>
            
              <div class="k-flex k-flex-col k-flex-grow">
                <kendo-label text="Lot Category" class="k-font-size-sm">
                  <b class="required-label"></b>
                </kendo-label>
                <kendo-combobox
                  [disabled]="!canEditHeader && this.appService.sharedData.internalReceiverForm.isEditMode"
                  [data]="lotCategory"
                  [(ngModel)]="selectedLotCategory"
                  textField="serviceCategoryName"
                  valueField="serviceCategoryId"
                  class="k-w-full"
                  [filterable]="true"
                  placeholder="Select Lot Category">
                </kendo-combobox>
              </div>
            
              <button
                kendoButton
                [disabled]="!canEditHeader && this.appService.sharedData.internalReceiverForm.isEditMode"
                (click)="getGeneratedLotNumber()"
                themeColor="primary"
                icon="plus"
                style="width: 70px;">
                Add
              </button>
            </div>            
            <kendo-grid [kendoGridBinding]="lotDetails" [selectable]="selectableSettings" [sortable]="true"
            [resizable]="true" class="bold-column-header wrap-header-grid">
              <kendo-grid-column field="ISELotNumber" title="ISE LOT#">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                  <kendo-textbox [disabled]="!canEdit && this.appService.sharedData.internalReceiverForm.isEditMode" [(ngModel)]="dataItem.ISELotNumber" placeholder="Enter ISE LOT" ></kendo-textbox>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="CustomerLotNumber" title="Customer LOT#">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                  <kendo-textbox [disabled]="!canEdit && this.appService.sharedData.internalReceiverForm.isEditMode" [(ngModel)]="dataItem.CustomerLotNumber" placeholder="Enter Customer LOT" >{{dataItem.CustomerLotNumber}}</kendo-textbox>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="CustomerCount" title="Expected Qty">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                  <kendo-numerictextbox [disabled]="!canEdit && this.appService.sharedData.internalReceiverForm.isEditMode" [(ngModel)]="dataItem.CustomerCount" [format]="'n0'" placeholder="Enter Expected Qty" [class.ng-touched]="dataItem.error"></kendo-numerictextbox>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="DeviceTypeID" title="Device Name">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                  <kendo-combobox
                    class="combobox"
                    [disabled]="!canEdit && this.appService.sharedData.internalReceiverForm.isEditMode"
                    [(ngModel)]="dataItem.DeviceTypeID"
                    [data]="appService.masterData.deviceFamily || []"  
                    [textField]="'deviceFamilyName'" 
                    [valueField]="'deviceFamilyId'"
                    [valuePrimitive]="true"
                    placeholder="Select Device Family"></kendo-combobox>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="DateCode" title="Date Code">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                  <kendo-textbox [disabled]="!canEdit && this.appService.sharedData.internalReceiverForm.isEditMode" [(ngModel)]="dataItem.DateCode" placeholder="Enter Date Code" ></kendo-textbox>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="COO" title="COO">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                  <kendo-combobox
                  class="combobox"
                  [(ngModel)]="dataItem.COO"
                  [data]="coo" 
                  [textField]="'serviceCategoryName'"
                  [valueField]="'serviceCategoryId'" 
                  [valuePrimitive]="true"
                  [disabled]="!canEdit && this.appService.sharedData.internalReceiverForm.isEditMode"
                  placeholder="Select COO"></kendo-combobox>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="Expedite" title="Expedite">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                  <input [disabled]="!canEdit && this.appService.sharedData.internalReceiverForm.isEditMode" type="checkbox" [(ngModel)]="dataItem.Expedite"/>
                </ng-template>
              </kendo-grid-column>        
              <kendo-grid-column field="IQA" title="IQA Optional">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                  <input [disabled]="!canEdit && this.appService.sharedData.internalReceiverForm.isEditMode" type="checkbox" [(ngModel)]="dataItem.IQA"/>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="LotOwnerID" title="Lot Owner">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                  <kendo-combobox
                  class="combobox" 
                  [(ngModel)]="dataItem.LotOwnerID"
                  [data]="lotOwner"  
                  [textField]="'employeeName'"
                  [valueField]="'employeeID'" 
                  [valuePrimitive]="true"
                  [disabled]="!canEdit && this.appService.sharedData.internalReceiverForm.isEditMode"
                  placeholder="Select Lot Owner"></kendo-combobox> 
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="IsHold" title="Hold">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                  <input type="checkbox" [(ngModel)]="dataItem.IsHold" disabled/>
                </ng-template>
              </kendo-grid-column>
            </kendo-grid>
            </div>
          </ng-container>
          <!-- Hardware Grid -->
          <ng-container *ngIf="isCategorySelected('Hardware') && !isInterim">
            <div class="k-mt-6">
            <div class="tray-header">
              <h2 class="k-m-0">Hardware</h2>
              <button kendoButton (click)="addHardwareRow()" themeColor="primary" style="width: 70px;" icon="plus" [disabled]="!canEditHeader && this.appService.sharedData.internalReceiverForm.isEditMode">Add</button>
            </div>
            <kendo-grid [kendoGridBinding]="hardwareDetails" [selectable]="selectableSettings" [sortable]="true"
            [resizable]="true" class="bold-column-header wrap-header-grid">
              <kendo-grid-column field="HardwareTypeId" title="Hardware Type">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                  <kendo-combobox 
                  [data]="hardwareList" 
                  [(ngModel)]="dataItem.HardwareTypeId" 
                  textField="categoryName"
                  valueField="id" 
                  class="combobox" 
                  [valuePrimitive]="true"
                  [filterable]="true" 
                  placeholder="Select Hardware Type"></kendo-combobox>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="DeviceName" title="Project/Device Name">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                  <kendo-textbox [(ngModel)]="dataItem.DeviceName" placeholder="Enter Project/Device Name" ></kendo-textbox>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="HardwareId" title="Hardware ID">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                  <kendo-textbox [(ngModel)]="dataItem.HardwareId" placeholder="Enter Hardware Id" ></kendo-textbox>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="Qty" title="Qty">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                  <kendo-numerictextbox [(ngModel)]="dataItem.Qty" [format]="'n0'" placeholder="Enter Qty" [class.ng-touched]="dataItem.error"></kendo-numerictextbox>
                </ng-template>
              </kendo-grid-column>
            </kendo-grid>
            </div>
          </ng-container>
          <!-- Tray Grid -->
          <ng-container *ngIf="isCategorySelected('Tray') && !isInterim">
            <div class="k-mt-6">
            <div class="tray-header">
              <h2 class="k-m-0">Tray</h2>
              <button kendoButton (click)="addTrayRow()" themeColor="primary" style="width: 70px;" icon="plus" [disabled]="!canEditHeader && this.appService.sharedData.internalReceiverForm.isEditMode">Add</button>
            </div>
            <kendo-grid [kendoGridBinding]="trayDetails" [selectable]="selectableSettings" [sortable]="true"
            [resizable]="true" class="bold-column-header wrap-header-grid">
              <kendo-grid-column field="TrayVendorId" title="Tray Vendor">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                  <kendo-combobox [data]="trayVendor" [(ngModel)]="dataItem.TrayVendorId" [allowCustom]="true" textField="vendorName"valueField="trayVendorId" [valuePrimitive]="true" class="combobox" [filterable]="true" [kendoDropDownFilter]="filterSettings" placeholder="Select Tray Vendor"></kendo-combobox>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="TrayPartId" title="Tray Part#">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                  <kendo-combobox [data]="trayPart" [(ngModel)]="dataItem.TrayPartId" textField="trayNumber"valueField="trayPartId" [valuePrimitive]="true" class="combobox" placeholder="Select Tray Part"></kendo-combobox>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="Qty" title="Qty">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                  <kendo-numerictextbox [(ngModel)]="dataItem.Qty" [format]="'n0'" placeholder="Enter Tray Qty" [class.ng-touched]="dataItem.error"></kendo-numerictextbox>
                </ng-template>
              </kendo-grid-column>
            </kendo-grid>
            </div>
          </ng-container>
          <!-- Other Grid -->
          <ng-container *ngIf="isCategorySelected('Others') && !isInterim">
            <div class="k-mt-6">
            <div class="tray-header">
              <h2 class="k-m-0">Other</h2>
              <button kendoButton (click)="addOtherRow()" themeColor="primary" style="width: 70px;" icon="plus" [disabled]="!canEditHeader && this.appService.sharedData.internalReceiverForm.isEditMode">Add</button>
            </div>
            <kendo-grid [kendoGridBinding]="otherListDetails" [selectable]="selectableSettings" [sortable]="true"
            [resizable]="true" class="bold-column-header wrap-header-grid">
              <kendo-grid-column field="TypeId" title="Type">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                  <kendo-combobox [data]="otherList" [(ngModel)]="dataItem.TypeId" textField="categoryName"valueField="id" [valuePrimitive]="true" placeholder="Select Other"></kendo-combobox>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="Details" title="Details">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                  <kendo-textbox [(ngModel)]="dataItem.Details"placeholder="Enter Details" ></kendo-textbox>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="Qty" title="Qty">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                  <kendo-numerictextbox [(ngModel)]="dataItem.Qty" [format]="'n0'" placeholder="Enter Qty" [class.ng-touched]="dataItem.error"></kendo-numerictextbox>
                </ng-template>
              </kendo-grid-column>
            </kendo-grid>
            </div>
          </ng-container>
        </kendo-card-body>
      </kendo-card>
  </kendo-pdf-export>
  <div class="k-d-flex k-align-items-center k-gap-4">
    <kendo-label text="Attachments">
      <kendo-fileselect #upFiles1 (select)="onSelectReceiverAttachment($event)" (upload)="onUpload($event)" (remove)="onReceiverFileRemove($event)">
        [multiple]="true"></kendo-fileselect>
    </kendo-label>             
  </div>
  <div class="k-mt-2">
    <kendo-grid [data]="filteredReceiverAttachements" class="receipt-attachments" [selectable]="selectableSettings" [resizable]="true">
      <kendo-grid-column title="#" [width]="40">
        <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
          {{ rowIndex + 1 }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="path" title="File Name">
        <ng-template kendoGridCellTemplate let-dataItem>
          <a class="minimal-text link" [href]="downloadFileApi+dataItem.path" target="_blank">{{dataItem.path}}</a>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column title="Actions" [width]="100">
        <ng-template kendoGridCellTemplate let-dataItem>
          <button kendoButton [svgIcon]="ICON.trashIcon" themeColor="error" (click)="deleteReceiverAttachment(dataItem)" ></button>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </div>
  <div class="k-d-flex k-align-items-center k-gap-4 k-mt-3">
    <div style="display: flex; align-items: center; gap: 4px;">
      <h4 style="margin: 0;">NOTE:</h4>
      <span style="font-weight: normal;">Please print out the form and attach to the packages</span>
    </div>
    <span style="margin-left: auto;"></span>
    <button kendoButton type="button" rounded="large" themeColor="success" style="width:6rem" (click)="onSubmit()"
      [disabled]="isDisabled.addReceipt">Submit</button>
    <button kendoButton type="button" rounded="large" themeColor="dark" style="width:6rem"
      (click)="printSection()">Print</button>
  </div>
</div>