.input-icon {
  position: absolute;
  z-index: 1;
  right: 2%;
  bottom: 12%;
}

/* Ensure grid and cells do not restrict dropdown visibility */
.k-grid {
  overflow: visible !important;
}

.k-grid td {
  overflow: visible !important;
  position: relative;
  /* Required for proper dropdown positioning */
}

#addReceiptForm {
  --kendo-font-size: 0.625rem;
}

.tray-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; /* optional spacing before grid */
}
.form-row {
  display: flex;
  gap: 16px; /* adjust as needed */
  align-items: end;
}

.form-field {
  flex: 1; /* Makes all fields equal width */
}

.combobox {
  width: 100%;
}

.form-button {
  display: flex;
  align-items: end;
}
