<div class="k-d-flex k-align-items-center k-gap-1 k-py-0 k-px-4 page-header page-header-desktop">

  <h4>Receiving</h4>
  <i class="k-ml-auto"></i>
  <kendo-label text="Search" class="k-font-size-sm">
    <input kendoTextBox [(ngModel)]="searchTerm" type="search" placeholder="Search" class="search-input k-w-full"
      rounded="full" (input)="onSearchMaster()" />
  </kendo-label>
  <kendo-label text="Receipt Status" class="k-font-size-sm">
    <br />
    <kendo-multiselect 
      [data]="areaList"
      [(ngModel)]="selectedReceiptStatuses"
      [valuePrimitive]="true"
      placeholder="Select Receipt Status"
      [tagMapper]="tagDisplayLimits">
      <ng-template kendoMultiSelectItemTemplate let-dataItem>
        <input type="checkbox" 
               [checked]="selectedReceiptStatuses.includes(dataItem)" 
               (change)="toggleSelection(dataItem, 'receipt')"> 
        {{ dataItem }}
      </ng-template>
    </kendo-multiselect>
</kendo-label>

<kendo-label text="Facility" class="k-font-size-sm">
    <br />
    <kendo-multiselect 
      [data]="appService.masterData.receiptLocation || []" 
      [(ngModel)]="selectedFacilities"
      [textField]="'receivingFacilityName'"
      [valueField]="'receivingFacilityID'"
      [valuePrimitive]="true"
      [tagMapper]="tagDisplayLimit"
      placeholder="Select Facilities">
      <ng-template kendoMultiSelectItemTemplate let-dataItem>
        <input type="checkbox" 
               [checked]="selectedFacilities.includes(dataItem.receivingFacilityID)" 
               (change)="toggleSelection(dataItem.receivingFacilityID, 'facility')"> 
        {{ dataItem.receivingFacilityName }}
      </ng-template>
    </kendo-multiselect>
</kendo-label>



  <!-- <div class="search-box">
    <kendo-icon name="search" themeColor="secondary" class="search-icon"></kendo-icon>
    <input kendoTextBox type="search" placeholder="Search" class="search-input" rounded="full" />
    <button kendoButton rounded="full" themeColor="success" class="search-btn">Search</button>
  </div> -->
  <kendo-label text="Receipt Start Date" class="k-font-size-sm">
    <kendo-datepicker [format]="format" [(value)]="fromDate"></kendo-datepicker>
  </kendo-label>
  <kendo-label text="Receipt End Date" class="k-font-size-sm">
    <kendo-datepicker [format]="format" [(value)]="toDate"></kendo-datepicker>
  </kendo-label>
  <!-- <kendo-daterange class="k-max-w-fit">
    <kendo-label text="Start: ">
      <kendo-dateinput kendoDateRangeStartInput rounded="full" [(ngModel)]="range.start"></kendo-dateinput>
    </kendo-label>
    <kendo-label text="End: ">
      <kendo-dateinput kendoDateRangeEndInput rounded="full" [(ngModel)]="range.end"></kendo-dateinput>
    </kendo-label>
  </kendo-daterange> -->
  <button kendoButton rounded="full" themeColor="success" class="k-w-25" (click)="search()">Search</button>
  <button kendoButton rounded="full" themeColor="info" class="add-btn" (click)="openDialog()"
    [disabled]="!isAddButtonEnabled">Add</button>
</div>
<div
  class="k-d-flex k-align-items-center k-gap-2 k-py-2 k-px-2 k-flex-wrap k-justify-content-between page-header page-header-mobile">
  <h2 class="k-m-0">Receiving</h2>
  <button kendoButton rounded="full" themeColor="info" class="add-btn" (click)="openDialog()">Add</button>
  <div class="search-box k-w-full k-ml-auto">
    <kendo-icon name="search" themeColor="secondary" class="search-icon"></kendo-icon>
    <input kendoTextBox type="search" placeholder="Search" class="search-input k-w-full" rounded="full" />
    <button kendoButton rounded="full" themeColor="success" class="search-btn">Search</button>
  </div>
</div>
<!-- <div class="k-d-flex">
  <i class="k-ml-auto"></i>
  <button kendoButton (click)="doTestEditMode()">Test Edit Mode</button>
</div> -->
<div class="page-body k-m-4">
  <kendo-grid [kendoGridBinding]="gridDataResult.data" [selectable]="selectableSettings"
    [columnMenu]="columnMenuSettings" [filterable]="true" [sortable]="true" [resizable]="true" [pageSize]="pageSize"
    [skip]="skip" [pageable]="true" (pageChange)="pageChange($event)" 
    class="grid-header-sm grid-header-bold" (cellClick)="onCellClick($event)" [rowClass]="rowCallback">
    <kendo-grid-column field="receiptID" title="Receipt ID" [width]="112"></kendo-grid-column>
    <kendo-grid-column field="customerType" title="Receive From" [width]="135"></kendo-grid-column>
    <kendo-grid-column field="customerVendor" title="Customer / Vendor" [width]="161">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.customerVendor">{{dataItem.customerVendor}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="iseLots" title="ISELot#" [width]="175">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.iseLots">{{dataItem.iseLots}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="customerLots" title="Customer Lot#" [width]="175">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.customerLots">{{dataItem.customerLots}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="receivedOnBehalf" title="Received on Behalf" [width]="170">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.receivedOnBehalf">{{dataItem.receivedOnBehalf}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="receivingFacility" title="Receiving Facility" [width]="160"></kendo-grid-column>
    <kendo-grid-column field="modifiedby" title="Created By" [width]="125">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.modifiedby">{{dataItem.modifiedby}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="modifiedOn" title="Created On" [width]="155">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.modifiedOn | date:'MM/dd/yyyy HH:mm:ss' }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="deliveryMode" title="Delivery Method" [width]="160">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.deliveryMode">{{dataItem.deliveryMode}}</div>
      </ng-template>
    </kendo-grid-column>
    <!--<kendo-grid-column field="mailStatus" title="Mail Status" [width]="125"></kendo-grid-column>-->
    <kendo-grid-column field="receivingStatus" title="Receipt Status" [width]="160"></kendo-grid-column>
    <kendo-grid-column field="receiptType" title="Receipt Type" [width]="150"></kendo-grid-column>
    <kendo-grid-column field="trackingNumber" title="Tracking/AWB#" [width]="180"></kendo-grid-column>
    <kendo-grid-column field="active" title="Active" filter="boolean"[width]="100">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="k-d-flex">
          <span>{{dataItem.active?'Yes': 'No'}}</span>
          <!-- <button kendoButton [svgIcon]="ICON.moreVerticalIcon" class="k-ml-auto" #rowActionMenuTarget></button>
          <kendo-contextmenu showOn="click" [target]="rowActionMenuTarget" [items]="rowActionMenu"
            (select)="onSelectRowActionMenuV1($event, dataItem)"></kendo-contextmenu> -->
        </div>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</div>

<kendo-contextmenu [items]="rowActionMenu" (select)="onSelectRowActionMenu($event)" size="large"
  #gridContextMenu></kendo-contextmenu>

<kendo-dialog *ngIf="isDialogOpen" (close)="closeDialog()" [minWidth]="250" [width]="'95%'"
  class="dialog-round receipt-dialog">
  <div class="k-d-flex k-align-items-center k-mb-3 k-gap-3">
    <h3 class="k-m-0">Receipt</h3>
    <small *ngIf="appService.sharedData.receiving.isViewMode">(View Mode)</small>
    <small *ngIf="appService.sharedData.receiving.isEditMode">(Edit Mode)</small>
    <!-- receiptID -->
    <small *ngIf="appService.sharedData.receiving.dataItem?.receiptID">Receipt ID:
      {{appService.sharedData.receiving.dataItem.receiptID}}</small>
      
    <i class="k-ml-auto"></i>
    <button kendoButton type="button" rounded="full" [svgIcon]="ICON.xIcon" size="small"
      (click)="canCloseDialog()"></button>
  </div>
  <div class="dialog-body k-overflow-y-auto">
    <app-receipt (onClose)="closeDialog()" (onRestart)="onClearForm()"></app-receipt>
  </div>
</kendo-dialog>