<div class="k-d-flex k-align-items-center k-gap-3 k-py-2 k-px-4 page-header">
  <kendo-label text="Search" class="k-font-size-sm">
    <input kendoTextBox [(ngModel)]="searchTerm" type="search" placeholder="Search" class="search-input"
      rounded="full" (input)="onSearchMaster()" />
  </kendo-label>
  <kendo-label text="Customer" class="k-font-size-sm">
    <kendo-combobox id="customer" [data]="customer" [(ngModel)]="customerSelected"
      [textField]="customerTextField" [valueField]="customerValueField" placeholder="Select" rounded="full">
    </kendo-combobox>
  </kendo-label>
  <kendo-label text="From Date" class="k-font-size-sm">
    <kendo-datepicker [format]="format" [(value)]="fromDate" rounded="full"></kendo-datepicker>
  </kendo-label>
  <kendo-label text="To Date" class="k-font-size-sm">
    <kendo-datepicker [format]="format" [(value)]="toDate" rounded="full"></kendo-datepicker>
  </kendo-label>
  <div class="k-ml-auto k-d-flex k-gap-2">
    <button kendoButton rounded="full" themeColor="success" (click)="onSearch()">Search</button>
  </div>

</div>
<div class="k-m-4" *ngIf="!false">
 
  <kendo-grid [kendoGridBinding]="gridDataResult.data" [selectable]="selectableSettings" [columnMenu]="columnMenuSettings"
    [filterable]="true" [sortable]="true" [resizable]="true" [pageSize]="pageSize"
    [skip]="skip" [pageable]="true" (pageChange)="pageChange($event)" (cellClick)="onCellClick($event)" class="inventory-grid" [rowClass]="rowCallback" >
   
    
    <kendo-grid-column *ngFor="let c of columnData" [field]="c.field" [title]="c.title">
      <ng-template kendoGridCellTemplate let-dataItem>
        <ng-container *ngIf="c.isLink; else regularCell">
          <!-- Link Cell -->
          <a
            class="minimal-text link"
            [title]="dataItem?.[c.field] || ''"
            (click)="onLinkClick(c.field, dataItem)">
            {{ dataItem?.[c.field] || '' }}
          </a>
        </ng-container>
        <ng-template #regularCell>
          <!-- Regular Cell -->
          <span class="truncate-text" [title]="dataItem?.[c.field] || ''">
            {{ dataItem?.[c.field] || '' }}
          </span>
        </ng-template>
      </ng-template>
    </kendo-grid-column>
   
  </kendo-grid>
</div>
<kendo-contextmenu [items]="rowActionMenu" (select)="onSelectRowActionMenu($event)" size="large"
  #gridContextMenu></kendo-contextmenu>
  
<kendo-dialog *ngIf="isDialogOpen" (close)="closeDialog()" [minWidth]="250" [width]="'68%'" class="dialog-round">
  <div class="k-d-flex k-align-items-center k-mb-3">
    <h2 class="k-m-0">Details</h2>
    <button kendoButton type="button" rounded="full" class="k-ml-auto" [svgIcon]="ICON.xIcon" size="small"
      (click)="closeDialog()"></button>
  </div>
  <app-inventory-details></app-inventory-details>
</kendo-dialog>

<kendo-dialog *ngIf="isDialogOpen1" (close)="closeDialog()" [minWidth]="250" [width]="'68%'" class="dialog-round">
  <div class="k-d-flex k-align-items-center k-mb-3">
    <h2 class="k-m-0">On/Off Hold</h2>
    <button kendoButton type="button" rounded="full" class="k-ml-auto" [svgIcon]="ICON.xIcon" size="small"
      (click)="isDialogOpen1 = !isDialogOpen1"></button>
  </div>
  <app-onoff-hold></app-onoff-hold>
</kendo-dialog>

<kendo-dialog *ngIf="isDialogOpen2" (close)="closeDialog()" [minWidth]="250" [width]="'68%'" class="dialog-round">
  <div class="k-d-flex k-align-items-center k-mb-3">
    <h2 class="k-m-0">Hold Details</h2>
    <button kendoButton type="button" rounded="full" class="k-ml-auto" [svgIcon]="ICON.xIcon" size="small"
      (click)="isDialogOpen2 = !isDialogOpen2"></button>
  </div>
  <app-hold-details></app-hold-details>
</kendo-dialog>
<kendo-dialog *ngIf="isDialogOpen3" (close)="closeDialog()" [minWidth]="250" [width]="'75%'"
  class="dialog-round receipt-dialog">
  <div class="k-d-flex k-align-items-center k-mb-3">
    <h2 class="k-m-0">Receipt</h2>
    <button kendoButton type="button" rounded="full" class="k-ml-auto" [svgIcon]="ICON.xIcon" size="small"
      (click)="isDialogOpen3 = !isDialogOpen3"></button>
  </div>
  <div class="dialog-body k-overflow-y-auto">
    <app-receipt></app-receipt>
  </div>
</kendo-dialog>

