.dialog-body {
    height: 85vh;
}

.inventory-grid.k-grid .link {
    color: #007bff;
    text-decoration: underline;
}

a.minimal-text {
    pointer-events: none;
  }

  .truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }