.dialog-body {
  height: 85vh;
}

a.minimal-text {
  pointer-events: none;
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-grid {
  overflow-x: auto;
  white-space: nowrap;
}

.k-grid {
  min-width: 100%;
}
