<div class="k-d-flex k-flex-col k-gap-2 page-header page-header-desktop k-px-4 k-py-2">
  <!-- Title Row -->
  <div class="k-d-flex k-align-items-center k-justify-content-between">
    <h4 class="k-m-0">Receiver Form (Internal)</h4>
    <kendo-label text="Search" class="k-font-size-sm">
      <input kendoTextBox [(ngModel)]="searchTerm" type="search" placeholder="Search"
      class="search-input" (input)="onSearchMaster()" style="width: 250px;" />
    </kendo-label>
  </div>  

  <!-- Form Fields Grid Layout -->
  <div class="k-d-grid k-grid-cols-7 k-gap-4">
    <kendo-label text="Receiving Info #" class="k-font-size-sm">
      <kendo-textbox [(ngModel)]="mailNumber" class="k-w-full" placeholder="Enter Mail #"></kendo-textbox>
    </kendo-label>
  
    <kendo-label text="Customer" class="k-font-size-sm">
      <kendo-combobox [data]="customers" [(ngModel)]="selectedCustomer" textField="name"
        valueField="id" class="k-w-full" [filterable]="true" placeholder="Select Customer">
      </kendo-combobox>
    </kendo-label>
  
    <kendo-label text="Device Family" class="k-font-size-sm">
      <kendo-combobox [data]="customers" [(ngModel)]="selectedCustomer" textField="name"
        valueField="id" class="k-w-full" [filterable]="true" placeholder="Select Device Family">
      </kendo-combobox>
    </kendo-label>
  
    <kendo-label text="Device" class="k-font-size-sm">
      <kendo-textbox [(ngModel)]="mailNumber" class="k-w-full" placeholder="Enter Device"></kendo-textbox>
    </kendo-label>
  
    <kendo-label text="Customer Lots" class="k-font-size-sm">
      <kendo-textbox [(ngModel)]="mailNumber" class="k-w-full" placeholder="Enter Customer Lots"></kendo-textbox>
    </kendo-label>
  
    <kendo-label text="Status" class="k-font-size-sm">
      <kendo-combobox [data]="customers" [(ngModel)]="selectedCustomer" textField="name"
        valueField="id" class="k-w-full" [filterable]="true" placeholder="Select Status">
      </kendo-combobox>
    </kendo-label>
  
    <kendo-label text="ISE lot #" class="k-font-size-sm">
      <kendo-textbox [(ngModel)]="mailNumber" class="k-w-full" placeholder="Enter ISE Lot #"></kendo-textbox>
    </kendo-label>
  </div>
  
  <!-- Second Row -->
  <div class="k-d-grid k-grid-cols-7 k-gap-4">
    <kendo-label text="Mail #" class="k-font-size-sm">
      <kendo-textbox [(ngModel)]="mailNumber" class="k-w-full" placeholder="Enter Mail #"></kendo-textbox>
    </kendo-label>
  
    <kendo-label text="Receipt Start Date" class="k-font-size-sm">
      <kendo-datepicker [(value)]="fromDate" class="k-w-full"></kendo-datepicker>
    </kendo-label>
  
    <kendo-label text="Receipt End Date" class="k-font-size-sm">
      <kendo-datepicker [(value)]="toDate" class="k-w-full"></kendo-datepicker>
    </kendo-label>
  
    <kendo-label text="Location" class="k-font-size-sm">
      <kendo-combobox [data]="customers" [(ngModel)]="selectedCustomer" textField="name"
        valueField="id" class="k-w-full" [filterable]="true" placeholder="Select Location">
      </kendo-combobox>
    </kendo-label>
  
    <kendo-label text="Service Category" class="k-font-size-sm">
      <kendo-combobox [data]="customers" [(ngModel)]="selectedCustomer" textField="name"
        valueField="id" class="k-w-full" [filterable]="true" placeholder="Select Service Category">
      </kendo-combobox>
    </kendo-label>
  
    <kendo-label text="" class="k-font-size-sm k-col-span-1">
      <div class="k-d-flex k-align-items-center k-gap-4">
        <label class="k-font-size-sm k-d-flex k-align-items-center">
          <input type="radio" kendoRadioButton value="Expected" [(ngModel)]="radio1.layout"/>
          <span class="k-ml-2">Expected</span>
        </label>
        <label class="k-font-size-sm k-d-flex k-align-items-center">
          <input type="radio" kendoRadioButton value="UnExpected" [(ngModel)]="radio1.layout"/>
          <span class="k-ml-2">UnExpected</span>
        </label>
      </div>
    </kendo-label>
    <div class="k-d-flex k-gap-4 k-w-64">
      <button kendoButton rounded="full" themeColor="success" class="k-w-full k-h-8" (click)="search()">Search</button>
      <button kendoButton rounded="full" themeColor="info" class="k-w-full k-h-8" (click)="openDialog()" [disabled]="!isAddButtonEnabled">Add</button>
    </div>      
  </div>  
</div>
  
<div
  class="k-d-flex k-align-items-center k-gap-2 k-py-2 k-px-2 k-flex-wrap k-justify-content-between page-header page-header-mobile">
  <h2 class="k-m-0">Receiving</h2>
  <button kendoButton rounded="full" themeColor="info" class="add-btn" (click)="openDialog()">Add</button>
  <div class="search-box k-w-full k-ml-auto">
    <kendo-icon name="search" themeColor="secondary" class="search-icon"></kendo-icon>
    <input kendoTextBox type="search" placeholder="Search" class="search-input k-w-full" rounded="full" />
    <button kendoButton rounded="full" themeColor="success" class="search-btn">Search</button>
  </div>
</div>
<!-- <div class="k-d-flex">
  <i class="k-ml-auto"></i>
  <button kendoButton (click)="doTestEditMode()">Test Edit Mode</button>
</div> -->
<div class="page-body k-m-4">
  <kendo-grid [kendoGridBinding]="gridDataResult.data" [selectable]="selectableSettings"
    [columnMenu]="columnMenuSettings" [filterable]="true" [sortable]="true" [resizable]="true" [pageSize]="pageSize"
    [skip]="skip" [pageable]="true" (pageChange)="pageChange($event)" 
    class="grid-header-sm grid-header-bold" (cellClick)="onCellClick($event)" [rowClass]="rowCallback">
    <kendo-grid-column field="receivingInfo" title="Receiving Info #" [width]="50">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.receivingInfo">{{dataItem.receivingInfo}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="mail" title="Mail #" [width]="50">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.mail">{{dataItem.mail}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="customerVendor" title="Customer" [width]="70">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.customerVendor">{{dataItem.customerVendor}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="deliveryMode" title="Delivery Method" [width]="75">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.deliveryMode">{{dataItem.deliveryMode}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="trackingNumber" title="Tracking Code" [width]="70">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.trackingNumber">{{dataItem.trackingNumber}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="sender" title="Sender" [width]="50">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.sender">{{dataItem.sender}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="senderFrom" title="Send From" [width]="70">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.senderFrom">{{dataItem.senderFrom}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="subCategory" title="Sub Category" [width]="75">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.subCategory">{{dataItem.subCategory}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="mailStatus" title="Mail Status" [width]="70">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.mailStatus">{{dataItem.mailStatus}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="travelerStatus" title="Traveler Status" [width]="70">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.travelerStatus">{{dataItem.travelerStatus}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="modifiedOn" title="Created Date" [width]="100">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.modifiedOn | date: 'MM-dd-yyyy HH:mm a' }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="iseLots" title="ISE Lot #" [width]="60">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.iseLots">{{dataItem.iseLots}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="customerLots" title="Customer Lot #" [width]="50">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.customerLots">{{dataItem.customerLots}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="receiptStatus" title="Status" [width]="50">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.receiptStatus">{{dataItem.receiptStatus}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="modifiedby" title="Created By" [width]="50">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.modifiedby">{{dataItem.modifiedby}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="recipient" title="Recipient" [width]="50">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.recipient">{{dataItem.recipient}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="location" title="Location" [width]="50">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.location">{{dataItem.location}}</div>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</div>

<kendo-contextmenu [items]="rowActionMenu" (select)="onSelectRowActionMenu($event)" size="large"
  #gridContextMenu></kendo-contextmenu>

<kendo-dialog *ngIf="isDialogOpen" (close)="closeDialog()" [minWidth]="250" [width]="'95%'"
  class="dialog-round receipt-dialog">
  <div class="k-d-flex k-align-items-center k-mb-3 k-gap-3">
    <h3 class="k-m-0">Receipt</h3>
    <small *ngIf="appService.sharedData.receiving.isViewMode">(View Mode)</small>
    <small *ngIf="appService.sharedData.receiving.isEditMode">(Edit Mode)</small>
    <!-- receiptID -->
    <small *ngIf="appService.sharedData.receiving.dataItem?.receiptID">Receipt ID:
      {{appService.sharedData.receiving.dataItem.receiptID}}</small>
      
    <i class="k-ml-auto"></i>
    <button kendoButton type="button" rounded="full" [svgIcon]="ICON.xIcon" size="small"
      (click)="canCloseDialog()"></button>
  </div>
  <div class="dialog-body k-overflow-y-auto">
    <app-receipt (onClose)="closeDialog()" (onRestart)="onClearForm()"></app-receipt>
  </div>
</kendo-dialog>