<div class="k-d-flex k-align-items-center  k-gap-1 k-py-0 k-px-4 page-header">
  <h4>Receiver Form (Internal)</h4>
  <i class="k-ml-auto"></i>
  <kendo-label text="Search" class="k-font-size-sm">
    <input kendoTextBox [(ngModel)]="searchTerm" type="search" placeholder="Search" class="search-input k-w-full"
    rounded="full" (input)="onSearchMaster()" />
  </kendo-label>
  <kendo-label text="Receiving Status" class="k-font-size-sm">
    <kendo-multiselect [data]="status" [(ngModel)]="selectedStatus" textField="itemText"
      valueField="masterListItemId" class="k-w-full" [filterable]="true" placeholder="Select Status">
      <ng-template kendoMultiSelectItemTemplate let-dataItem>
        <input type="checkbox" 
        [checked]="isSelectedStatus(dataItem.masterListItemId)" 
        (change)="toggleSelection(dataItem, 'status')">
        {{ dataItem.itemText }}
      </ng-template>
    </kendo-multiselect>
  </kendo-label>
  <kendo-label text="" class="k-font-size-sm k-col-span-1"> 
    <div class="k-d-flex k-align-items-center k-gap-4">
      <label class="k-font-size-sm k-d-flex k-align-items-center">
        <input type="radio" kendoRadioButton [value]="true" [(ngModel)]="isExpected" />
        <span class="k-ml-2">Expected</span>
      </label>
      <label class="k-font-size-sm k-d-flex k-align-items-center">
        <input type="radio" kendoRadioButton [value]="false" [(ngModel)]="isExpected" />
        <span class="k-ml-2">UnExpected</span>
      </label>      
    </div>
  </kendo-label>
  <kendo-label text="Start Date" class="k-font-size-sm">
    <kendo-datepicker [format]="format" [(value)]="fromDate"></kendo-datepicker>
  </kendo-label>
  <kendo-label text="End Date" class="k-font-size-sm">
    <kendo-datepicker [format]="format" [(value)]="toDate"></kendo-datepicker>
  </kendo-label>
  <button kendoButton rounded="full" themeColor="success" class="k-w-25"  (click)="search()">Search</button>
  <button kendoButton rounded="full" themeColor="info" class="add-btn" (click)="openAddDialog()">Add</button>
</div>
  <div></div>
<div
  class="k-d-flex k-align-items-center k-gap-2 k-py-2 k-px-2 k-flex-wrap k-justify-content-between page-header page-header-mobile">
  <h2 class="k-m-0">Receiving</h2>
  <button kendoButton rounded="full" themeColor="info" class="add-btn" (click)="openDialog()">Add</button>
  <div class="search-box k-w-full k-ml-auto">
    <kendo-icon name="search" themeColor="secondary" class="search-icon"></kendo-icon>
    <input kendoTextBox type="search" placeholder="Search" class="search-input k-w-full" rounded="full" />
    <button kendoButton rounded="full" themeColor="success" class="search-btn">Search</button>
  </div>
</div>
<!-- <div class="k-d-flex">
  <i class="k-ml-auto"></i>
  <button kendoButton (click)="doTestEditMode()">Test Edit Mode</button>
</div> -->
<div class="page-body k-m-4">
  <kendo-grid [kendoGridBinding]="gridDataResult.data" [selectable]="selectableSettings"
    [columnMenu]="columnMenuSettings" [filterable]="true" [sortable]="true" [resizable]="true" [pageSize]="pageSize"
    [skip]="skip" [pageable]="true" (pageChange)="pageChange($event)" 
    class="grid-header-sm grid-header-bold" (cellClick)="onCellClick($event)" [rowClass]="rowCallback">
    <kendo-grid-column field="receivingNo" title="Receiving No" [width]="135">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.receivingNo">{{dataItem.receivingNo}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="mailNo" title="Mailroom No" [width]="135">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.mailNo">{{dataItem.mailNo}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="customerName" title="Customer" [width]="135">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.customerName">{{dataItem.customerName}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="createDate" title="Created Date" [width]="170">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.createDate | date: 'MM-dd-yyyy HH:mm a' }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="recipient" title="Recipient / Attention To" [width]="190">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.recipient">{{dataItem.recipient}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="deliveryMethod" title="Delivery Method" [width]="160">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.deliveryMethod">{{dataItem.deliveryMethod}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="expectedDate" title="Expected Date" [width]="170">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.expectedDate | date: 'MM-dd-yyyy HH:mm a' }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="noofPackages" title="No of Package" [width]="130">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.noofPackages">{{dataItem.noofPackages}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="receivingStatus" title="Status" [width]="110">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.receivingStatus">{{dataItem.receivingStatus}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="mailStatus" title="Mail Status" [width]="120">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.mailStatus">{{dataItem.mailStatus}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="senderName" title="Sender Name" [width]="135">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.senderName">{{dataItem.senderName}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="awb" title="AWB" [width]="120">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.awb">{{dataItem.awb}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="location" title="Location" [width]="110">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.location">{{dataItem.location}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="createdBy" title="Created by" [width]="117">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.createdBy">{{dataItem.createdBy}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="device" title="Device Name" [width]="129">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.device">{{dataItem.device}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="iseLotNumbers" title="ISE Lot Number #" [width]="154">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.iseLotNumbers">{{dataItem.iseLotNumbers}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="customerLotNumbers" title="Customer Lot #" [width]="142">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.customerLotNumbers">{{dataItem.customerLotNumbers}}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="expectedUnexpected" title="Expected/Unexpected" [width]="180">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="truncate-text" [title]="dataItem.expectedUnexpected">{{dataItem.expectedUnexpected}}</div>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</div>

<kendo-contextmenu [items]="rowActionMenu" (select)="onSelectRowActionMenu($event)" size="large"
  #gridContextMenu></kendo-contextmenu>

<kendo-dialog *ngIf="isDialogOpen" (close)="closeDialog()" [minWidth]="250" [width]="'95%'"
  class="dialog-round receipt-dialog">
  <div class="k-d-flex k-align-items-center k-mb-3 k-gap-3">
    <h3 class="k-m-0">Receiving Info</h3>
    <small *ngIf="appService.sharedData.internalReceiverForm.isViewMode">(View Mode)</small>
    <small *ngIf="appService.sharedData.internalReceiverForm.isEditMode">(Edit Mode)</small>
    <!-- receiptID -->
    <small *ngIf="appService.sharedData.internalReceiverForm.dataItem?.receiptID">Receipt ID:
      {{appService.sharedData.internalReceiverForm.dataItem.receiptID}}</small>
      
    <i class="k-ml-auto"></i>
    <button kendoButton type="button" rounded="full" [svgIcon]="ICON.xIcon" size="small"
      (click)="canCloseDialog()"></button>
  </div>
  <div class="dialog-body k-overflow-y-auto">
    <add-receiver-form (onClose)="closeDialog()" (onRestart)="onClearForm()"></add-receiver-form>
  </div>
</kendo-dialog>