/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  // robot family
  font-family: 'Roboto', sans-serif;
}

:root {
  --page-header-bg: #EEF2F5;
  --card-bg-green: #E8F9F1;
  --card-bg-blue: #E4F0FD;
}

a.link {
  color: #0058e9;
}

.page-header {
  background-color: var(--page-header-bg);
}

.required-label::after {
  content: "*";
  color: red;
  margin-left: 0.25rem;
}

.search-box {
  position: relative;

  .search-icon {
    position: absolute;
    margin: 0.825rem;
    z-index: 1;
    // background-color: goldenrod;
  }

  .search-input {
    padding-left: 2.2rem;
    padding-right: 4rem;
    line-height: 2;
    font-size: 1rem;
    border-radius: 2rem;
    width: 35vw;
  }

  .search-btn {
    position: absolute;
    right: 0.5rem;
    z-index: 1;
    top: 14%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

.bold-column-header .k-column-title {
  font-weight: bold;
}

.cell-border-none td {
  border: none !important;
}

.dialog-round .k-dialog {
  border-radius: 1rem;
}

.card-green {
  background-color: #cbffee;
  background-color: var(--card-bg-green);
}

.card-blue {
  background-color: #c5f6ff;
  background-color: var(--card-bg-blue);
}

.card-full {
  width: 100% !important;
}

.cartons {
  tr {
    background-color: var(--card-bg-green);
  }

  tr.k-table-alt-row {
    background-color: var(--card-bg-blue) !important;
  }

  .center {
    text-align: center;
  }
}

.grid-header-sm {
  .k-column-title {
    font-size: 0.75rem;
  }
}

.grid-header-bold {
  .k-column-title {
    font-weight: bold;
  }
}

.wrap-header-grid .k-column-title {
  white-space: normal !important;
  /* Allow text to wrap */
  height: auto !important;
  /* Ensure the header cell's height adjusts to the content */
  text-overflow: clip;
  /* Adjust text overflow behavior */
}

.k-drawer-item .k-item-text {
  font-size: 0.875rem;
}

.receipt-attachments td {
  padding: 3px 0.75rem !important;
}

.label-fs {
  label {
    font-size: 0.75rem;
  }
}

.device-grid {
  --kendo-font-size: 0.625rem !important;

  .k-svg-icon {
    width: 8px;
    height: 8px;
  }

  // .k-input-inner,
  // td,
  // th {
  //   font-size: 0.75rem !important;
  //   font-size: 0.625rem !important;
  //   font-size: 0.5rem !important;
  // }

  td,
  th {
    padding: 0.25rem 0.375rem !important;
  }
}

.grid-receiving {
  table tbody {
    user-select: none;
  }
}

// other than mobile
@media (min-width: 769px) {
  .add-btn {
    width: 7rem
  }

  .page-header-mobile,
  .header-mobile {
    display: none;
  }

}

// medium screens
@media (max-width: 1023px) {
  .flex-auto-md {
    flex: auto;
  }
}

// mobile view
@media (max-width: 768px) {

  // common css
  .d-none-sm {
    display: none;
  }

  // specific
  .add-btn {
    padding: 0.25rem 2rem;
  }

  .login-container {
    height: 90vh !important;

    .k-card {
      width: 90% !important;
    }
  }

  .header-desktop,
  .page-header-desktop {
    display: none;
  }

  // .header-mobile {
  //     display: none;
  // }
  .page-header-mobile {
    .search-box .search-input {
      width: 100% !important;
    }
  }

  .page-body,
  .grid-container {
    margin: 0.5rem;
    overflow-x: auto;

    .k-grid {
      width: 300vw;
    }
  }

  .page-body.w-120-sm {
    .k-grid {
      width: 120vw;
    }
  }

  .receiving-dialog,
  .receipt-dialog {
    .dialog-body {
      height: 92%;
    }

    .k-dialog {
      height: 94%;
      width: 90% !important;

    }
  }

  .shipping-record {

    .search-box-container {
      align-items: end;
      flex-direction: column;
    }

    .search-box,
    .search-box .search-input {
      width: 100% !important;
    }

    .add-btn {
      padding: 0.25rem 2rem;
      width: auto !important;
    }

    .nested-cards {
      flex-direction: column;
    }

    .flex-col-sm {
      flex-direction: column;
    }

  }

}

// apply css if the screen is in beteen 768px and 1492px
@media only screen and (min-width: 768px) and (max-width: 1492px) {
  .header-desktop {
    .app-logo {
      width: 12rem !important;
    }

    .k-spacer {
      flex-basis: 0 !important;
    }

    .nav-bar {
      gap: 0.5rem;

      button {
        font-size: 10px;
      }
    }

    .profile-avatar {
      font-size: 10px;
      gap: 0.5rem;

      .avatar-img {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}

@media (max-width: 1096px) {
  .header-desktop {
    .app-logo-btn {
      padding: 0;

      .app-logo {
        width: 9rem !important;
      }
    }

    .nav-bar {
      gap: 0;

      button {
        font-size: 8px;
      }
    }

    .profile-avatar {
      font-size: 8px;
      gap: 0.5rem;

      .avatar-img {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}

.k-notification-group {
  z-index: 10002;
  right: 1rem !important;
  top: 1rem !important;

  .custom-notification {
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
  }
}

.k-input-solid.invalid {
  --kendo-color-border: var(--kendo-color-error);
}

.highlighted-row,
.highlighted-row:hover {
  background-color: var(--kendo-color-primary-emphasis) !important;
}


.printable-area,
.printable-area * {
  visibility: visible !important;
}

.printable-area {
  position: absolute;
  left: 0;
  top: 0;
}

body.print-mode * {
  visibility: hidden;
}

.minimal-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}