.k-input-smaller {
    width: 12rem; /* Adjust the width to make it smaller */
  }
  a.minimal-text {
    pointer-events: none;
  }
  .truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }