<div class="k-d-flex k-align-items-center k-gap-3 k-mb-3">
    <div class="search-box k-ml-auto">
        <kendo-icon name="search" themeColor="secondary" class="search-icon"></kendo-icon>
        <input kendoTextBox type="search" placeholder="Search" class="search-input" rounded="full" />
        <button kendoButton rounded="full" themeColor="success" class="search-btn">Search</button>
    </div>
    <button kendoButton rounded="full" themeColor="info" style="width:7rem">Add</button>
</div>
<kendo-card class="card-green card-full">
    <kendo-card-body class="card-flex">
        <div class="k-d-flex k-gap-3">
            <kendo-label text="Location" class="k-w-full">
                <kendo-combobox [data]="listItems" [(ngModel)]="selectedValues" placeholder="Location"
                    rounded="large"></kendo-combobox>
            </kendo-label>
            <kendo-label text="Received From" class="k-w-full">
                <kendo-combobox [data]="listItems" [(ngModel)]="selectedValues" placeholder="Choose"
                    rounded="large"></kendo-combobox>
            </kendo-label>
        </div>
    </kendo-card-body>
</kendo-card>
<div class="k-my-6">
    <kendo-grid [kendoGridBinding]="gridData4" [selectable]="selectableSettings" [resizable]="true"
        class="bold-column-header cell-border-none">
        <kendo-grid-checkbox-column [width]="40"></kendo-grid-checkbox-column>
        <kendo-grid-column field="lot" title="Lot#/Serial#"></kendo-grid-column>
        <kendo-grid-column field="Location" title="Location"></kendo-grid-column>
        <kendo-grid-column field="Person" title="Person"></kendo-grid-column>
        <kendo-grid-column field="Qty" title="Qty"></kendo-grid-column>
        <kendo-grid-column field="SystemUser" title="System User"></kendo-grid-column>
        <kendo-grid-column field="Status" title="Status"></kendo-grid-column>
        <kendo-grid-column [width]="60">
            <ng-template kendoGridCellTemplate let-dataItem>
                <button kendoButton icon="more-vertical" #rowActionMenu></button>
                <kendo-contextmenu showOn="click" [target]="rowActionMenu" [items]="items"></kendo-contextmenu>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
</div>
<div class="k-d-flex k-gap-3 k-mt-3">
    <button kendoButton type="button" rounded="full" themeColor="error" class="k-ml-auto"
        style="width:6rem">Clear</button>
    <button kendoButton type="button" rounded="full" themeColor="info">Check in / Check
        out</button>
</div>