<div class="k-d-flex k-align-items-center k-gap-3 k-py-2 k-px-10 page-header">
    <h2>Hold</h2>
    <i class="k-ml-auto"></i>
        <kendo-icon name="search" themeColor="secondary" class="search-icon"></kendo-icon>
        <input kendoTextBox [(ngModel)]="searchTerm" type="search" placeholder="Search" class="search-input" rounded="full" (input)="onSearch()" style="width: auto;" />
        <div class="k-d-flex k-align-items-center k-gap-1 date-picker-group">
            <kendo-label text="Start Date" class="k-font-size-sm"></kendo-label>
            <kendo-datepicker [format]="format" [(value)]="fromDate"></kendo-datepicker>
        </div>
        <div class="k-d-flex k-align-items-center k-gap-1 date-picker-group">
            <kendo-label text="End Date" class="k-font-size-sm"></kendo-label>
            <kendo-datepicker [format]="format" [(value)]="toDate"></kendo-datepicker>
        </div>
        <button kendoButton rounded="full" themeColor="success" class="search-btn" (click)="onSearch()">Search</button>
</div>
<div class="k-m-10">
    <kendo-grid 
        [kendoGridBinding]="gridDataResult.data"
        [filterable]="true"
        [sortable]="true"
        [resizable]="true"
        [pageSize]="pageSize"
        [skip]="skip"
        [pageable]="true"
        (pageChange)="pageChange($event)"
        (cellClick)="onCellClick($event)"
        class="grid-header-sm grid-header-bold">
        <kendo-grid-column *ngFor="let c of columnData" [field]="c.field" [title]="c.title"></kendo-grid-column>
    </kendo-grid>
</div>
<kendo-contextmenu [items]="rowActionMenu" (select)="onSelectRowActionMenu($event)" #gridContextMenu></kendo-contextmenu>
<kendo-dialog *ngIf="isDialogOpen"  [width]="'68%'" class="dialog-round">
    <div class="k-d-flex k-align-items-center k-mb-3">
        <h2 class="k-m-0">On / Off Hold</h2>
        <button kendoButton type="button" rounded="full" class="k-ml-auto" [svgIcon]="ICON.xIcon"(click)="closeDialog()"></button>
    </div>
    <app-edit-inventory-hold [selectedRowData]="holdData" (cancel)="closeDialog()"></app-edit-inventory-hold>
</kendo-dialog>
