<div class="k-m-4" id="addReceiptForm">
  <div>
    <div class="k-d-flex k-flex-wrap k-align-items-stretch k-gap-4 k-w-full k">
      <kendo-card class="card-green k-flex-1 flex-auto-md">
        <kendo-card-header class="k-hbox">
          <div>
              <h1 kendoCardTitle>Shipper Information</h1>
          </div>
        </kendo-card-header>
        <kendo-card-body class="card-flex">
          <div class="k-d-flex k-align-items-center k-gap-4">
            <kendo-label text="Requestor" class="k-w-full">
              <b class="required-label"></b>
              <kendo-combobox [data]="employees" [(ngModel)]="requestorSelected" [textField]="'EmployeeName'"
                [valueField]="'EmployeeID'" [kendoDropDownFilter]="filterSettings" placeholder="Select"
                rounded="large"></kendo-combobox>
            </kendo-label>
            <kendo-label text="Email" class="k-w-full">
              <kendo-textbox [(ngModel)]="requestorEmail"></kendo-textbox>
          </kendo-label>
          </div>
          <div class="k-d-flex k-align-items-center k-gap-4">
            <div>
              <input type="radio" kendoRadioButton value="RequestorAddress" #RequestorAddress [(ngModel)] ="requestorAddress" name="group2"/>
              <kendo-label class="k-radio-label" [for]="RequestorAddress" text="46800 Bayside Parkway, Fremont, CA 94538"></kendo-label>
            </div>
          </div>
          <span class="k-form-separator"></span>
          <kendo-label text="Shipment Method: (If Other than ISE Driver)"></kendo-label>
          <div class="k-d-flex k-align-items-center k-gap-4">
            <kendo-label text="Service Type" class="k-w-full">
              <b class="required-label"></b>
              <kendo-combobox [data]="serviceTypes" [(ngModel)]="serviceTypeSelected" 
              [textField]="'name'" [valueField]="'id'" placeholder="Select" rounded="large"
                [kendoDropDownFilter]="filterSettings"></kendo-combobox>
            </kendo-label>
            <kendo-label text="Account No" class="k-w-full">
              <kendo-textbox [(ngModel)]="accountNumber"></kendo-textbox>
          </kendo-label>
          </div>
          <div class="k-d-flex k-align-items-center k-gap-4">
            <kendo-label text="Special Instructions/Handling" class="k-w-full">
              <kendo-textarea [(ngModel)]="shipToInstructions" [rows]="5" placeholder="Enter text"
                rounded="large"></kendo-textarea>
            </kendo-label>
          </div>
        </kendo-card-body>
      </kendo-card>
      
      <kendo-card class="card-blue k-flex-1 flex-auto-md">
        <kendo-card-header class="k-hbox">
          <div>
              <h1 kendoCardTitle>Ship To</h1>
          </div>
        </kendo-card-header>
        <kendo-card-body class="card-flex">
          <div class="k-d-flex k-align-items-center k-gap-4">
            <kendo-label text="Recipient's Name" class="k-w-full">
              <b class="required-label"></b>
              <kendo-textbox [(ngModel)]="recipientName"></kendo-textbox>
            </kendo-label>
            <kendo-label text="Phone Number" class="k-w-full">
              <b class="required-label"></b>
              <kendo-textbox [(ngModel)]="phoneNumber"></kendo-textbox>
          </kendo-label>
          </div>
        <div class="k-d-flex k-align-items-center k-gap-4">
          <div>
            <input type="radio" kendoRadioButton value="Customer" #Customer [(ngModel)]="customerOrVendor" name="group1" />
            <kendo-label class="k-radio-label" [for]="Customer" text="Customer"></kendo-label>
          </div>
          <div>
            <input type="radio" kendoRadioButton value="Vendor" #Vendor [(ngModel)]="customerOrVendor" name="group1"/>
            <kendo-label class="k-radio-label" [for]="Vendor" text="Vendor"></kendo-label>
          </div>
        </div>
        <div class="k-d-flex k-align-items-center k-gap-4">
        <kendo-label class="k-w-full" *ngIf="customerOrVendor == 'Customer'">
        <kendo-combobox [data]="customers" [(ngModel)]="customerSelected" [textField]="'CustomerName'"
          [valueField]="'CustomerID'" placeholder="Select Customer" rounded="large" (ngModelChange)="onCustomerVendorChanged()"
          [kendoDropDownFilter]="filterSettings">
        </kendo-combobox>
        </kendo-label>
        <kendo-label class="k-w-full" *ngIf="customerOrVendor == 'Vendor'">
          <kendo-combobox [data]="vendors" [(ngModel)]="vendorSelected" [allowCustom]="true"
            [textField]="'VendorName'" [valueField]="'VendorID'" placeholder="Select Vendor" rounded="large" (ngModelChange)="onCustomerVendorChanged()"
            [kendoDropDownFilter]="filterSettings"
            [valueNormalizer]="valueNormalizerVendor"></kendo-combobox>
        </kendo-label>
      </div>
      <div class="k-d-flex k-align-items-center k-gap-4">
        <kendo-label text="Address 1" class="k-w-full">
          <b class="required-label"></b>
          <kendo-textbox [(ngModel)]="shipToAddress1"></kendo-textbox>
      </kendo-label>
      </div>
      <div class="k-d-flex k-align-items-center k-gap-4">
        <kendo-label text="Address 2" class="k-w-full">
          <kendo-textbox [(ngModel)]="shipToAddress2"></kendo-textbox>
      </kendo-label>
      </div>
      <div class="k-d-flex k-align-items-center k-gap-4">
        <kendo-label text="City" class="k-w-full">
          <b class="required-label"></b>
          <kendo-textbox [(ngModel)]="shipToCity"></kendo-textbox>
      </kendo-label>
      <kendo-label text="State" class="k-w-full">
        <b class="required-label"></b>
        <kendo-textbox [(ngModel)]="shipToState"></kendo-textbox>
      </kendo-label>
      <kendo-label text="Zip" class="k-w-full">
        <b class="required-label"></b>
        <kendo-textbox [(ngModel)]="shipToZip"></kendo-textbox>
      </kendo-label>
     
      <kendo-label text="Country" class="k-w-full">
        <b class="required-label"></b>
        <kendo-combobox [data]="countries" [(ngModel)]="countrySelected" [textField]="'countryName'"
          [kendoDropDownFilter]="filterSettings" [valueField]="'countryID'" placeholder="Select"
          rounded="large"></kendo-combobox>
      </kendo-label>
    </div>
    </kendo-card-body>
    </kendo-card>
    </div>
    
  </div>
  <!-- <div class="k-d-flex k-align-items-center k-gap-4 k-mt-3">
  <kendo-label text="Goods Type">
    <kendo-combobox [data]="goodsType" [(ngModel)]="goodsTypeSelected" [textField]="'goodsTypeName'"
      [valueField]="'goodsTypeID'" placeholder="Select type" rounded="large"
      [disabled]="isDisabledGoodsType"></kendo-combobox>
  </kendo-label>
</div> -->
  <div>
   
    <div class="page-body">
      <kendo-grid [kendoGridBinding]="lineItemsGrid" [selectable]="selectableSettings" [sortable]="true"
        [resizable]="true" class="bold-column-header wrap-header-grid">
        <kendo-grid-checkbox-column [width]="40"></kendo-grid-checkbox-column>
        <kendo-grid-column field="description" title="Description">
          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <ng-container *ngIf="dataItem.recordStatus == 'I' || dataItem.recordStatus == 'U'; else showValue">
              <kendo-textbox [(ngModel)]="dataItem.description" placeholder="Description"></kendo-textbox>
            </ng-container>
            <ng-template #showValue>
              <span>{{dataItem.description}}</span>
            </ng-template>
          </ng-template></kendo-grid-column>
        <kendo-grid-column field="quantity" title="Quantity">
          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <ng-container *ngIf="dataItem.recordStatus == 'I' || dataItem.recordStatus == 'U'; else showValue">
              <kendo-textbox [(ngModel)]="dataItem.quantity" placeholder="Quantity"></kendo-textbox>
            </ng-container>
            <ng-template #showValue>
              <span>{{dataItem.quantity}}</span>
            </ng-template>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="value" title="Value">
          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <ng-container *ngIf="dataItem.recordStatus == 'I' || dataItem.recordStatus == 'U'; else showValue">
              <kendo-textbox [(ngModel)]="dataItem.value" placeholder="Value"></kendo-textbox>
            </ng-container>
            <ng-template #showValue>
              <span>{{dataItem.value}}</span>
            </ng-template>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="lotNumber" title="Lot Number">
          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <div class="k-d-flex k-align-items-center">
              <kendo-autocomplete
                placeholder="#Lot Number"
                rounded="large"
                [(ngModel)]="dataItem.lotNumberSelected"
                [data]="lotNumbers"
                [valueField]="'name'"
                [filterable]="true"
                (filterChange)="onLotFilter($event)">
              </kendo-autocomplete>
              <button kendoButton [svgIcon]="ICON.moreVerticalIcon" class="k-ml-auto"
                (click)="onOpenRowActionMenu(dataItem)" #rowActionMenuTarget></button>
              <kendo-contextmenu showOn="click" [target]="rowActionMenuTarget" [items]="rowActionMenu"
                (select)="onSelectRowActionMenu($event, dataItem, rowIndex)"></kendo-contextmenu>
            </div>
          </ng-template>
        </kendo-grid-column>
      </kendo-grid>
    </div>
    <div class="k-d-flex k-align-items-center k-gap-3">
      <button kendoButton type="button" rounded="large" themeColor="info" (click)="addLineitemRow()"
        [disabled]="isDisabled.addLineIem">Add Lineitem</button>
    </div>
  </div>

  <div class="k-d-flex k-flex-wrap k-align-items-center k-gap-4 k-mt-3">
    <kendo-label text="Employee" *ngIf="isViewOrEdit">
      <kendo-combobox [data]="employees" [(ngModel)]="signatureEmployeeSelected" [textField]="'EmployeeName'"
        [valueField]="'EmployeeID'" [kendoDropDownFilter]="filterSettings" placeholder="Select"
        rounded="large"></kendo-combobox>
    </kendo-label>
    <button kendoButton type="button" *ngIf="isViewOrEdit" rounded="large" themeColor="success" style="width:8rem" (click)="upsertAnotherShipment(true)"
      [disabled]="isDisabled.addAnotherShipping">Send for Approval</button>
    <span style="margin-left: auto;"></span>
  </div>

<div class="k-d-flex k-align-items-center k-gap-4 k-mt-3">
  <button kendoButton type="button" rounded="large" themeColor="dark" style="width:6rem"
    (click)="printSection()">Print</button>
  <span style="margin-left: auto;"></span>
  <button kendoButton type="button" rounded="large" themeColor="primary" style="width:6rem"
    [disabled]="isDisabled.clearAnotherShipping" (click)="onClearForm()">Clear</button>
  <button kendoButton type="button" rounded="large" themeColor="success" style="width:6rem" (click)="upsertAnotherShipment(false)"
    [disabled]="isDisabled.addAnotherShipping">Save as Draft</button>
  
</div>
</div>
